[2018-05-29 13:36] akesandgren commented on #6374
Why are you talking about 2.26 for GCC 6.4.0?? EB uses 2.28 for GCC-6.4.0...eb

[2018-05-29 19:22] akesandgren commented on #6374
Ooops, shouldn't read and reply when brain is otherwise engaged...

[2018-06-05 20:38] omula opened #6427 "OpenMPI/3.1.0-GCC-7.3.0-2.30 build fails linking with ucx"
Trying to compile OpenMPI I got stuck with the error:

I tried to compiled using `--without-ucx` but due to using `--with-hcoll=/opt/mellanox/hcoll` which was linked with ucx it wasn't working.

By mistake while trying to fix the issue by hand I compiled it with system GCC and the compilation finished without errors. The difference is that system GCC/binutils uses bfd as linker instead of gold.
I

[2018-06-06 08:17] boegel commented on #5895
fixed in #6428

[2018-06-06 08:29] lpouillo commented on #6302
Hi @boegel, I have encounter the same issue and use the
[code]
in the Qt eb file and I succesfully built ParaView/5.4.1-foss-2017b-mpi.

Thanks

[2018-06-06 09:07] lpouillo commented on #6295
Hello,

by adding the dependency on GCC-4.9.3 and providing both licence_server and key, I succesfully install my new Matlab 2017a version, with mcc and mex.

Default Centos 4.8.5 compilers was not working.

Thanks for giving the information that help me to solve my installation

system : Centos 7.4
easybuild : 3.6.1

Best regards

[2018-06-06 15:21] vanzod commented on #6374
I do not like much the solution of adding `GCCcore/6.4.0` as default dependency. Having it optional for CentOS 6 users seem a cleaner way to me. If a comment in the easyconfig file may be ignored by users, how about adding a system GCC version check in the easyblock and automatically add the `GCCcore/6.4.0` dependency if the version is too old?

[2018-06-06 18:48] boegel commented on #6374
see https://github.com/easybuilders/easybuild-easyblocks/pull/1435

[2018-06-06 19:06] boegel commented on #6374
@geimer w.r.t. compilation issues for GCC 6.4, see https://github.com/easybuilders/easybuild-easyconfigs/pull/6432

[2018-06-07 19:31] colingarvey opened #6437 "Packaging (fpm) fails when building bundle with rubygem exts and Ruby dependencies"
I'm using EasyBuild to install an application with dependencies on Ruby. This package loads a particular version of Ruby and sets the environment variable, GEM_PATH.

Here's the command that Easybuild is trying to run, with Ruby version 2.2 loaded, located in a non-system directory:

[code]
The error output is:
[code]

I'm having a horrible time trying to unload the Ruby module and environment spe

[2018-06-07 20:13] verdurin commented on #6427
@omula Could you give us a bit more information about the system on which you saw the error?

[2018-06-08 10:22] omula commented on #6427
@verdurin the system is a power9 (ppc64le) and it has installed RHEL 7.4.

[2018-06-11 08:27] boegel commented on #6427
@omula Is this a known issue for OpenMPI, is it worth reporting it to them?

[2018-06-11 09:54] omula commented on #6427
@boegel i'm not sure if the issue is related to OpenMPI or to binutils (linker) because using bfd works but not with gold.

[2018-06-11 14:15] boegel commented on #6427
@omula There are other cases where `bfd` is required, cfr. https://bugs.openfoam.org/view.php?id=685 .

It would be good to know if that's also the case with OpenMPI on Power for some reason, so opening an issue at https://github.com/open-mpi/ompi/issues makes sense to me.

[2018-06-11 17:28] omula commented on #6427
@boegel by looking at the openfoam link you provided it seems that the issue has already been reported to binutils but the issue is still open.
https://sourceware.org/bugzilla/show_bug.cgi?id=10238

As far as I understand this has nothing to do with the mpi.

Btw,  this seems to be related with #5805, so it seems not only to be related with Power.

[2018-06-12 08:17] boegel commented on #6374
fixed in https://github.com/easybuilders/easybuild-easyblocks/pull/1435

[2018-06-12 08:17] #6374 closed

[2018-06-14 17:03] bartoldeman commented on #5329
See also the prefix-standalone method used by Gentoo prefix: https://wiki.gentoo.org/wiki/Project:Prefix/Technical_Documentation#Search_pathes

The main thing to consider is that you cannot set `LD_LIBRARY_PATH` to a 2nd glibc as that breaks system binaries such as `/bin/bash`. You can set the path using rpath, or probably more naturally by using the dynamic loader e.g. `ld-linux-x86-64.so.2` that

[2018-06-18 08:00] boegel commented on #6302
fixed in `Qt` easyblock with https://github.com/easybuilders/easybuild-easyblocks/pull/1437

[2018-06-18 15:05] damianam commented on #6302
I am closing the issue since the fix has been merged.

[2018-06-18 15:05] #6302 closed

[2018-06-20 16:14] boegel opened #6484 "sha3 compilation failure when installing Python 3 with Intel compilers"
(fleshed out from https://github.com/easybuilders/easybuild-easyconfigs/pull/6447)

For some people, the installation of Python 3 is partially failing with errors like:

[code]

This failure is non-fatal for the Python installation, since the Python build procedure just ignores these failures, but it leaves the installation crippled: `hashlib` is missing from the Python standard library:

[code]

[2018-06-20 16:15] boegel commented on #6484
A patch was posted on the EasyBuild mailing list by @edmondac for this (and included in #6447), cfr. https://lists.ugent.be/wws/arc/easybuild/2018-02/msg00043.html .

The changes were approved by the Python core devs in https://bugs.python.org/issue33174, except for the `-O0` being used to compile `_sha3/sha3module.c`, that was considered a blocker for the patch (rightfully so imho).

[2018-06-20 16:18] boegel commented on #6484
Turns out I wasn't seeing this issue because we have `ulimit -s unlimited` set in our systems, which dances around this problem. I was able to trigger the issue by building `Python-3.6.2-intel-2017b.eb` in an environment where the stack limit was set to a specific (low) value (e.g. using `ulimit -s 10240`).

Vice versa, @vanzod confirmed that he was able to dance around the problem by running `uli

[2018-06-20 16:19] boegel commented on #6484
Action plan:

* enhance the easyblock used to install `Python`:
  * also test with `import hashlib` in the sanity check
  * detect active `ulimit` setting & emit a proper warning, or try to use `ulimit -s unlimited`?

[2018-06-20 16:21] boegel commented on #6484
@schiotz @edmondac @vanzod @verdurin What does `ulimit -s` print out for you, on a system where the stack size was *NOT* set to `unlimited` either by running `ulimit -s unlimited` or `* - stack unlimited` in `/etc/security/limits.conf`?

[2018-06-20 17:37] boegel commented on #6484
I've enhanced the `Python` easyblock in https://github.com/easybuilders/easybuild-easyblocks/pull/1441 so this issue can be fixed (in most environments) by including `ulimit_unlimited = True` in the `Python` easyconfig (which results in prefixing the build command with "`ulimit -s unlimited &&`" when possible & required), and to (correctly) check whether `import hashlib` doesn't produce any errors

[2018-06-20 23:39] edmondac commented on #6484
Yes, "ulimit -s" is 8192 on the first system I tried here. I'll check that it builds with unlimited. That's a much nicer solution!

[2018-06-21 08:20] schiotz commented on #6484
ulimit -s is also 8192 here.  This is undoubtedly the problem.

[2018-06-21 08:39] schiotz commented on #6484
@boegel
Currently, your easyblock tests if there is a hardlimit and then emits a warning since it cannot set the stack limit to `unlimited`.  Maybe if there is a hard limit, it could set the stack limit to that limit (but still emit a warning since it *may* not be enough).

[code]

I will now test if I can build successfully with that hard limit in place (by increasing the softlimit correspondingl

[2018-06-21 08:41] boegel commented on #6484
@schiotz Hmm, good suggestion, but I'm not sure if that'll work though, even if the stack limit is quite high. Let me know how your experiment works out.

[2018-06-21 09:30] schiotz commented on #6484
@boegel Even with this very high stack limit, compilation fails.

[2018-06-21 09:35] schiotz commented on #6484
@boegel My previous report was incorrect, I accidentally loaded the wrong module when testing.  With a stack limit of 50000000 compilation succeeds.

Perhaps you could make the easyblock use any wiggling room it has when it comes to stack size :)

[2018-06-21 10:52] verdurin opened #6488 "type name error with VTK"
I'm trying to build `VTK` for `golf/2018a`, as one of the dependencies of `elastix`.

Just saw a build error:
[code]

[2018-06-21 11:46] boegel commented on #6484
@schiotz Done, see https://github.com/easybuilders/easybuild-easyblocks/pull/1441/commits/613eface52e60636420d1ec80b25cff7d22220d8, please test again?

I'll look into submitting a test report for your PR #6447 on top of the modified `Python` easyblock

[2018-06-21 11:59] mstud commented on #6344
The inclusion of SWR is really problematic for old architectures, I think. I don't set GALLIUM_DRIVER=swr explicitly, but still get "Illegal instruction" errors e.g. when building the R package "rgl". If I remove swr from the --with-gallium-drivers parameter in the Mesa EasyConfig though, the error vanishes. This only happens on Westmere which does not support AVX.

[2018-06-21 12:07] wpoely86 commented on #6344
The swr driver should not be used at all on non-AVX systems. It's weird it still gets used on a westmere system.

[2018-06-21 16:09] verdurin commented on #6488
I solved this with a local patch, which will be in a future PR...

[2018-06-21 16:09] #6488 closed

[2018-06-21 16:12] verdurin opened #6489 "xkbcommon download problem caused by certificate verification error"
Trying to install the latest `X11` and it can't download the source for `libxkbcommon`:
[code]

This was after I altered the `easyconfig` to use `https`. The original version with `http` showed exactly the same error.

[2018-06-21 16:16] boegel commented on #6488
https://xkcd.com/979/

[2018-06-21 16:17] boegel commented on #6489
@verdurin Which OS is this? Can you try after `export PYTHONHTTPSVERIFY=0`? See https://www.python.org/dev/peps/pep-0493/

[2018-06-21 16:30] verdurin commented on #6488
Because @boegel played so well here, it's essentially the same as https://github.com/pgbackrest/pgbackrest/issues/545

[2018-06-21 16:31] verdurin commented on #6489
@boegel `CentOS6`, of course...

[2018-06-21 16:38] verdurin commented on #6489
@boegel Using that workaround doesn't fix it.

[2018-06-21 17:17] boegel commented on #6489
So same problem as was reported today in https://github.com/easybuilders/easybuild-framework/issues/2522? That's suspicious...

[2018-06-21 19:25] schiotz commented on #6484
I am late, I know, but just for the record:  The lastest version works as expected.
* With a low soft limit and a high hard limit, the soft limit is raised and compilation succeeds.
* With a both limits low, compilation completes incompletely, and the sanity check fails as it should.

[2018-06-21 19:35] boegel commented on #6484
Thanks for the feedback @schiotz & co!

[2018-06-21 19:35] #6484 closed

[2018-06-22 08:59] akesandgren opened #6493 "Possible problem with the new "No multi-variant deps found for" Assertion check in Travis"
The above assertion check might be too restrictive.
At the moment it checks that all versions of some software is at the same level for a toolcahin of version 201[89][ab]. (btw, should fix that to handle 2020 and onwards too)

But, there are cases when software A of version 1 has a dependency on software B version 2
and A ver 2 has a dep on B ver 3, while at the same time A ver 1 can not use B ver

[2018-06-22 10:21] verdurin commented on #6489
@boegel Looks very similar, yes.

[2018-06-27 12:32] tardigradus opened #6501 "R-3.4.4: Checksum verification for extension source mgcv_1.8-23.tar.gz failed"
Building R from [here](https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-3.4.4-foss-2018a-X11-20180131.eb) fails with the following error:

[xxx@centos7box EasyBuild]$ eb recipes/R-3.4.4-foss-2018a-X11-20180131.eb
== temporary log file in case of crash /tmp/eb-2JgDPj/easybuild-Aha9jU.log
== processing EasyBuild easyconfig /home/xxx/EasyBuild/recipes/R-3.

[2018-06-27 12:56] mstud commented on #6501
I had the same problem, and I don't think downloading them manually is going to help. Problem is that the packages can change in CRAN while keeping the same version/filename, I believe. I resorted to using --ignore-checksums ...

[2018-06-27 13:05] boegel commented on #6501
Ugh, this seems to be occurring more & more... (see also #6446)

@tardigradus Which checksum are you getting now? Here's what I'm getting for a fresh download from CRAN via https://cran.r-project.org/src/contrib/Archive/mgcv/ (which means the original `mgcv_1.8-23.tar.gz` was replaced at some point):

[code]

The easy way out is indeed to use `--ignore-checksums`, but that defeats the purpose of h

[2018-06-27 13:16] tardigradus commented on #6501
In the log I have

`== 2018-06-27 14:20:58,764 easyblock.py:510 INFO sha256 checksum for /home/loris/.local/easybuild/sources/r/R/extensions/mgcv_1.8-23.tar.gz: a4d644943a2c91509f21f112fc5aca52f11af38f7bf9c987de4ce820918b2e6e`

but the checksum in the easyconfig is

`7771ac5581542904d569388e2e498d3e3b8b65f7a81737acbb45d8ef838359d3`

[2018-06-27 13:29] boegel commented on #6501
@tardigradus Indeed, that's because the upstream checksum has changed for some reason...

Here's the diff between the old and the new source tarball:

[code]

It's unclear to me why the checksum only changed now (and now in Jan'18 as the diff suggests)...

[2018-06-27 13:43] JoFAM commented on #6501
@boegel I wish there was... R-devel and R-package-devel mailinglists are about the most official way I can contact CRAN. I've reported them the previous issues and one of the maintainers was going to look into it, but I haven't heard back yet. To their defense, they're seriously understaffed and swamped with work.

The problem of changing publication date won't be solved anytime soon. I don't unde

[2018-06-27 13:51] boegel commented on #6501
I re-downloaded all sources for the R 3.4.4 easyconfigs, seems like only `mgcv` is affected, fixed in #6502...

[2018-06-28 04:01] migueldiascosta commented on #6501
fixed in #6502

[2018-06-28 04:01] #6501 closed

[2018-06-29 06:34] verdurin commented on #3011
Thanks to @SethosII for keeping an eye on this one. He's made a new upstream report, as linked above.

[2018-06-29 06:34] #3011 closed

[2018-06-29 06:35] verdurin commented on #6489
@jbd no, not in a container. My current workaround for bootstrap is to load a Python module first, so `2.7` is available (there are some modules on the system that pre-date EB).

[2018-06-29 06:56] mstud opened #6510 "Python-3.6.4-intel-2018a hashlib broken"
Hi, I've been trying to build Boost with Python 3.6.4 but it fails with the following error:
AttributeError: module '_hashlib' has no attribute 'openssl_shake_256'
The problem seems to be that the Python-3.6.4-intel-2018a installation had some problems, even though it ran through without aborting, which I believe is problematic. I have found the following mailing list posting:
https://www.mail-arc

[2018-06-29 07:34] boegel commented on #6510
@mstud This problem only occurs when you are building Python 3.6.4 in an environment with a strict stack limit, see the discussion in https://github.com/easybuilders/easybuild-easyconfigs/issues/6484 .

We have added a workaround for this problem recently in the Python easyblock, together with a check for `import hashlib` to catch the problem, which will be included in EasyBuild 3.6.2, see https:/

[2018-06-29 13:22] mstud commented on #6510
Thanks, that indeed solved the problem.

[2018-06-29 13:22] #6510 closed

[2018-06-30 17:41] akesandgren opened #6515 "TensorFlow 1.8.0 build is ~4x slower on V100 GPU than upstreams wheel"
The upstream wheel of TF 1.8.0 for GPU is ~4x faster than the one EB builds from source on a Skylake Gold with a Volta V100.
Tested with models/tutorials/image/cifar10/ from git@github.com:tensorflow/models.git

This should be looked at more closely.

[2018-07-01 16:38] StathatosAlex opened #6517 "`yum install perl-Thread-Queue` required by Automake-1.15.1-GCCcore-6.4.0.eb"
`perl-Thread-Queue` should be an explicit dependency of `Automake-1.15.1-GCCcore-6.4.0.eb`,
or we get this :

[code]

[2018-07-02 08:50] boegel commented on #6517
See also #1822

[2018-07-02 10:00] boegel commented on #561
closing this, since we now have an `OpenCV` easyblock (again), see https://github.com/easybuilders/easybuild-easyblocks/pull/1444

[2018-07-02 10:00] #561 closed

[2018-07-03 09:39] akesandgren commented on #6493
There is a basic problem here...
intel/foss 2017b, and 2018a (and a few other non-a|b versions) all uses GCCcore 6.4.0
But we can't expect versions for software A to be the same for 2017b and 2018a just because they use GCCcore 6.4.0.
The current check tries to enforce that.

[2018-07-03 09:46] boegel commented on #6493
@akesandgren The check doesn't enforce that only `GCCcore/6.4.0` easyconfig files for one version of software A exist.

It enforces that only one variant of software A is used as a dependency in easyconfigs that use `intel/2018a` (and it's fine if that's different from versions of A for dependencies in other easyconfigs).

So the latter is not a problem, the check only enforces things i) for depen

[2018-07-03 09:57] akesandgren commented on #6493
Ok, I might have misunderstood the complaints from travis for my p4vasp PR.
I didn't investigate it fully due to kernel updates...

[2018-07-03 09:58] boegel commented on #6493
@akesandgren The errors in #6527 are due to conflicts, not the version check this issue refers to...

Use `eb --check-conflicts` on the `p4vasp` easyconfig.

[2018-07-03 22:29] dwsteele commented on #6488
@verdurin Does that mean the proposed solution in pgbackrest/pgbackrest#545 is the correct one?

[2018-07-04 05:29] akesandgren commented on #6488
That just looks like a missing include?

[2018-07-04 10:40] hajgato opened #6541 "do not compile ParaView/VTK on /dev/shm"
When I tried to install `VTK-8.1.0-foss-2018a-Python-2.7.14`, the installation failed with:
[code]

I searched the net, and I found the following webpage: https://public.kitware.com/pipermail/paraview-developers/2017-March/005202.html , where they claim that it can be solved using `gnu99` standard instead of `c99` one, but the error only occurs if the compilation is done in the memory (`/dev/shm`

[2018-07-04 10:48] akesandgren commented on #6541
So, does it run out of filespace in /dev/shm? Much more likely than anything else.

[2018-07-04 12:09] hajgato commented on #6541
@akesandgren No. It is clearly a compilation error. And then I apply a patch which changes `-std=c99` to `-std=gnu99` (on the same, empty node), then it compiles without an error. Its also reproducible (at least in our systems with the above OS with nodes having CPUs AMD magnycours, buldozer and Intel ivybridge, broadwell, haswell, skylake, memory ranging from 64-256Gb)

[2018-07-04 12:12] akesandgren commented on #6541
Interesting...

[2018-07-04 12:22] boegel commented on #6541
@hajgato I assume you've opened this issue mainly to have this on record?

Or do you want to change something to prevent this from happening?

[2018-07-04 12:44] hajgato commented on #6541
@boegel No, I do not want to change, just I wanted a record (in case somebody have the same issue)

[2018-07-04 12:46] boegel commented on #6541
@hajgato OK, but then this issue can be closed?

[2018-07-04 12:58] #6541 closed

[2018-07-04 14:52] akesandgren opened #6552 "OpenMPI 3.1.1 might benefit from fix in https://github.com/open-mpi/ompi/pull/5374"
I'm doing a quick test of this to see if open-mpi/ompi#5374 is something we should include here. We've been seeing multiple codes having problems with OpenMPI getting hung.

The fix doesn't seem to be Power9 specific so I'm hoping it will fix our problems (unless 3.1.1 itself fixes it)

[2018-07-05 12:13] nortex opened #6560 "AUGUSTUS-3.3-foss-2018a.eb dependency issues"
Hi,

I was trying to compile AUGUSTUS-3.3-foss-2018a.eb taken from github easybuild-easyconfigs.

While trying to execute the program with:

eb AUGUSTUS-3.3-foss-2018a.eb -D --robot --debug

I get the following error:

Irresolvable dependencies encountered: zlib/1.2.11-foss-2018a, Boost/1.66.0-foss-2018a, GSL/2.4-foss-2018a, lpsolve/5.5.2.5-foss-2018a, SuiteSparse/5.1.2-foss-2018a-METIS-5.1.0, Bam

[2018-07-05 15:07] dwsteele commented on #6488
Not sure -- I haven't gotten a response from the OP.  I haven't been able to reproduce the issue myself.

[2018-07-06 01:19] dwsteele commented on #6488
@verdurin Thanks! Hopefully the OP on our issue will give it a try and report back.

[2018-07-06 08:46] boegel commented on #6560
@nortex Which EasyBuild version are you using here? What does `eb --show-config` produce as output?

Can you provide a full debug log for this?

[2018-07-06 09:02] boegel commented on #6032
@vanzod re-ping?

[2018-07-06 09:22] boegel commented on #6517
Closing this as duplicate, let's follow up on this in #1822...

[2018-07-06 09:22] #6517 closed

[2018-07-06 09:23] boegel commented on #6552
@akesandgren Any updates?

[2018-07-06 10:06] boegel commented on #6515
@akesandgren Which CUDA compute capabilities were used?

@wpoely86 Can you test this on P100?

[2018-07-06 12:28] wpoely86 commented on #6515
How and what exactly did you run from `cifar10`?

[2018-07-06 14:01] wpoely86 commented on #6515
Single P100:
- With docker image with tag 1.8.0-py3-gpu: 989 s
- With EB version: 963 s

EB version is TF 1.8 with CUDA 9.2.88 (driver 396.26)  + cuDNN/7.1.4.18

Single run of `cifar10_train.py`

[2018-07-06 14:29] boegel commented on #6515
@wpoely86 Which exact easyconfig file is that for the EB installation?

[2018-07-06 14:33] wpoely86 commented on #6515
The same one as in #6412 but not using fosscuda.

[2018-07-06 17:55] akesandgren commented on #6515
On a 28 core Skylake Gold 6132 CPU with dual Volta V100 cards I was running on 14 cores and a single V100 card:
[code]

[2018-07-07 10:16] Sneeg commented on #6515
If it's relevant, I have both a Tesla V100 and a Quadro GV100 at my hands and could not reproduce this on any of them. The host was a dual socket Haswell system, though.
However, I have noticed that a AVX2+FMA build is almost always a bit slower (few percent) than a SSE-only version most of the time.

[2018-07-07 13:38] wpoely86 commented on #6515
I'm will try to post the specifics on Monday but I'm not seeing any serious performance difference between EB and the docker images.

Which nvidia driver are you using? Did you try with Cuda 9.2?

[2018-07-07 13:50] akesandgren commented on #6515
The binary whls requires cuda 9.0 so I'm comparing with an EB build using Cuda 9.0
And i'm not using the docker images, i'm using the binary whl from tensorflow directly, i.e. doing the install of TF that was in EB before we got the build-from-source.

I.e. I have a Tensorflow module (note lower case f) which is the binary whl install.
And i have only checked on our V100 cards, not on the K80s

[2018-07-07 13:57] akesandgren commented on #6515
This is what i get:
(The first one is the EB build-from-source, the second one the binary whell install)

[code]

[2018-07-07 13:58] akesandgren commented on #6515
The nvidia driver in use is 396.24

[2018-07-08 07:56] nortex commented on #6560
Providing full log file:
[easybuild-HDm5jl.log](https://github.com/easybuilders/easybuild-easyconfigs/files/2173473/easybuild-HDm5jl.log)

[2018-07-09 09:42] nortex commented on #6560
Ok, i found the problem, i had an old robot path from an older version... Is there a variable that will update automatically the robot path after easybuild update?

Thanks.

[2018-07-11 07:33] nortex commented on #4910
I have the same problem, but i didn't understand how can i fix it?

[2018-07-11 10:07] seb45tian commented on #5758
I run into the same problem when building the foss-2018a toolchain when getting to GCC-6.4.0. I think this is related to this issue: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=81712

The problem is, that `struct ucontext` doesn't exist anymore in glibc2.26 , see  https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27struct_ucontext.27

This was fixed for GCC-7XX and also backported to the

[2018-07-11 10:20] boegel commented on #5758
We fixed this for GCCcore 6.4.0 in #6432 (+ #6495)

`foss/2018b` includes GCC(core) 7.3.0, as far as I know there's no problem there.

[2018-07-11 11:06] boegel commented on #5758
It's likely that the patch in #6432 also works for GCC 6.3.0, can someone try this?

[2018-07-11 11:09] seb45tian commented on #5758
Ah ok I see. Mmmm... but why is my build failing? Also when I check the supposed to be patched file `libgcc/config/aarch64/linux-unwind.h` in the build directory, it is not patched. Still using `struct ucontext uc`   What am I missing here? I’m on Ubuntu 18.04 btw.

[2018-07-11 17:44] boegel commented on #5758
@seb45tian #6432 is not included yet in the latest EasyBuild release (3.6.1), but will be in the next one (3.6.2), which should be available shortly (in a couple of hours even, if all goes well...).

[2018-07-11 20:18] seb45tian commented on #5758
Ah thanks for the hint, and also the patch. Think this one can be closed then.
Cheers

[2018-07-11 20:33] boegel commented on #5758
Well, the issue is still there for GCC 6.3.0, so I'll leave it up to @verdurin whether we can close this or not... Should we make the effort of also applying the patch in the GCCcore 6.3.0 easyconfig?

[2018-07-12 08:04] nortex opened #6581 "Boost-1.66.0-foss-2018a.eb (and all other Boost EB's ) get Segfault during compilation"
Hi all,

Every Boost version and toolchain that i try to compile using Easybuild, during the "build" stage i get broken pipe message that terminate my session. Running with --debug give the next error:

`== 2018-07-12 10:36:17,083 run.py:173 DEBUG run_cmd: running cmd ./bjam --clean-all (in /data/sources/build/Boost/1.66.0/foss-2018a/boost_1_66_0)
== 2018-07-12 10:36:17,083 run.py:192 INFO running

[2018-07-13 14:20] vanzod opened #6583 "VFCtools requires tabix as dependency"
The `Vcf.pm` Perl script called by `vcf-merge` requires `tabix` in order to correctly.
[code]

[2018-07-13 19:52] guest1604 opened #6585 "SUNDIALS : Linking issue with OpenBLAS/LAPACK"
Hello,

Using "SUNDIALS-2.7.0-foss-2016b.eb", I have a linking issue with OpenBLAS/LAPACK. Installation works fine however there are some problems when using SUNDIALS.

How to reproduce this issue :
[code]

I fix this issue adding `preconfigopts = 'env LDFLAGS="$LDFLAGS -lopenblas"'` in "SUNDIALS-2.7.0-foss-2016b.eb", but I don't know if this is the good solution :
[code]

Thanks for your help !

[2018-07-17 09:48] paulmelis opened #6594 "Python build leaves references to builddir in easy-install.pth"
Stumbled upon this `easy-install.pth` file as part of an EB-installed `Python/2.7.14-foss-2017b`:

[code]

Note the two lines referencing `/tmp/jda176`. This is potentially exploitable by a bad actor, by creating custom modules in those locations. Interestingly, newer Python easyconfigs, like `Python-3.7.0-foss-2018b.eb` explicitly list `cffi` and `pycparser` in their `exts_list`. So if we install

[2018-07-17 10:30] zao commented on #6581
None of the output cited here seems to report any problems, is there no information in the `.log`? The false positives of `/error/` paths are to be expected.

This recipe builds fine on my cluster, have you ensured that there's enough disk space and memory to build it this wide, and what kind of OS/hardware are you on?

[2018-07-17 11:08] nortex commented on #6581
@zao My os is: CentOS 6.7, CPUinfo:

[code]
I tried to use it with different EB versions (3.3 and 3.6.1 , 3.6.2) with different --optarch flags but still the same...

[2018-07-17 14:05] zao commented on #6581
I set up a CentOS 6.7 VM, painstakingly found a Python 2.7 good enough to install EasyBuild, and the recipe builds fine. Very odd.
Can you somehow upload the full log somewhere, and maybe look in `dmesg` or `/var/log/messages` for what process might've terminated surprisingly?

[code]

[2018-07-18 05:21] nortex commented on #6581
Unfortunately i didn't find anything in /var/log/messages or dmesg, but i was able to install Boost normally from different type of node on our cluster(HP instead of Dell). So this is probably has something to do with arch or bios settings as on our cluster all type of nodes has same OS and packages. Attched full log with debug with the crash. If you have any ideas why this could happen please inf

[2018-07-18 08:36] zao commented on #6581
Seems like I don't know how to operate a CentOS machine, mine claims to be 6.10 after I got Python installed. 🙄

In any way, at the point where your log is cut off, it invokes a long build of the rest of the libraries.

The only things that come to mind to try right now would be to try to build a Boost outside of EasyBuild to see if the `b2` terminates or crashes in some way, or to see if tuning d

[2018-07-19 14:19] dominikborkowski opened #6602 "Include CUDA stubs location in CUDA easyconfig"
Many applications link against libcuda.so.1 which is available in full in the cuda driver package. When one attempts to compile cuda enabled aps, for example TensorFlow-1.7.0-foss-2018a-Python-3.6.4-CUDA-9.1.85.eb, on a system without that external package, compilation will fail while trying to link.

There is a potential simple fix, which would allow full compilation of CUDA apps with the existin

[2018-07-19 14:48] moravveji opened #6603 "ABySS/2.0.2-intel-2018a"
May I kindly ask for an easyconfig to install ABySS/2.0.2-intel-2018a?
There is already an .eb file for the foss/2018a toolchain, but the intel one is missing. I tried to simply adapt from the existing .eb file with the foss/2018a, and somewhere down the build process, I get the following error message:

`icpc -DHAVE_CONFIG_H -I. -I..  -I.. -I/data/leuven/sys/x0090231/easybuild/work/ABySS/abyss -i

[2018-07-24 07:35] ocaisa commented on #6603
If you can't get it to build manually either then you either need a patch or some special compiler flags. The best place to figure that out is from the `ABySS` developers. If you know what you need I can help at that point (but I have no experience with `ABySS` itself).
But on another note...why stick  with version `2.0.2`? There have been two releases since then, `2.1.0` is the latest but require

[2018-07-24 15:03] ocaisa commented on #6602
This seems reasonable to me. Would you like to open a PR against the CUDA easyblock? You just need to add a line at https://github.com/easybuilders/easybuild-easyblocks/blob/master/easybuild/easyblocks/c/cuda.py#L171
[code]

[2018-07-24 18:56] bartoldeman commented on #6583
Fixed by #6584

[2018-07-24 18:56] #6583 closed

[2018-07-26 17:53] dominikborkowski commented on #6602
Looks like AndiH beat me to the PR. Thank you!

[2018-07-27 10:34] tstrempel opened #6619 "FFTW-3.3.7-gompi-2018a.eb build loop"
Hello,
I'm trying to build FFTW-3.3.7-gompi-2018a.eb, but every time the build is "done" (after installing...) the build process repeats itself:
== building and installing FFTW/3.3.7-gompi-2018a...
== fetching files...
== creating build dir, resetting environment...
== unpacking...
== patching...
== preparing...
== configuring...
== building...
== testing...
== installing...
== creating build dir,

[2018-07-27 11:36] tstrempel commented on #6619
Ok, thanks. I wasn't aware of that.

[2018-07-27 11:36] #6619 closed

[2018-07-29 09:57] boegel commented on #6619
I'm curious why you mentioned that you're not seeing this when building `FFTW-3.3.7-gompic-2018a.eb`, you should be seeing the same thing?

[2018-07-30 11:46] vwkoppejan opened #6622 "GLib error due to 32bits _collectionsmodule.so"
GLib-2.53.5-GCCcore-6.4.0.eb keeps crashing with the error below. I'm running eb 3.6.2 on a centos7 box. I've checked and I have a _collectionsmodule.so under /usr/lib64/python2.7/lib-dynload

I reinstalled python using yum just to be sure. Does anyone have tips?

[code]

[2018-07-30 13:46] vwkoppejan commented on #6622
I'm able to recreate the error by compiling glib myself. The error shews up when I compile against an Easybuild python module (2.7.14-foss-2017b and 2.7.14-GCCcore-6.4.0-bare). Using my system python the build works.

[2018-08-01 21:24] vanzod opened #6629 "PANDAseq-2.10 - Configure error: ltld required"
When building PANDAseq-2.10-GCC-5.4.0-2.26.eb in production, the configure step fails at:
[code]
The reason being that `libtool/2.4.6` is loaded as part of Autotools/20150215 as build dependency, hence the `libtool` path is not added to `LDFLAGS` and if `libltdl.so` is not available in a system path (e.g. `/usr/lib64`), then the configure fails. The solution is simply to add `libtool/2.4.6` as a d

[2018-08-08 06:58] guest1604 commented on #6622
Hello,

`ImportError: /usr/lib/python2.7/lib-dynload/_collectionsmodule.so: wrong ELF class: ELFCLASS32`
=> It uses "/usr/lib/python2.7" instead of "/usr/lib64/python2.7".

On CentOS 7, my workaround is to remove "python-libs.i686" package (yum remove python-libs.i686) before installing GLib (and reinstall it after).

[2018-08-08 07:18] akesandgren commented on #6622
This looks like a problem with dtrace picking up the wrong things. We should probably either make our own dtrace or explicitly turn dtrace support in GLib off if possible.

[2018-08-08 09:36] vwkoppejan commented on #6622
@guest1604, I'm very, very weary of removing system python libs from my os.

[2018-08-08 10:13] vwkoppejan opened #6644 "Qt compilation error due to openssl 1.1.0 on debian 9"
Similar to #5614, building Qt-4.8.7 on debian 9.5 fails due the openssl api changes that were put in openssl-1.1.0.

as a quick fix I've added OpenSSL.1.0.2g as build dependency and it now compiles ok. I think this is more a Qt4 than an easybuild problem but nonetheless it's enjoying.

[2018-08-08 11:05] akesandgren commented on #6257
This should now be fixed in https://github.com/easybuilders/easybuild-easyconfigs/pull/6639 but only for recent versions of hwloc which is where the problem actually comes from.

[2018-08-08 11:09] akesandgren commented on #6552
This can be ignored, my actual problem is solved by OpenMPI 3.1.1 without patches by the looks of it.

[2018-08-08 11:09] #6552 closed

[2018-08-08 17:27] vanzod opened #6655 "HDF5-1.10.1 requires munge as dependency"
While building `HDF5-1.10.1-foss-2017b.eb` I stumbled into the following error:
[code]
This was due to the fact that on the specific node there was no `munge-devel` RPM installed.

We should consider adding it as an `osdependencies`.

[2018-08-09 06:15] akesandgren commented on #6655
Ahh, it's the MPI part of HDF5 that needs it due to OpenMPI with slurm.
I.e., it comes from OpenMPI/2.1.1/lib/libmpi.la

[2018-08-11 09:55] boegel commented on #6655
So, this is site-specific?

[2018-08-11 12:06] akesandgren commented on #6655
Yeah pretty much. You need munge-dev installed to build slurm and to build openmpi with slurm and so on.

[2018-08-13 08:05] akesandgren opened #6682 "Using Python 3.7.0 for 2018b toolchains might be a problem"
There are some packages that are still not Python 3.7 compatible which may be a reason to downgrade the 2018b toolchains Python to the latest 3.6.x.

Problem codes detected so far:
- TensorFlow
- protobuf-python

[2018-08-13 08:10] boegel commented on #6682
I think @mboisson also had some other problematic Python packages with Python 3.7, which doesn't seem to be fully backwards compatible with earlier Python 3.x versions, see also the problems I ran into with `pandas`: https://github.com/pandas-dev/pandas/issues/21785

Should we revisit the Python 3.x versions we picked for `2018b` and go forward with 3.6.6 rather than 3.7.0 now we still can?

cc @e

[2018-08-13 11:19] mboisson commented on #6682
Yes. I have recompiled our wheels for Python 3.7 around mid-July. Here are the ones that did not recompile correctly for one reason or another :

- cutadapt
- fuel
- HTSeq
- mdtraj
- msgpack_python
- msmbuilder
- openslide_python
- pysam
- python_Levenshtein
- python_lzo
- PyWavelets
- ray
- velocyto

[2018-08-14 07:40] boegel commented on #6644
@vwkoppejan We prefer relying on the system installed OpenSSL for security reasons, since includes `OpenSSL` as an EasyBuild dependency implies fixing the version.

We may revisit this soon though, with an `OpenSSL` wrapper that can be easily updated when a bugfix release becomes available, similarly to how we plan to deal with Java (see #5203).

[2018-08-14 07:54] boegel commented on #4173
@shahzebsiddiqui I just noticed this was left unanswered... Did you ever figure out what the problem was here?

[2018-08-14 08:08] boegel commented on #6515
@akesandgren Any updates on this?

[2018-08-14 10:43] akesandgren commented on #6515
No, I haven't had time to look at it after the vacation. I hope to get somewhere later on, but comparing v1.10

[2018-08-14 12:52] shahzebsiddiqui commented on #4173
Yea this is an old task, I recall we figured it out @omula do you recall having the change to GAMESS easyblock.

[2018-08-15 05:34] akesandgren commented on #6682
If 3.6.6 is decided on, instead of 3.7.0, I can change my PR's to start with (and I +1 on dropping all 3.7's)

[2018-08-15 12:11] boegel commented on #6603
@moravveji Any luck with getting ABySS 2.0.2 built with `intel/2018a`?

[2018-08-15 19:16] boegel commented on #6682
#6703 is merged, switch to Python 3.6.6 for `2018b` toolchain generation is done in https://github.com/easybuilders/easybuild-easyconfigs/pull/6710

[2018-08-16 08:51] boegel commented on #6682
Both #6703 and #6710 have been merged, so closing this too...

[2018-08-16 08:51] #6682 closed

[2018-08-16 13:26] omula commented on #4173
IIRC this was done by @jordiblasco .

[2018-08-16 13:40] boegel commented on #4173
@shahzebsiddiqui Let's close then?

[2018-08-16 14:37] #4173 closed

[2018-08-20 13:14] verdurin opened #6737 "Https homepage links"
Many `homepage` links should now be `https` rather than `http`, with increasing adoption of TLS.

[2018-08-20 14:51] boegel commented on #6737
First step here would be to create a script that grabs the current `homepage` value, makes it `https://` if it's still `http://`, and then updates to `https://` if the homepage indeed works with `https://`.

[2018-08-21 14:08] damianam commented on #6602
I am closing this issue, as it has been fixed here: https://github.com/easybuilders/easybuild-easyblocks/pull/1464

[2018-08-21 14:08] #6602 closed

[2018-08-22 00:50] chrissamuel opened #6746 "Recipe to install git doesn't install manual pages & help"
Hi there,

After a query from a user we've noticed that the EB recipe for git doesn't seem to do the extra targets needed to install the manual pages.  We've found that this change to our local recipe fixes that issue.

[code]
Hope this helps!

All the best,
Chris

[2018-08-22 13:41] boegel commented on #6746
fixed in #6751

[2018-08-22 13:41] #6746 closed

[2018-08-22 13:46] boegel commented on #306
no replies for ages, so closing this...

[2018-08-22 13:46] #306 closed

[2018-08-30 02:01] nathanhaigh opened #6792 "Mesa CPATH subdirectories"
I've been having issues installing R 3.5.1. When the install gets to `rgl` I get a configuration error:

[code]

I believe these are supposed to be provided by `Mesa`, which they are. However, they are in a subdirectory of Mesa's `include` directory. However, these subdirectories don't seem to be added to CPATH, only the top-level `include` directory is.

[2018-08-30 05:38] akesandgren commented on #6792
The paths for gl.h etc in my build are
Mesa/18.1.1/include/GL/gl.h
And CPATH contains Mesa/18.1.1/include

Where is it in your install?

[2018-08-30 06:54] nathanhaigh commented on #6792
Same @akesandgren. However, CPATH doesn't get recursively searched for `.h` files.

[2018-08-30 08:04] akesandgren commented on #6792
It isn't searching for gl.h, it's searching for GL/gl.h which is reachable directly from the Mesa/18.1.1/include path in CPATH

So there is nothing wrong with CPATH setting from Mesa here. Please check the exact error coming from config.log and why it fails to find GL/gl.h

[2018-08-30 08:18] nathanhaigh commented on #6792
Doh...of course! I'll take another look to see why it might not be picking it up!

[2018-09-02 23:35] nathanhaigh commented on #6792
Still no luck. The only `config.log` files are these:

[code]

The build log file shows this for `rgl`:

[code]

None of the above mentioned log files report anything about `CPATH` being set - is that expected?

[code]

[2018-09-03 06:58] boegel commented on #6792
@nathanhaigh `CPATH` is updated by the module, so see the output of `module show Mesa 2>&1 | grep CPATH`.

It should also pop up in the EasyBuild log, but probably only when debugging is enabled (`eb --debug`)

[2018-09-05 10:08] casparvl commented on #6113
I was building Python-2.7.14 on both our systems, and just noticed that this problem occurs on only one of our two systems (both use rpath).

System 1: Red Hat Enterprise Linux Server release 7.5, system Python is 2.7.5, has this issue.
System 2: Debian GNU/Linux 9.5, system Python is 2.7.13, doesn't have this issue.

Could it be OS related? Or related to the system Python version somehow (since t

[2018-09-05 13:23] ahmedhany93 opened #6816 "Install netCDF-Fortran with F90 module"
After installing  `netCDF-Fortran/4.4.4-intel-2017a` ,  I ran the command:
`$ nf-config --has-f90`
the result was:
`$ no`
After investigations, I found that netCDF has to be built with options
```FC=gfortran F90=gfortran --enable-shared --enable-static```

[2018-09-05 13:34] paulmelis commented on #6113
Okay, I think I managed to figure out a bit further what is going on here. Part of the Python build is building extension modules. For this, the Python sources contain the usual `setup.py` file listing modules to build and with what build flags and such. But even though we're building Python the `python` executable used for building modules through `setup.py` is NOT the `python` being built. Inste

[2018-09-05 13:49] casparvl commented on #6113
Nice find!

Well, @boegel was only able to reproduce the problem when the --rpath flag was passed. So, somehow, this isn't an issue _unless_ you're building your (EasyBuild) Python with an rpath. But, _why_ that is is still unclear to me.

[2018-09-05 14:18] paulmelis commented on #6113
Figured out why I got only one of the prefix not found messages: there was a partial build left in `~/.local` including some modules :) After clearing out `~/.local` it now indeeds fails as observed during the EB build:

[code]

And one more clue as to why this fails in an rpath-enabled build. I added a patch to the Python easyconf that adds a bit of code to the python binary showing active enviro

[2018-09-06 07:10] paulmelis commented on #6113
The more rpath-support-related issues I encounter, the more I feel the whole rpath support isn't worth the trouble. It just influences so many parts of the environment in unexpected and fundamental ways (e.g. a `gcc` call in build output actually not being a pure GCC call at all), together with giving up some control over the generated binaries (e.g. hardcoded `RPATH` that can't be overridden). At

[2018-09-06 09:02] boegel opened #6818 "easyconfig tests are suddenly broken"
This will make all PR tests run by Travis fail until we get this fixed...

It looks like this may have been caused by the merge of https://github.com/easybuilders/easybuild-framework/pull/2562, but I'm not sure yet (can't seem to spot a problem with it)...

Currently fails with:

[code]

[2018-09-06 10:42] boegel commented on #6818
Problem should be fixed by https://github.com/easybuilders/easybuild-framework/pull/2566

[2018-09-06 17:58] boegel commented on #6818
fixed now https://github.com/easybuilders/easybuild-framework/pull/2566 is merged \o/

[2018-09-06 17:58] #6818 closed

[2018-09-07 08:12] paulmelis commented on #6113
Here's the patch for Python I used that adds dumping of environment variables, prefix lookup, etc: [hack-python-2.7.14.patch.gz](https://github.com/easybuilders/easybuild-easyconfigs/files/2360158/hack-python-2.7.14.patch.gz) (it actually also contains a fix for compiling 2.7.14 with GCC 8.0). In case we ever need to figure something like this out again. Simply include in the EB config with `patch

[2018-09-11 06:39] verdurin opened #6830 "Build problem with mkl-dnn"
Trying to build `mkl-dnn/0.13-intel-2018a` as a requirement of `PyTorch`:
[code]

Build host is Ivy Bridge, hence no `avx2`,

[2018-09-11 09:31] verdurin commented on #6830
@boegel looks like that patch is already included in the `0.13` release?:
https://github.com/intel/mkl-dnn/blob/v0.13/tests/gtests/gtest/src/gtest.cc#L3868-L3870

[2018-09-11 09:49] boegel commented on #6830
@verdurin Maybe in the tests, but you need a similar construction in `src/cpu/jit_generator.hpp` for the failing line?

[2018-09-11 10:06] verdurin commented on #6830
@boegel yes. For reference, `v0.16` builds and runs all the tests fine. Maybe easier and cleaner to add that instead of patching the old one, then update the `PyTorch` easyconfig, or would you prefer the less disruptive change?

[2018-09-11 10:13] boegel commented on #6830
@verdurin I prefer not updating (dependencies in) existing easyconfig files when we can avoid it, it often ends up being more painful than expected. Unless those easyconfig file are only in `develop` currently, then it's worth considering.

[2018-09-11 14:15] micaeljtoliveira opened #6833 "hwloc does not install on powerpc"
I'm trying to install the foss-2018a toolchain on a powerpc. The installation step of hwloc-1.11.8 is failing because the hwloc-dump-hwdata utility is not found after installation. According to the hwloc documentation  [here](https://www.open-mpi.org/projects/hwloc/doc/v1.11.8/a00292.php) this is a x86 specific tool, so it's not surprising that it's not being built in this case.

I'm not sure what

[2018-09-11 16:00] akesandgren commented on #6833
The simple solution is to just drop the test of that being installed. It is not important to test everything that gets installed, just enough to be sure the install didn't fail or something important is missing.

[2018-09-11 19:47] boegel commented on #6833
+1, I think it's OK to change the `hwloc` easyconfigs to stop checking for `'sbin/hwloc-dump-hwdata`.

Making this platform-aware would involve create a custom easyblock for `hwloc`, which seems like overkill to me...

@micaeljtoliveira Are you up for opening a pull request to make that change to (all, to keep it consistent) `hwloc` easyconfigs?

[2018-09-12 08:41] micaeljtoliveira commented on #6833
Ok, so I'll go for the simple solution.

Sure, will do.

[2018-09-13 09:35] ocaisa commented on #6833
Resolved with #6836

[2018-09-13 09:35] #6833 closed

[2018-09-13 09:42] ocaisa commented on #6816
Please take a look at this ticket with netCDF to explain this confusing result https://www.unidata.ucar.edu/support/help/MailArchives/netcdf/msg13399.html

Short answer: it has F2003 support which includes F90

Ok to close?

[2018-09-13 17:18] boegel commented on #6816
@ahmedhany93 `FC=gfortran F90=gfortran` is already done automatically by EasyBuild, and I doubt using `--enable-shared --enable-static` is going to make it build with (only) F90 support?

Also, with the above in mind, this would actually limit the capabilities of the `netCDF` installation rather than enhance them?

[2018-09-13 18:33] boegel commented on #5110
@vwkoppejan Ugh, I just noticed this didn't receive an answer...

For what it's worth, this seems to be the culprit:

[code]

That's a problem that occurs when building old GCC versions on a recent OS, see also https://gcc.gnu.org/bugzilla/show_bug.cgi?id=60961 .

I've just opened a pull request for the latest version of Trilinos with the more recent `foss/2018a` toolchain, that should result in a

[2018-09-14 12:30] vwkoppejan commented on #5110
No worries, thanks for looking into it.

[2018-09-14 12:53] boegel commented on #5110
@vwkoppejan How shall we proceed with this? Is it good to close?

[2018-09-14 14:19] #5110 closed

[2018-09-18 14:52] damianam opened #6861 "libXp is not in X11 (but should probably be)"
`libXp` is currently an stand alone module used by just 2 other easyconfigs. IMO it should be part of `X11`. I suggest to move it inside that bundle.

[2018-09-18 15:51] damianam commented on #6861
Also `printproto`

[2018-09-18 16:44] boegel commented on #6861
@damianam The existing `libXp` and `printproto` easyconfigs we have date from before we introduced the `X11` bundle, and there apparently wasn't a need up until now for `libXp` or `printproto` in the `X11` bundle.

So, I'm all for adding both.

[2018-09-18 17:11] ahmedhany93 commented on #6816
Thanks for your help. I have edited my code to use f03.

[2018-09-18 17:11] #6816 closed

[2018-09-19 11:53] micaeljtoliveira opened #6866 "XML-Parser module sanity check fails on non x86_64 systems"
The sanity check of the XML-Parser Perl module checks for the existence of the following directory:

`lib/perl5/site_perl/%(perlver)s/x86_64-linux-thread-multi/XML`

This will fail on non x86_64 systems.

This issue is somehow similar to #6833, but I don't think the same solution can be applied here, as this would result in no sanity check being performed at all. Any ideas on how to fix this?

[2018-09-20 14:55] boegel commented on #5151
closing for now, doesn't seem to be an issue anymore for the time being...

[2018-09-20 15:48] boegel commented on #6866
Any idea what the equivalent directory looks like on e.g. POWER?

[2018-09-21 08:17] micaeljtoliveira commented on #6866
@boegel On ppc64le it looks like this

`lib/perl5/site_perl/%(perlver)s/ppc64le-linux-thread-multi/XML`

The perl easyblock seems to have a function  `get_site_suffix` that one can use to get this information, but I have no idea how to make use of it in this case.

[2018-09-22 10:43] boegel commented on #6861
fixed in #6873

[2018-09-22 10:43] #6861 closed

[2018-09-22 10:44] boegel commented on #6515
@akesandgren ping?

[2018-09-24 14:15] vanzod opened #6898 "FreeSurfer dependencies"
`FreeSurfer` is a binary distributed software we currently build with the `dummy` toolchain as usual.
However one of the executables (`freeview.bin`) provides a GUI and requires the following libraries:
- `VTK`
- `libGLU`
- `Qt`
- `libjpeg`
If such libraries are not available with the OS, the program cannot execute correctly.

With the exception of the last one, all the other libraries are availab

[2018-09-24 15:39] akesandgren commented on #6898
libjpeg is available as libjpeg-turbo.

[2018-09-27 12:40] boegel opened #6922 "Hypre fails to install with EasyBuild v3.7.0"
`configure` fails with (from `config.log`):

[code]

The problem seems to be the `--build=x86_64-pc-linux-gnu` that now gets passed by the enhanced `ConfigureMake` easyblock (cfr. https://github.com/easybuilders/easybuild-easyblocks/pull/1506)

cc @ocaisa

[2018-09-27 12:57] boegel commented on #6922
Hmm, it seems like this happens because we're not also setting `--host`.

If I include `configopts = "--host=x86_64-pc-linux-gnu"` into the `Hypre` easyconfig, it fixes the build.

@ocaisa Any idea if we should (always) be setting *both* `--build=x86_64-pc-linux-gnu` *and* `--host=x86_64-pc-linux-gnu` rather than only `--build=x86_64-pc-linux-gnu`?

cc @geimer

[2018-09-27 14:42] ocaisa commented on #6922
No sorry, I don't know enough about Automake to know that

[2018-09-27 14:43] ocaisa commented on #6922
I think if we do that then cross-compilation is out but not sure

[2018-09-27 14:45] ocaisa commented on #6922
Looks like this should be fine... https://gcc.gnu.org/onlinedocs/gccint/Configure-Terms.html

[2018-09-27 14:45] boegel commented on #6922
@ocaisa Well, we would only set the default value for `--build` and `--host`, of course we would allow customization via `build_type = '...'` and `host_type = '...'` in the easyconfig file, so it doesn't prevent cross-compilation at all imho.

[2018-09-27 20:41] vanzod commented on #6922
I think the solution proposed in https://github.com/easybuilders/easybuild-easyblocks/pull/1531 is elegant and functional enough. I tested it with the new easyconfig in #6923 and it works. I then went ahead and merged it.
Thanks @boegel

[2018-09-27 20:44] boegel commented on #6922
@vanzod Well, the `build_type = False` workaround isn't more than that, a workaround.

I think it's actually a sign of a more common issue, i.e. that we should also specify `--host` rather than only `--build`...

If we fix that, we don't need to change the `Hypre` easyconfigs at all (and potentially also won't have to touch others).

[2018-09-28 07:45] micaeljtoliveira commented on #6922
@boegel This is definitely not a common issue. The problem comes from the way how the `Hypre` `configure.in` file is written:
[code]
If I understand correctly, what happens is the following: if `--build` is set, then `AC_CANONICAL_BUILD` is not called and the `build` variable is not set. Next, since `build` is not set, the call to `AC_CANONICAL_HOST` fails, as `build` is the default value when `--

[2018-09-28 12:49] boegel commented on #6922
Thanks for the feedback on this @micaeljtoliveira! That was indeed my take on it too, it's basically `Hypre` getting it wrong there, and the `configure` script tripping over only setting `--build` (which is now fixed with https://github.com/easybuilders/easybuild-easyblocks/pull/1532).

I've verified that setting both `--build` and `--host` fixes the `Hypre` build, so I'm closing this (and also ht

[2018-09-28 12:49] #6922 closed

[2018-10-03 08:23] migueldiascosta opened #6953 "error building Pillow when LibTIFF has been built with --enable-ld-version-script configure option on Centos6"
specifically, the change introduced in #5945 breaks building Pillow/5.0.0-intel-2018a-Python-3.6.4 (on Centos 6, if that's relevant)

(found in a failed test report for #6947, building LibTIFF without that option fixed it)

[2018-10-03 08:29] migueldiascosta commented on #6953
the error when building Pillow is
[code]

[2018-10-03 09:41] boegel commented on #6953
@migueldiascosta Building `Pillow` on top of a `LibTIFF` that was configured with `--enable-ld-version-script` works fine for me (and many others I guess, or we would have heard about this issue already).

So, it seems like this could be specific to CentOS 6...

[2018-10-05 14:49] zao opened #6968 "modloadmsg without trailing newline printed poorly"
As reported and forgotten in #4013, if the recipe specifies a `modloadmsg = "like this"`, when loading the generated module the shell prompt may be printed on the same line as the last line of the module load message.
We should probably pad the message with a trailing newline if there is none to begin with to avoid this.

(Edit: sorry for posting this in easyconfigs, thought I was reporting agains

[2018-10-07 09:38] boegel commented on #6968
Fix for this is in https://github.com/easybuilders/easybuild-framework/pull/2613

I also fixed the problem where the 2nd to last lines of a multi-line module load message were being indented, i.e. using `modloadmsg = "one\two\nthree"` lead to output like:

[code]

whereas now it'll give what you'd expect:

[code]

[2018-10-08 11:55] zao opened #6973 "intel/2018b not compatible with GCC 7.3.0 stdlib in C++17 mode"
It's way too late to do anything about it now, but the intel/2018b toolchain doesn't quite handle all the functionality used in GCC 7.3.0's libstdc++ when building in C++17 mode.
I'm filing this mostly as something to find for people with similar problems in builds when they try to build software that relies on modern language standards.

[code]
[code]

[2018-10-08 14:21] boegel commented on #6973
@zao This should be solved with Intel compilers 2019 + GCC 8.x as a base (which is currently what we have in mind for `intel/2019a`, but it's way too early to call that)

[2018-10-09 05:20] zidarko opened #6980 "Build of VMD-1.9.3-foss-2017b-Python-2.7.14.eb fails"
I've been trying to build VMD-1.9.3-foss-2017b-Python-2.7.14.eb but the build fails:
[code]

It appears the error is related to the source code itself. Could somebody verify this?

[2018-10-09 06:48] boegel commented on #6980
@zidarko The actual problem should be clear if you dive into the EasyBuild log file (at `/tmp/eb-fN6e8a/easybuild-VMD-1.9.3-20181009.131806.zXSvQ.log` in this case).

If you need help with that, please upload the log file somewhere (preferably one obtained using `eb --debug ...`).

[2018-10-09 10:11] verdurin opened #6981 "Add CMake support to Eigen"
I see the following error when trying to build an application using the `Eigen` module built with EB:
[code]
This appears to be because the `share` directory is not included when building `Eigen`.
That directory includes:
`Eigen3Config.cmake  Eigen3ConfigVersion.cmake  Eigen3Targets.cmake  UseEigen3.cmake`
which would then be found by `CMake` in the application.

[2018-10-09 10:59] boegel commented on #6981
@verdurin Which CMake & Eigen versions are being used here?

Also, how was `Eigen` installed, was that done using `CMake`? Cfr. #6756

[2018-10-09 11:16] verdurin commented on #6981
Closing this because a rebuild with up to date easyblocks and a fix to the local easyconfig has fixed the omission.

[2018-10-09 11:16] #6981 closed

[2018-10-10 14:05] boegel commented on #6968
fixed in https://github.com/easybuilders/easybuild-framework/pull/2613, thanks for the reminder @zao!

[2018-10-10 14:05] #6968 closed

[2018-10-11 12:13] zao opened #7180 "Test crash in OpenBLAS 0.3.3 w/ GCC/8.2.0-2.30 (WIP) with -ftree-vectorize on Zen architecture"
When testing @pescobar's WIP PR easybuilders/easybuild-easyconfigs#6992 for a GCC 8.2.0-based `foss/2018.08` toolchain, OpenBLAS 0.3.3 failed to build on my Ryzen 1700 machine with a crash in one of the tests.

I narrowed it down to the presence of both `-march=native` (or `-march=znver1`) and `-ftree-vectorize` in the environment flags we set in EasyBuild.
The source builds fine with either of th

[2018-10-12 13:30] jose-d opened #7007 "Build of Perl-5.28.0-GCCcore-7.3.0.eb fails in singularityhub/centos:latest"
It seems there is some dependency missing in

[Perl-5.28.0-GCCcore-7.3.0.eb](https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/p/Perl/Perl-5.28.0-GCCcore-7.3.0.eb)

Build in container with singularityhub/centos:latest with additional packages

`yum-utils epel-release ohpc-base-compute lmod-ohpc EasyBuild-ohpc GitPython pysvn graphviz vim zlib-devel libyaml-de

[2018-10-12 13:34] jose-d commented on #7007
..nope. https://www.fzu.cz/~jose/temp/easybuild-Perl-5.28.0-20181012.151005.RieWg.log

[2018-10-12 14:49] jose-d commented on #7007
[code]
fails and..
[code]
is OK. so dependency to openssl and libs should be added. I'll take look.

[2018-10-12 19:33] boegel commented on #7007
@jose-d Are you recipes for the container(s) you're using for testing available somewhere?

I've been wanted to set up something like this for a while now, but haven't found time yet to flesh it out fully...

[2018-10-16 09:36] boegel commented on #7007
Closing this, fixed in #7008, thanks @jose-d!

[2018-10-16 09:36] #7007 closed

[2018-10-18 14:05] schiotz commented on #6953
I see the same problem, but only when building Pillow with the Intel compiler, not when building with the foss compiler.  This is with CentOS 7.4.

[2018-10-19 12:03] boegel commented on #6097
Support for `use_gold_linker` custom easyconfig parameter is being added in https://github.com/easybuilders/easybuild-easyblocks/pull/1555.

Once that is included, you can avoid that `gold` is the default linker via `use_gold_linker = False`

[2018-10-19 15:43] boegel commented on #4955
@reedts I'm hitting the same problem now, but I'm only seeing it when trying to build `PLUMED` with `intel` in a SLURM job environment.

Do you recall if that also was the case for you? Did you figure out a solution to this?

I've seen similar issues with `h5py` for example, see also https://github.com/h5py/h5py/issues/917, but that's because an `python -c "import h5py"` does an MPI init when `h5p

[2018-10-23 23:43] DanielTosello opened #7070 "icc & ifort sanity checks fail with intel 2018 update 4"
for some reason i haven't pinned down yet, the following block fails with intel 2018 u4 compiler, and i assume with some others:
[code]

Build fails as icc & ifort are installed into bin/ but sanity check assumes 'bin/intel64'. I'm guessing that LooseVersion doesn't think 2018_sp4 >= 2013_sp1.

Have worked around it locally (see below) but thought it'd help to report it.

Adding something like:
[c

[2018-10-24 08:03] boegel commented on #7070
Thank you very much for the report @DanielTosello!

`bin/icc` is there for all `2018.*` installations up until `2018.3.*`, but it got moved apparently for `2018.4`.

A similar issue has popped up for Intel MPI, see #1546 . It seems like Intel is moving things around again, I'm sure they have very good reasons for doing so... :-/

We'll get this sorted in the relevant easyblock, by adding another v

[2018-10-24 22:16] DanielTosello commented on #7070
Slight clarification: It's still in that location (`bin/icc`), the sanity check is looking in the wrong location (`bin/intel64/icc`).

Normally i'd put a bit more work into determining the actual cause but i'm a bit pressed for time right now... sorry about that.

[2018-10-25 19:46] boegel commented on #7070
@DanielTosello Can you share the easyconfig file you were using here?

The version checks assume that you'll be using a `version` like `2018.4.*`, is that what you're using?

[2018-10-25 23:29] DanielTosello commented on #7070
We're using "2018.u4", which is in line with previous toolchains... but i
can understand why that might cause a problem. It's actually kind of weird
that it hasn't before if that is the cause.

It's a new toolchain, so now's a good time to change that convention if we
need to.

On Fri, 26 Oct 2018 at 06:46, Kenneth Hoste <notifications@github.com>
wrote:

[2018-10-27 16:59] boegel commented on #7070
@DanielTosello Indeed better stick to the versioning scheme we're using in the central repository, or you're doomed to run into surprises... :)

[2018-10-31 10:20] jhein32 opened #7093 "OpenFOAM and SCOTCH in foss/2018b: not using MPI_THREAD_MULTIPLE"
I installed OpenFOAM-v1806-foss-2018b.eb using SCOTCH-6.0.5-foss-2018b.eb.   A user reported:

I checked that out OpenMPI in foss/2018b believes to be MPI_THREAD_MULTIPLE enabled (using ompi_info | grep -i thread)

[2018-10-31 11:33] akesandgren commented on #7093
Whether OpenMPI is MPI_THREAD_MULTIPLE aware or not is beside the issue.
It's a matter of checking that OF actually does MPI_Init_Thread or not.

[2018-10-31 15:50] boegel commented on #7093
@jhein32 Any chance this is a user error, e.g. using the wrong `mpirun` or something like that?

The error mentions that the program was launched (with an `mpirun`?) that does not have `MPI_THREAD_MULTIPLE` enabled, while you say that OpenMPI *does* have it enabled? That seems to be a contradiction...

[2018-11-01 09:17] boegel commented on #6953
This was also discussed on the mailing list, see https://lists.ugent.be/wws/arc/easybuild/2018-10/msg00056.html for the thread started by @schiotz .

I'm still a bit puzzled why I'm not seeing the problem that @schiotz was seeing, since I was also building `LibTIFF` with `GCCcore` and `--enable-ld-version-script` and building `Pillow` on top of it using the `intel` toolchain, on CentOS 7.4...

For

[2018-11-01 14:41] schiotz commented on #6953
No.  And I have no clue how to investigate it.  However, I doubt that it only happens to me, since somebody had also made intel versions of LibTIFF with the two previous Intel toolchains, presumably because they had to.

[2018-11-01 20:41] vanzod opened #7108 "Qt5-5.8.0 - Pointer to incomplete class type is not allowed"
Building `Qt5-5.8.0-intel-2017b` on a system with OpenSSL 1.1.0f fails with the following error:
[code]

[2018-11-02 09:35] boegel commented on #7108
@vanzod Same problem as
https://github.com/easybuilders/easybuild-easyconfigs/issues/6644?

Also relevant:
https://github.com/easybuilders/easybuild-easyconfigs/pull/6759

[2018-11-02 14:52] edmondac commented on #6097
I can confirm that this works on our AFM cache - thanks!

[2018-11-02 15:02] RameshCG commented on #4575
THis url is not working

wget --no-check-certificate --no-cookies --header "Cookie: oraclelicense=accept-securebackup-cookie" http://download.oracle.com/otn-pub/java/jdk/8u92-b14/jdk-8u92-linux-x64.tar.gz

[2018-11-02 16:43] vanzod commented on #7108
@boegel The root cause is the same (OpenSSL 1.1). Here are a couple of Qt bug reports regarding this issue:
https://bugreports.qt.io/browse/QTBUG-52905
https://bugreports.qt.io/browse/QTBUG-51553

There is no official patch for version 5.8.0, but OpenSSL 1.1 is fully supported from Qt 5.10.
In the meantime the workaround on Debian is to install `libssl1.0-dev` and skip OS dependency checks. Not a

[2018-11-03 16:31] boegel commented on #6097
Thanks for the confirmation @edmondac!

I'll go ahead and close this issue then...

[2018-11-03 16:31] #6097 closed

[2018-11-05 12:34] jhein32 commented on #7093
@boegel I am not ontop of the issues, but let me just provide some feedback as far as I understand it.

Let me explain a bit about MPI and thread safety - on the danger of explaining know stuff - I really don't want to sound patronising, but see the danger that not everyone in our community is up-to-speed here:
The MPI standard has four different levels of thread safety, with `MPI_THREAD_MULTIPLE`

[2018-11-06 13:58] jhein32 opened #7128 "ITK 4.13.0 (foss/2018a) can not download castxml-linux.tar.gz - v4.13.1 seems to work"
When building ITK 4.13.0 (foss/2018a) I got a file not found error (404) on https://midas3.kitware.com/midas/api/rest?method=midas.bitstream.download&checksum=84c2851a4df419b5834114bbfafa8d3e&name=castxml-linux.tar.gz which the build procedure wants to download.  If I --try-software-version=4.13.1 I managed to build an ITK.

[2018-11-07 09:31] jhein32 commented on #7128
Done: https://github.com/InsightSoftwareConsortium/ITK/issues/145

[2018-11-07 10:15] boegel commented on #7128
@jhein32 Thanks!

FYI: `ITK-4.13.1-foss-2018b-Python-3.6.6.eb` was just merged into `develop` as a part of #7130

[2018-11-07 10:18] jhein32 commented on #7128
FYI: I am on the last leg of testing ITK 4.13.1 in foss-2018a - Python 2 and 3

They take a long time to build - several hours on our system.

[2018-11-13 08:17] boegel commented on #7070
I'm reopening this since I'm seeing the sanity check fail for icc `2018.4.274` because the `icc` binary is not found via `which icc`, which indicates that the `$PATH` updates included in the generated module file are no longer correct for this version.

Did you ever got the installation of icc 2018 update 4 to work without modifications to the `icc` easyblock @DanielTosello?

[2018-11-13 09:17] boegel commented on #7070
The problem in my case basically also turned out to be a versioning issue... The internal version for the 2018 update 4 release of the Intel compilers turns out to be `2018.5.274` (rather than `2018.4.*` as you may expect).

The `icc` easyblock requires that you use the internal version, since it uses the `compilers_and_libraries_<INTERNAL_VERSION>/linux` subdirectory when determining which paths

[2018-11-13 11:18] smoors opened #7154 "SCOTCH-6.0.5 wrong version downloaded: upgrade or downgrade?"
the version downloaded in SCOTCH-6.0.5-foss-2018b.eb is actually `6.0.4` (even though it downloads as scotch_6.0.5.tar.gz). In fact, version `6.0.5` does not exist, only versions `6.0.5a` and `6.0.6`.

possible solutions:
1) downgrade to `6.0.4`. this has the least chance of introducing new regressions.
2) change to `6.0.5a`. the name suggests it to be an alpha version.
3) upgrade to `6.0.6`. this

[2018-11-13 12:55] boegel commented on #7154
@smoors Ugh, nice catch...

I'm strongly inclined to fix this going forward, i.e. by renaming to `6.0.6` and downloading the corresponding source tarball. In theory that could introduce regressions, but on the other hand SCOTCH 6.0.4 is pretty old (released March 2015), so jumping to 6.0.6 is more sensible imho...

But I'd like to get some feedback from others on this... @bartoldeman, @akesandgren

[2018-11-13 13:10] akesandgren commented on #7154
I say move forward if possible, but check a bunch of scotch users (codes) first.

[2018-11-13 13:32] boegel commented on #7070
Additional check in sanity check added in https://github.com/easybuilders/easybuild-easyblocks/pull/1577

[2018-11-13 13:32] #7070 closed

[2018-11-13 14:35] smoors commented on #7154
in include/scotch.h:
#define SCOTCH_VERSION 6
#define SCOTCH_RELEASE 0
#define SCOTCH_PATCHLEVEL 6

or we can do a simple sanity_check_command:
acpl -V 2>&1|grep "version 6\.0\.6"

[2018-11-13 21:15] boegel commented on #7154
@akesandgren Check how? Of course we'll make sure that all easyconfigs that currently use `SCOTCH` 6.0.5 still build, but are you suggesting further testing beyond that (and if so, how)?

[2018-11-13 23:15] DanielTosello commented on #7070
I see this all happened while i was asleep. Good old intel and their
consistent paths.

On Wed, 14 Nov 2018 at 00:32, Kenneth Hoste <notifications@github.com>
wrote:

[2018-11-14 06:09] akesandgren commented on #7154
That software using Scotch builds and passes their tests. That's all. Anything else we'll have to deal with later... OpenFOAM is especially sensitive to scotch.

[2018-11-15 09:01] boegel commented on #7128
Rather than deprecating the ITK 4.13.0 easyconfigs like I proposed in #7161, it seems like we have another, way better option, see the feedback we got in

ITK has several dependencies, but it seems doable, and there are a couple that we should *definitely* provide ourselves, like `FFTW`:

[code]

[2018-11-15 12:10] sassy-crick opened #7166 "Qt5-5.10.1-foss-2018a with EB 3.7.1: no file found at 'lib/libQt5WebEngine.so'"
Dear all,

whilst building Qt5-5.10.1-foss-2018a with EB 3.7.1 I get this error message:
Sanity check failed: no file found at 'lib/libQt5WebEngine.so'

I managed to build Qt5-5.10.1-foss-2018a by removing the line:
check_qtwebengine = True
from the easybuild file but this might have unintended consequences.

The log file can be found here:
https://gist.github.com/sassy-crick/8580d3715175cba12e04b

[2018-11-15 12:57] boegel commented on #7166
@sassy-crick Can you check whether this problem is fixed by adding `gperf` as a dependency, as was done in #7086?

That change is not included yet in the easyconfigs that are included with EasyBuild 3.7.1...

[2018-11-15 15:20] peterinl opened #7167 "Configure issue with MVAPICH2 on Omni-Path"
I am having trouble configuring/building MVAPICH2-2.3 on our new omnipath system. I add the configopt "--with-device=ch3:psm", but it seems easybuild is adding "--with-rdma=gen2" at some time during the configure. Apparently those two options are mutually exclusive, and the make fails. I tried adding "--without-rdma" but it gets overridden. Perhaps this is user error, but I can't figure out how to

[2018-11-16 08:33] boegel commented on #7167
@peterinl Thanks for reporting this!

The problem is basically that `--with-rdma` is hardcoded in the `MVAPICH2` easyblock currently. You can control the value that is passed to it via the `rdma_type` easyconfig parameter (`gen2` is the default value).

With the fairly trivial change I made to the `MVAPICH2` easyblock in https://github.com/easybuilders/easybuild-easyblocks/pull/1586, you can use `

[2018-11-17 10:15] verdurin opened #7174 "FFTW dependency problem"
Not sure if this is related to #6619

The error I'm seeing is:
[code]

[2018-11-19 08:24] chrissamuel opened #7176 "AVL 2017.1 easyconfig"
Hi there,

This easyconfig for AVL 2017.1 accompanies the easyblock I just added as an issue here:

https://github.com/easybuilders/easybuild-easyblocks/issues/1589

It requires the user to make a zip file from the mounted ISO and put it in the same directory.

Hope this is useful!

All the best,
Chris
[AVL-2017.1.eb.txt](https://github.com/easybuilders/easybuild-easyconfigs/files/2594332/AVL-2017

[2018-11-19 09:56] boegel commented on #7174
@verdurin Is this with all vanilla easyconfigs? There must be something funky in your easyconfigs somewhere, since in `develop` there's only one single `FFTW` involved:

[code]

[2018-11-20 12:56] sassy-crick commented on #7166
@boegel I have added ('gperf', '3.1'), as outlined in  #7086 and that is working now for me.
Thanks for your help and sorry for the slow reply!

[2018-11-20 12:56] #7166 closed

[2018-11-20 17:04] Micket opened #7179 "Qt5-5.10.1 missing build deps Bison and gperf"
We build from a CentOS7 machine with pretty minimal system installation, and I encountered a problem that the WebEngine component needs Bison and gperf, these should be added as build deps.

https://github.com/easybuilders/easybuild-easyconfigs/blob/67f0180ee26110d4a449049476e8bdd58072ebc2/easybuild/easyconfigs/q/Qt5/Qt5-5.10.1-foss-2018b.eb#L18

[2018-11-23 22:35] boegel commented on #5685
@Falkor Any updates on this? I'm now hitting the same issues, while also playing around with Vagrant... :)

[2018-11-25 16:53] JackPerdue commented on #7179
WebEngine also needs a Python.

WARNING: Python version 2 (2.7.5 or later) is required to build QtWebEngine.

RHEL7 provides python-2.7.5 so the Qt5 build blindly used the system python instead of the Python will be used with DOLFIN.  However, RHEL6 is 2.6.6 so the problem jumps out immediately.  So I've added these dependencies.

    ('gperf', '3.1'),
    ('Python', '3.6.4'),

Maybe Python is onl

[2018-11-26 07:36] JackPerdue commented on #7179
Upon further investigation, it needs a builddep of Python-2.7.14 (for 2018a) and not a dep of 3.6.4.  Regardless, it won't build on RHEL6 unless you comment out "#check_qtwebengine = True" due to glibc not being new enough.

[2018-11-27 11:26] cmeesters opened #7199 "MariaDB 10.2.11 does not link"
Dear All,

I tried to install MariaDB essentially by changing MariaDB-10.1.14-foss-2016a.eb to MariaDB-10.2.11-foss-2017a.eb and MariaDB-10.3.11-foss-2017a.eb. Compiling works, but the linker reports:

[code]

Note, the list of dependencies is defined as follows (as I also partially altered those to reflect the more current 2017a trunk):

[code]

Has this been observed before? Any ideas? Anything

[2018-11-27 16:27] boegel opened #7204 "building Perl fails because Makefile is missing"
While trying to install `Perl-5.28.0-GCCcore-7.3.0.eb` in a Vagrant VM running Debian 9.5 (on top of VirtualBox) on my macOS laptop, I ran into the following problem:

[code]

This occurs during the `build` step, and indeed, there is no `Makefile` present, despite having this in the `configure` output:

[code]

This problem looks similar to #7007, but that problem occurred while installing a parti

[2018-11-28 00:00] verdurin commented on #7199
Hi @cmeesters - could you stick the modified `easyconfig` somewhere for us to try, perhaps as a gist?

[2018-11-28 06:34] cmeesters commented on #7199
Thank you for offering to look into the matter!

Here you go: https://gist.github.com/cmeesters/d863c4a7d768a7803fb6a1de7d274257

Please note line 35 and the comment before. The line specifying the linker was entered by me. This is additional info, because after reporting the issue I tried ld.gold and ld.bfd explicitely. However, nothing worked: No specification nor a specific one.

[2018-11-29 13:44] boegel commented on #7204
For completeness sake, here are the full set of changes I needed to include in the `Perl` easyconfig to fix the installation issues I encountered in a Vagrant VM:

[code]

For now, I don't think it's worth including these changes in the easyconfigs in the central repo, since they're only needed because the broken Vagrant environment (not supporting symbolic links or hard links, and apparently also

[2018-11-29 13:44] #7204 closed

[2018-11-30 10:01] tardigradus opened #7223 "Molden-5.8-foss-2018a.eb: checksum incorrect"
Looks like the checksum has changed - again :-(

Was: a17bac0901f279e0d89aaf15174875e0695ad7596c5878233946b438d09d93b7
Is: d9dbfbe2430890e2e9bd0c81625d76d97221daba91c318cc47196c87cc72f217

[2018-12-05 11:47] sassy-crick opened #7239 "cp2k: change of download location of source code"
The download location for the cp2k source code has changed from the source forged webpage to github:
https://github.com/cp2k/cp2k/releases
I would be good to change that in the easybuild-files as well.
I was testing this with Easybuild version 3.7.1.
Thanks!

[2018-12-05 16:17] sassy-crick commented on #7239
Great! Thanks for doing this!

[2018-12-05 17:41] boegel commented on #7239
fixed in #7240

[2018-12-05 17:41] #7239 closed

[2018-12-06 10:44] Falkor commented on #5685
No, I gave up ;)

[2018-12-06 11:16] andreas-h commented on #5996
I can confirm that the OpenMPI 3.1.1-GCC-7.3.0-2.30 builds properly with `--with-slurm --with-pmi` with locally installed slurm pmi rpms (SLURM 17.11.9 from the openhpc repository).  Using the flags provided in the EasyConfig file did not work (same error as above with older OpenMPI)

[2018-12-07 09:07] boegel commented on #7223
Confirmed, I'm seeing the same thing... Someone should slap these people with a large trout.

[2018-12-07 09:07] boegel commented on #7223
Fixed in #7251

[2018-12-07 09:07] #7223 closed

[2018-12-07 12:17] hajgato opened #7253 "libUUID problems"
Regardigto the `libUUID` issue in #6962 which is solved in #6963, it is mentioned that the `X11` stack need not to be recompiled. Well, if `X11` a dependency, and a software uses `libtool` the problem persists, because it might* find the old `libUUID/lib/libuuid.{a,so}` library. Either `X11` and deps  using `libtool` should be recompiled, or the `.la` files should be modified accordingly.

Just ha

[2018-12-07 12:29] hajgato opened #7254 "Software needs to build with MesonNinja will clash with Python2"
`MesonNinja` only works with `Python3`, so anything needs `Python2` will not be able to be built.
For example `ATK 2.30.0` and `Gdk-Pixbuf 2.38.0` have to be build with `MesonNinja`, and with `GObject-introspection`, which only works with `Python2`

[2018-12-07 13:41] jd-daniels opened #7256 "ADMIXTURE URL is incorrect"
ADMIXTURE URL is incorrect, both for the homepage and the pull URL

New base is this
http://software.genetics.ucla.edu/admixture/

Will provide a pull request

[2018-12-08 14:31] boegel commented on #7256
Thanks for reporting the problem and fixing it @jd-daniels!

[2018-12-08 14:31] #7256 closed

[2018-12-09 14:20] boegel commented on #7253
@hajgato What kind of errors were you running into exactly here?

While building `Pango-1.42.4-foss-2018b.eb` from #7255, I ran into these problems:

[code]

The fix was indeed to rebuild `cairo-1.14.12-GCCcore-7.3.0.eb` after `fontconfig-2.13.0-GCCcore-7.3.0.eb` was rebuilt with the fix from #6963 .

[2018-12-09 16:30] hajgato commented on #7253
@boegel Yes, I got those. The problem that `libtools`  picks up the "old" libuud (from libUUID) from the `.la` files. (so the errors are the same as in PR #6962)

[2018-12-10 12:44] boegel commented on #7253
@hajgato Anything left to do with this? I think it's good to have this "on record", but it's clear now how to fix the problem, so this issue can be closed?

[2018-12-10 12:45] #7253 closed

[2018-12-10 15:21] sassy-crick opened #7274 "ImageMagick source download"
Downloading the source tarball from
https://www.imagemagick.org/download/releases/
means that version 7.0.7-30 from the distributed easybuild file could not been downloaded as it does not exist there.
However, it does exist on Github.
I suggest the following changes in the
ImageMagick-7.0.7-30-GCCcore-6.4.0-Ghostscript-9.22-cairo-1.14.12.eb file:

---  source_urls = ['https://www.imagemagick.org/d

[2018-12-10 15:30] sassy-crick commented on #7274
@boegel I noticed the change of the checksum but decided to ignore it as it comes from an official repository. Shame they don't provide the checksum on the webpage.

I will contact them and see what they reply.

[2018-12-10 15:45] boegel commented on #7274
@sassy-crick Please include a reference to the issue you open in here.

[2018-12-10 15:53] sassy-crick commented on #7274
@boegel thanks for reminding me, I will.

[2018-12-10 16:41] sassy-crick commented on #7274
I posted this on the ImageMagick forum:
https://imagemagick.org/discourse-server/viewtopic.php?f=2&t=35150

[2018-12-11 12:44] sassy-crick opened #7280 "Doxygen: URL to download source"
The URL to download the source tarball for doxygen is no longer working:
http://ftp.stack.nl/pub/users/dimitri/
The domain ftp.stack.nl does not resolve any more.

It might be a good idea to move either to the Sourceforge one:
https://sourceforge.net/projects/doxygen/files/
or directly from Doxygen:
doxygen.nl/files

I leave that up to the developers.

Thanks!

[2018-12-14 12:30] boegel commented on #7167
Fixed with https://github.com/easybuilders/easybuild-easyblocks/pull/1586 (which will be included in EasyBuild v3.8.0). You can bypass the default use `--with-rdma` via `rdma_type = None` in the easyconfig file.

[2018-12-14 12:30] #7167 closed

[2018-12-14 12:48] boegel commented on #7093
This looks relevant: https://bugzilla.redhat.com/show_bug.cgi?id=1386707

[2018-12-14 12:59] boegel commented on #6515
@akesandgren I believe you have some updates on this?

[2018-12-14 13:00] boegel commented on #6792
@nathanhaigh Any updates on this?

[2018-12-14 13:07] boegel commented on #5758
@verdurin Is it worth the trouble to also try to fix this for GCCcore 6.3.0?

[2018-12-14 13:51] jhein32 commented on #7093
Sorry, OpenFOAM took a bit of a back seat here.  To many things to do.

@boegel I am not sure what you are referring to in the bugzilla report, what I am reading here is that they suggested (tried?) building SCOTCH without thread support, which I had also suggested.  That is an option to get something that works, though scotch might be poorer performance.

the report you reference is a few years o

[2018-12-18 09:32] zao opened #7323 "Boost.Python unusable with FindBoost.cmake"
I tried building a RDKit with the fancy separated Boost.Python modules, but noticed that the CMake-based build detects the headers properly in one of the trees but fails to find all the libraries it wants in the module directories, instead opting for the system ones we happen to have.

As it only finds a subset of the headers, it's not even good for header-only libraries.

Building with `-DBoost_N

[2018-12-18 13:42] willfurnass commented on #7280
@sassy-crick In PR #7324 I've proposed using `doxygen.nl/files`.

[2018-12-20 12:44] boegel commented on #7280
@sassy-crick The tests in #7324 are complaining because there are no checksums included in the Doxygen easyconfigs, not because they don't match (this is not checked automatically)

[2018-12-20 13:19] murfreesboro opened #7338 "fix the download URL for pigz-2.3.4-GCCcore-6.4.0.eb"
The download link in pigz-2.3.4-GCCcore-6.4.0.eb does not exist anymore. However, I found the pigz 2.3.4 is available through the author's github page: https://github.com/madler/pigz/releases/tag/v2.3.4 . Please fix the url.

[2018-12-20 13:55] casparvl opened #7339 "ROOT-6.10.08-foss-2017b-Python-2.7.14.eb won't build with rpath support"
During the build, CMake does a regex match between the $PATH and the compiler path. With RPATH support, the compiler path is e.g. `/tmp/casparl/eb-b6cu3o/tmpMeODrP/rpath_wrappers/g++_wrapper`

The + signs cause the regex match to 'not compile':

[code]

Since this CheckCompiler.cmake module is ROOT-specific, this issue is really a bug in ROOT and I reported it there https://sft.its.cern.ch/jira/br

[2018-12-21 08:06] guest1604 opened #7340 "Python-3.6.6-foss-2018b.eb : fail to import scipy.special"
After installing `Python-3.6.6-foss-2018b.eb`, on CentOS 7 with EasyBuild 3.8.0, I have an issue when importing `scipy.special` python module.

[code]
**I think this issue is related to `EB_scipy` or `FortranPythonPackage` easyblocks but I don't know how to fix it.**

Below, my workaround, but this is not a good solution :

1. remove temporarly `<...>/easyblocks/s/scipy.py` easyblock in order to u

[2018-12-21 13:33] JackPerdue opened #7342 "OpenColorIO/1.1.0-foss-2018b list no Python dependency yet needs Python.h to build"
EB3.8.0/CentOS7.5

OpenColorIO/1.1.0-foss-2018b fails to build due to lack of Python.h.

The sloppy workaround is install python-devel.  But that sucks as a solution and if its the proper one then the .eb needs to add an osdep=python-devel at least.

I really would like to see a full listing of RPM/packages in the Travis "test" environments.  I don't see how this could have passed without python-d

[2018-12-21 22:48] boegel commented on #7340
@guest1604 Hmm, strange problem. Importing `scipy.special` works fine for me:

[code]

A similar issue was reported here: https://github.com/scipy/scipy/issues/8325, not sure if that's helpful.

[2018-12-22 09:45] guest1604 commented on #7340
Thanks for your answer @boegel. I will try on another computer, this issue may be related to my (user) environment. For my curiosity, do you know if it's possible to force scipy python extension to use another easyblock than EB_scipy.

[2018-12-22 10:20] boegel commented on #7280
Fixed in #7324, thanks @willfurnass!

[2018-12-22 10:20] #7280 closed

[2018-12-22 10:47] boegel commented on #7338
The source tarball served via GitHub is not perfectly equivalent (different SHA256 checksum).

I've contacted the author (@madler) to ask if the source tarballs for the old `pigz` releases are still available for download somewhere else...

[2018-12-23 03:54] madler commented on #7338
https://zlib.net/pigz/fossils/ has all the old versions.

[2018-12-24 10:07] boegel commented on #7338
Thank you very much for the feedback @madler!

Fixed in #7346

[2019-01-03 09:53] drwhitehouse commented on #7179
Just noting that I concur with @JackPerdue - have been having issues building this as a dependency of OpenFOAM. Commenting out "check_qtwebengine = True" appears to resulted in a bit of progress.

[2019-01-05 14:16] boegel commented on #5776
@michaelkarlcoleman Thanks for reporting this, and sorry for not picking up on this earlier.

I'm a bit puzzled that this only popped up recently... Although your explanation covers why this problem usually doesn't surface makes sense, I would still expect that this pops up regularly.

@bartoldeman was also hitting this problem when testing #7346, so I'm wondering if he has more to add here...

@g

[2019-01-06 10:35] boegel commented on #7339
@casparvl It makes sense to fix this in framework rather than fixing it specifically for `ROOT`, since having the `+` in the path may also be problematic in other contexts.

Done in https://github.com/easybuilders/easybuild-framework/pull/2710

[2019-01-08 14:51] robertschade opened #7383 "Build of M4 fails with glibc 2.28"
Due to changes in glibc 2.28, see
https://lists.gnu.org/r/bug-gnulib/2018-03/msg00000.html and https://www.sourceware.org/ml/libc-alpha/2018-08/msg00003.html, M4-1.4.18 does not build on systems with glibc 2.28.
This issue can be fixed similar to how it is fixed in gnulibs: https://github.com/coreutils/gnulib/commit/4af4a4a71827c0bc5e0ec67af23edef4f15cee8e#diff-5bcce8ce55246264586c4aed2a45ff89
Thi

[2019-01-08 17:04] boegel commented on #5776
A general workaround for this could be to symlink `lib64` to `lib` in every installation performed by EasyBuild (and vice versa to be sure), but that seems a bit extreme to me (although fairly easy to implement).

For specific packages, the problem is actually that there's no proper `-L` command line option being used, and that the linking purely relies on `$LIBRARY_PATH` which is only used as a f

[2019-01-11 11:45] guest1604 opened #7409 "PyQt5 installs some files in Python and Qt5 install directories"
PyQt5 installs some files in Python and Qt5 install directories. eg for "PyQt5-5.11.3-foss-2018b-Python-3.6.6.eb" :
- software/MPI/GCC/7.3.0-2.30/OpenMPI/3.1.1/Python/3.6.6/bin/pylupdate5
- software/MPI/GCC/7.3.0-2.30/OpenMPI/3.1.1/Python/3.6.6/bin/pyrcc5
- software/MPI/GCC/7.3.0-2.30/OpenMPI/3.1.1/Python/3.6.6/bin/pyuic5
- software/MPI/GCC/7.3.0-2.30/OpenMPI/3.1.1/Qt5/5.10.1/plugins/PyQt5/libpyqt

[2019-01-11 14:14] mstud commented on #6866
I also stumbled across this while trying to build on Power9. Is there a variable that EasyBuild provides containing the platform string (uname -i) which we could just insert here maybe?

[2019-01-12 15:03] boegel commented on #6866
We could add a constant that exposes the architecture, we already have a function in `easybuild.tools.systemtools` for this, i.e. `get_cpu_architecture`.

But how would you leverage this in an easyconfig file though?

It seems like we would need to add a custom easyblock for `XML-Parser`?

[2019-01-12 15:38] boegel commented on #7409
@guest1604 That's definitely not intentional, installations are supported to be self-contained...

Apparently the `--destdir` option is not sufficient, and the location for binaries and plugins need to be specified separately?

Can you look into what the correct option are for that?

[2019-01-12 17:20] boegel commented on #7179
fixed in #7300, you should not be seeing this problem anymore when using the Qt5 5.10.1 (or more recent) easyconfigs included in EasyBuild 3.8.0

[2019-01-12 17:20] #7179 closed

[2019-01-12 22:47] guest1604 commented on #7409
@boegel Thanks for your answer, I look the correct options Monday.

[2019-01-13 20:38] boegel commented on #7342
@JackPerdue The problem is that the Python bindings for `OpenColorIO` are built by default (but without proper checking whether `python-devel` is installed).
Simplest solution is to disable building of the Python bindings (and only build them when Python is included as a dependency), done in #7416 .

I'm working on a better setup to test PRs in an isolated minimal environment, where stuff like `py

[2019-01-14 12:08] guest1604 commented on #7409
Using `--bindir`, `--designer-plugindir` and `--qml-plugindir` configure options solve this issue :

[code]

I don’t know if it’s relevant to configure QT_PLUGIN_PATH variable :

[code]

[2019-01-14 17:41] vanzod commented on #7199
@cmeesters I have hit the same issue you described here and I am trying to find a solution for this. Do you have any update?

[2019-01-14 20:43] boegel commented on #7199
Does this help at all? Which `binutils` version is being used here?

[2019-01-14 21:03] vanzod commented on #7199
In my case I am building `MariaDB/10.2.11` with `foss/2017b`, hence `binutils/2.28`.
I have been reading into that thread and it definitely presents strong analogies with this issue. The solution there is to either split the file that contains the VERSION block into two files or to simply pass the `-T` flag to the linker. Although the latter is dirtier, it is definitely less painful to implement.

[2019-01-14 21:32] vanzod commented on #7199
Unfortunately adding the `-Wl,-T` option does not seem to solve our issue.

[code]

[2019-01-15 00:32] vanzod commented on #7199
This issue thread pointed me in the right direction:
https://patchwork.openembedded.org/patch/111057

In a nutshell, replacing the `gold` linker used by default with `bfd` by adding `DCMAKE_SHARED_LINKER_FLAGS='-fuse-ld=bfd'` to the CMake command line, the build completes successfully.
The `bfd` linker is not supported by old GCC releases, but it should not be our concern.

[2019-01-15 10:39] jose-d opened #7425 "sympy test failure II"
as found in #4024 and #7405, sympy tests are _sometimes_ failing.
This issue is to keep the track of the investigation.

So far there is observable correlation between length/depth of the buildpath:

_Long_ path, e.g. `--buildpath=/tmp/fakehome/jose/.local/easybuild/build/` will reproduce the error, and _short_ path, e.g. `--buildpath=/dev/shm/jose/ebtest/` seems to be working fine.

I did just fe

[2019-01-15 13:01] boegel commented on #3618
No longer relevant imho...

[2019-01-15 13:01] #3618 closed

[2019-01-15 14:19] jose-d commented on #7425
..tests are looking as not stateless, if `eb` build is interrupted (ctrl-C) in test phase, and then the `eb` command started again and EasyBuild attempts to continue, tests will fail a lot.

second, most likely unrelated problem is appearing as
[code]
this seems be similar case to [this bugreport](https://bugs.launchpad.net/nova/+bug/1040110).

[2019-01-15 16:58] jose-d commented on #7425
I think that there are some file(s) in the `info['build_dir']` (in my case it's this one:
`/home/users/jose/.local/easybuild/build/sympy/1.3/foss-2018b-Python-3.6.6/sympy-1.3/tmphurt_a5o` )
open in some running process when `shutil.rmtree` is called - in case of NFS it creates the undeletable `.nfsXXX` files, in case of different filesystems it can fail in slightly different way.

+1

[2019-01-15 17:01] vanzod opened #7432 "XML-LibXML test fails with Intel"
I am hitting a strange error when building `XML-LibXML-2.0132-intel-2017b-Perl-5.26.0.eb` during the test step:

[code]

Has anybody seen this issue before?

[2019-01-15 17:19] boegel commented on #7432
The missing symbol `__intel_ssse3_strncpy` is a part of one of the libraries provided by the Intel compilers.
See https://groups.google.com/forum/#!topic/enzo-users/QF17H6Sdans, looks like you need to make sure `LibXML.so` links with `-lirc`?

[2019-01-15 23:06] vanzod commented on #7432
@boegel I believe the problem is that the linking is done with `gcc` instead of `icc`:
[code]
The problem is now how to fix this. In the `Makefile.PL` I cannot identify what generates that command line, but my Perl knowledge is pretty basic.

[2019-01-16 11:32] guest1604 opened #7435 "DBus installation issue related to systemd"
On CentOS 7, DBus installation fails with this error :
[code]
[code]
Adding this option in the easyconfig file solved this issue : `configopts = '--disable-systemd'`

Do you think this is the good solution ?

[2019-01-16 12:41] akesandgren commented on #7435
To solve that specific problem yes. But DBus belongs among the OS distro packages and should most likely not be built in EB in my opinion.

[2019-01-16 15:00] jose-d commented on #7425
now I know. This,
[code]
will create directory and ELF with compiled sources ( `_sources1` ). [(docu)](https://pycompilation.readthedocs.io/en/latest/pycompilation.html#pycompilation.compilation.compile_link_import_strings)
When the test's are calling
[code]
the ELF is still loaded and that's prevents us from clean dir deletion.

Observations on paused buid:

[code]

[2019-01-16 15:31] JackPerdue commented on #6866
You and your damn fetish with putting everything in an easyblock.  :)  Can't we just get an %(arch) tag that is set appropriately (e.g. ppc64 vs. x86_64) that could be used in an easyconfig?

[2019-01-16 16:58] boegel commented on #7435
@guest1604 already done recently in #7373

[2019-01-16 18:17] jose-d commented on #7425
no magic too. `CTRL+C` in test phase stops EasyBuild, but test process continues.
Deleted builddir in the next build causes the strange output of the old, still-running test.

From debugging purposes I redirected stdout and stderr of the tests into single file so I was able to see the mix of output of both current and previous test runs.

But they are indeed independent.

[2019-01-16 22:22] michaelkarlcoleman commented on #5776
A comment on the StackOverflow page suggests that only `g++` does this, but not `gcc`.  If true, that might help explain the rarity of observed problems, since probably fewer packages actually use `g++`.

Another factor is that perhaps a lot of EB recipes are already using the `-L $EBWHATEVER` form.  Possibly in some cases they did that to work around this issue, without pursuing it further.  I'm

[2019-01-17 08:08] boegel commented on #5776
@michaelkarlcoleman My preference would go to the compiler wrapper that silently injects `-L` flags for every entry in `$LIBRARY_PATH`, but if this is to work also when you manually build software (i.e. without using EasyBuild), then that compiler wrapper would have to be a part of the compiler installation done by EasyBuild, and not be created dynamically when `eb` is used (as is done now with th

[2019-01-17 10:12] mstud commented on #6866
@boegel As I already suggested, the "platform string" that is also output by `uname -i` is pretty generic, used in many places, and contains `ppc64le` in this case. Having this available as a template variable would be a good thing, I believe.

[2019-01-17 10:21] micaeljtoliveira commented on #6866
@mstud Just a small comment. On my powerpc, `uname -i` returns `unknow`. To get `ppc64le`, I need `uname -m`.

[2019-01-17 11:00] boegel commented on #7432
@vanzod Spot on. I was using `Perl-5.26.0-intel-2017b.eb` to resolve the `Perl` dependency for `XML-LibXML-2.0132-intel-2017b-Perl-5.26.0.eb`, i.e. I was not using `--minimal-toolchains` (which leads to using `Perl-5.26.0-GCCcore-6.4.0.eb` instead.

I was able to reproduce the issue you reported when using `--minimal-toolchains`, and was able to fix it as suggested earlier, i.e. using:

[code]

[2019-01-17 11:08] boegel commented on #6866
@mstud @micaeljtoliveira Is `ppc64le` included in the output of `python -c "from platform import uname; print uname()"` for you (please share the output you get)?

[2019-01-17 11:17] mstud commented on #6866
@boegel Yes it is:
`('Linux', 'ml5', '4.14.0-49.13.1.el7a.ppc64le', '#1 SMP Mon Aug 27 07:37:11 EDT 2018', 'ppc64le', 'ppc64le')`

[2019-01-17 11:34] micaeljtoliveira commented on #6866
@boegel Here is the result on my system:
`('Linux', 'mpsd-srv-ppc-001', '4.9.0-6-powerpc64le', '#1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02)', 'ppc64le', '')
`

[2019-01-17 13:36] vanzod commented on #7432
@boegel Do you think this is something limited to this specific package or could it be something more generic that may be worth to address on an easyblock?

[2019-01-17 17:07] boegel commented on #7432
@vanzod That's a good question, I have no idea...

[2019-01-17 18:46] boegel commented on #7432
fixed in #7440

[2019-01-17 18:46] #7432 closed

[2019-01-17 22:15] michaelkarlcoleman commented on #5776
All good points.  You're right--the sterile environment would mostly be useful for detecting libs/etc. that are missing from a recipe.

Maybe there's also a special flag or two that would convince `g++` to not even look for such system libs during build.  That might help diagnose these issues.  On the other hand, you'd want to make sure they didn't get picked up on the end user's system either.  L

[2019-01-18 10:16] boegel commented on #6866
Support for `%(arch)s` template is implemented in https://github.com/easybuilders/easybuild-framework/pull/2728, should go in in time for EasyBuild 3.8.1 .

Anyone up for following up on that by changing `sanity_check_paths` in the `XML-Parser` easyconfigs accordingly?

[2019-01-18 11:38] jose-d commented on #7435
@akesandgren :thinking:

[2019-01-18 11:45] jose-d commented on #7425
sure, I have already workaround and patch.
Just as the tests-runs are extra long, I do it on the background.

But I think for 3.8.1 it'll be ready.

[2019-01-18 14:48] JackPerdue commented on #6866
It's not just XML-Parser:

find $EBROOTEASYBUILD -name \*.eb | xargs grep x86_64 | grep dirs

Could you add a test in the pull request approval scripts (e.g. --check-style) that at least alerts to architecture specific code like that (or just rejects it unless they use %(arch))?????

[2019-01-18 14:54] jose-d commented on #7425
ATM i still don't have idea why do we see this. The fact that we see busy files in directories to be deleted has some reason.. I'm playing on the background with this task..

[2019-01-18 16:11] boegel commented on #6866
@JackPerdue We can certainly start working on that, but I doubt it'll be as simple as replacing `x86_64` with `%(arch)s` everywhere... Although it won't change much on `x86_64` systems, of course.

[2019-01-18 17:43] boegel commented on #7435
Closing this since fixed in #7373

[2019-01-18 17:43] #7435 closed

[2019-01-18 21:33] boegel commented on #6866
Hardcoding in `XML-Parser` easyconfigs fixed in #7450

[2019-01-18 21:35] efirvida opened #7451 "Hypre-2.14.0-foss-2018a.eb compilation error"
Hi, I try to install **Hypre-2.14.0-foss-2018a.eb**, but allways give the same error:

end of the log file:

[code]

[2019-01-18 21:51] boegel commented on #7451
@efirvida This indicates that the compiler you are using (the `gcc` provided by the `foss/2018a` module) was built for a newer system architecture (e.g. Intel Skylake) than the one you are using now (e.g. Intel Haswell):

[code]

Does that make sense?

[2019-01-18 21:53] boegel commented on #7451
If you would like to obtain a GCC installation that can be used on different architectures, you can rebuild it using `--optarch=GENERIC`, see https://github.com/easybuilders/easybuild-easyblocks/pull/1336 and https://easybuild.readthedocs.io/en/latest/Controlling_compiler_optimization_flags.html#optimizing-for-a-generic-processor-architecture-via-optarch-generic

[2019-01-18 22:01] efirvida commented on #7451
I'm runing the eb as user not as root, so I think that its using the default GCC, so I have to use --optarch=GENERIC or to rebuild GCC?

[2019-01-18 22:54] boegel commented on #7451
You should check on which system the `GCCcore` module that is loaded when you run `module load foss/2018a` was built. That system will have a newer processor than the one on which you are trying to compile `Hypre`.
So either you should use a different `foss/2018a` available somewhere else, or you (or someone else) should rebuild the `GCCcore/6.4.0` module with `eb --optarch=GENERIC` to make sure y

[2019-01-18 23:21] efirvida commented on #7451
Hi thanks for your answer I will try it by myself befor talk with the sysadmin. rigth now i´m just loading the easybuild with "module load EasyBuild" and let them use the gcc that its included in. So I don´t know why didnt work, but I will re-build it by myself. thanks a lot.

[2019-01-19 08:13] boegel commented on #7451
@efirvida The `EasyBuild` module doesn't provide `gcc` at all.

But when building something with the `foss/2018a` toolchain, EasyBuild will load the `foss/2018a` module before starting the build, so you're effectively using the `gcc` provided by that module.

[2019-01-19 11:34] boegel commented on #5758
@verdurin re-ping...

[2019-01-19 12:48] boegel commented on #7338
#7346 is merged to be included in EasyBuild v3.8.1, so closing this...

[2019-01-19 12:48] #7338 closed

[2019-01-19 12:53] boegel commented on #7339
I'm closing this since we've implemented a general fix for this problem in https://github.com/easybuilders/easybuild-framework/pull/2710, to be included in EasyBuild v3.8.1

[2019-01-19 12:53] #7339 closed

[2019-01-19 12:57] boegel commented on #7342
closing this since Python bindings in `OpenColorIO` are now disabled via #7416, so no `Python.h` needed in the system anymore

[2019-01-19 12:57] #7342 closed

[2019-01-19 12:58] boegel commented on #7383
closing this since the issue is fixed via #7384, thanks again @robertschade!

[2019-01-19 12:58] #7383 closed

[2019-01-19 14:02] boegel commented on #6866
Closing this since the problem originally reported here is fixed with #7450, to be included in EasyBuild v3.8.1.

Other similar instances can be fixed via separate pull requests.

[2019-01-19 14:02] #6866 closed

[2019-01-20 18:40] JackPerdue commented on #7409
I see that problem with a number of Python packages.  I recommend using EASYBUILD_READ_ONLY_INSTALLDIR=1  or  --read-only-installdir when installing Python (actually, when installing anything) to avoid this kind of pollution.  Doesn't solve the problem (since the build will likely fail) but at least alerts you to it.

[2019-01-21 21:48] Micket opened #7463 "Python @ GCCcore"
# Background

Compiling python together with the scipy bundle at the toolchain level has disadvantages:
1. Unnecessarily duplicated python interpreters
2. Any modules with direct or indirect runtime dependencies on Python is forced to be on the toolchain level as well.
This primarily

Having a runtime dependency libpython at GCCcore will significantly reduce number of modules, as well as ensuring

[2019-01-22 11:35] jose-d commented on #7425
@boegel : i think i have something. can you pls. check this one, https://github.com/easybuilders/easybuild-easyconfigs/pull/7405/commits/2bb40eb9bd26bec296bec506f51f1ec2adeca7e3 (last one in #7405 ) on some of your symlink-home-system?

[2019-01-22 12:43] boegel commented on #7463
Thanks a lot for summarizing this so nicely @Micket!

W.r.t. suggestion 1:

* We can look into still having a `Python-2.7.15-foss-2019a.eb` that simply installs an alias for `SciPy-<datestamp?>-foss-2019a-Python-2.7.15.eb`, much like we do with `Java` now, see https://easybuild.readthedocs.io/en/develop/Wrapping_dependencies.html. That would avoid most of the impact on users, since they can keep u

[2019-01-22 14:23] boegel commented on #7409
should be fixed by #7470...

[2019-01-22 15:20] jhein32 opened #7472 "R-3.5.0-iomkl-2018a-X11-20180131.eb build fails because of clValid_0.6-6.tar.gz checksum"
R-3.5.0-iomkl-2018a-X11-20180131.eb build fails because of clValid_0.6-6.tar.gz checksum.

How do we go along?  I just submit a PR with an updated checksum?
Joachim

[2019-01-22 19:06] boegel commented on #7409
closing this since #7470 is now merged (to be included with EasyBuild v3.8.1)

[2019-01-22 19:06] #7409 closed

[2019-01-22 19:43] Micket commented on #7463
* If the alias doesn't confuse/conflict, then I see no reason not to add one. If so, then I think this part is completely positive.

* libimf vs libm and numpy.exp is a bit of a special case, so I wouldn't expect more exotic math to be affected. I ran the benchmark you linked (excluding sklearn, as I didn't have it built).
I ran: Cholesky, Det, Dot, Fft, Inv, Lu, Eig, Svd, Blacksch, Rng.
Unfortuna

[2019-01-23 12:11] boegel commented on #7472
@jhein32 Checksums look OK to me for a fresh download:

[code]

Are you seeing something different?

For genuine upstream checksum changes, we should:

* fix the checksum in all affected `R` easyconfigs
* complain to the package author about the in-place update (ideally)

[2019-01-23 17:06] jhein32 commented on #7472
@boegel Thanks for looking into this.  Following your message, I "fixed" the clValid, to get the same issue with another extension package.  I renamed the folder with the extension sources, which forced EB into recreating the folder for the extensions and downloading everything again.  Now it builds an R installation.

Not sure what happened, why I got files with wrong checksums when I did the ori

[2019-01-23 17:59] boegel commented on #7472
@jhein32 You could have just used ` --force-download` to make EasyBuild re-download all requires sources.

If this happens again, please make sure the downloads are actually tarballs (and not HTML files or similar), by running `file` on them. EasyBuild can/should do that for you and properly report an error, but nobody has implemented a check like that yet.

Someone will (hopefully) remember this

[2019-01-23 17:59] #7472 closed

[2019-01-24 12:54] guest1604 opened #7486 "Fix OpenFOAM-v1812-cleanup.patch (develop branch)"
There is an error in `OpenFOAM-v1812-cleanup.patch` file (develop branch) : https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/o/OpenFOAM/OpenFOAM-v1812-cleanup.patch

In order to build ParaView plugins to use paraFoam, we have to replace :
`+#ParaView_VERSION=$EBVERSIONPARAVIEW`
by :
`+ParaView_VERSION=$EBVERSIONPARAVIEW`

[code]

[2019-01-24 18:59] boegel opened #7491 "scikit-image installation fails with "ImportError: No module named '_tifffile'""
Observed with at least `scikit-image-0.14.1-intel-2018b-Python-3.6.6.eb`, reproduced by @vanzod:

[code]

[2019-01-24 19:03] vanzod commented on #7491
@boegel I confirm I got the exact same traceback when I built it.

[2019-01-24 19:31] vanzod commented on #7491
@boegel I also confirm that after switching `'use_pip': False` the build terminates successfully.

[2019-01-24 20:00] boegel commented on #7491
It looks like the reason it fails when `pip` is used while it works when it's not is related to whether or not a `.egg` directory gets installed:

With a failing installation done with `pip`:
[code]

With a successful installation with `setup.py install` rather than `pip`:

[code]

[2019-01-24 20:01] boegel commented on #7491
Or the fact that there's no `skimage/external/tifffile/_tifffile.py` when installing with `pip`. W.T.F.

[2019-01-24 20:03] boegel commented on #7491
This worked fine when testing #7056 though, where this easyconfig was contributed...

[2019-01-24 20:15] efirvida commented on #7451
hi thanks for all, I´m trying now rebuilding the gcc, I will made an update as soon as I can

[2019-01-24 21:10] boegel commented on #7491
Same problem with `scikit-image-0.14.1-foss-2018b-Python-3.6.6.eb`.

Tried re-installing `Python-3.6.6-intel-2018b.eb` from scratch, didn't make a difference.

Also tried with EasyBuild 3.7.1 + `--from-pr 7056`, same issue.

So it seems like the problem is not in the code, but related to one of the dependencies?

[2019-01-25 10:53] boegel commented on #7491
One more data point: installing `scikit-image-0.14.1-intel-2018b-Python-3.6.6.eb` on top of existing installations of `Python` and the `Pillow`, `dask`, `matplotlib` that were using to correctly install `scikit-image` earlier also fails.

This suggests that it's not a problem with the dependencies, but really when only installing `scikit-image` itself. This is getting really interesting...

[2019-01-25 12:12] boegel commented on #7491
When taking a detailed look of `pip install --verbose`, I noticed that during the `scikit-image` installation, for some reason it's auto-downloading and installing several Python packages, even though they are already included in the `Python` installation:

[code]

That's the likely culprit here, since in the `Python/3.6.6-intel-2018b` we include `numpy` 1.15.0, while now it's pulling in `numpy` 1

[2019-01-25 15:09] boegel commented on #7491
Fixed by making `PythonPackage` use `--no-build-isolation` when using `pip` 10.x or newer, see https://github.com/easybuilders/easybuild-easyblocks/pull/1623

[2019-01-25 15:09] #7491 closed

[2019-01-25 18:57] boegel commented on #7486
Ah, I misread the description. The issue wasn't that `paraFoam` were missing, but that the ParaView plugins were missing.

Where are those located @guest1604, can you give an example?

[2019-01-25 19:11] guest1604 commented on #7486
This directory were missing : `$EBROOTOPENFOAM/OpenFOAM-v1812/platforms/linux64GccDPInt32Opt/lib/paraview-5.4`. This is the `PV_PLUGIN_PATH`.

So `paraFoam` didn't launch ParaView :

[code]

[2019-01-26 15:51] renatopancheri opened #7502 "snappy missing shared library"
All of `snappy` easyconfig files build only the static library,
i've encountered a software that needs the shared library so i've added:
`configopts = ' -DBUILD_SHARED_LIBS=ON'`
to the snappy easyconfig but this way static library does not get built.
Looking at the code of snappy there is no param to build both,
i tried `-DBUILD_STATIC_LIBS=ON` but it gets ignored.
Is there a way to build both sta

[2019-01-28 14:21] mboisson opened #7507 "Require https for homepage and source_urls"
Will need a mechanism for whitelisting for packages that don't have https.

[2019-01-29 10:57] #7486 closed

[2019-01-29 13:26] cmfield opened #7514 "Python-2.7.15-foss-2018b.eb : installation fails at pandas"
I am trying to easybuild the package in the title, and it fails every time at pandas. For reference, I have managed to install Python/3.7.0-foss-2018b without any difficulty.

[code]

[2019-01-30 08:45] cmfield commented on #7514
Here you go, I hope it helps:

[debug.log](https://github.com/easybuilders/easybuild-easyconfigs/files/2811617/debug.log)

[2019-01-31 11:13] andrewbsmith opened #7523 "MATLAB README"
In the MATLAB README it states:
* check whether bin/glnxa64/libstdc++.so.6 is correct, fix if required

So my version of /lib64/libstdc++.so.6 does not match the Matlab one, so what is the fix?

Matlab crashes when started and it looks like this is the cause.

Many thanks,

Andrew

[2019-02-01 11:27] jhein32 opened #7526 "nwchem and libibumad-dev on centos 7.5"
HI,

I am currently trying to install the NWchem NWChem-6.8.revision47-intel-2018a-2017-12-14-Python-2.7.14.eb on centos 7.5.

The build fails because of the os dependencies::
`One or more OS dependencies were not found: [('libibumad-dev', 'libibumad-devel')]`
We have the "non-dev" version on our cluster, but yum seems unavailable to locate a dev or devel version of the package.  Any comments/hint

[2019-02-01 11:33] jhein32 commented on #7526
Hi,

One of my colleagues came back saying this should be included in rdma-core-devel, which have installed.  I can check in the next days whether we can build against rdma-core-devel.  I would need some help with syntax on how to provide a PR to fix the issue.

[2019-02-01 11:37] akesandgren commented on #7526
See for instance latest openmpi easyconfig

[2019-02-01 11:41] jhein32 commented on #7526
Your suggestions is of remover the libibumad alltogether?  The openmpi easyconfigs do not reference this.

[2019-02-01 14:12] akesandgren commented on #7526
No, it's just an example of how a trippel osdep looks like.
In your case it should probably be
('libibumad-dev', 'libibumad-devel', 'rdma-core-devel')

[2019-02-01 15:08] cmfield commented on #7514
Good news, I have solved the problem, and it was my fault. I had a python package locally installed that for some truly awful reason referenced the version of python it was installed with in such a way that the path of the wrong version of python ended up in my sys.path, resulting in the loading of the wrong packages. Sorry to trouble you!

[2019-02-01 15:08] #7514 closed

[2019-02-05 23:51] murfreesboro opened #7552 "failed to install python 2.7.14 for Intel 2017b toolchain"
I tried to install the Python-2.7.14-intel-2017b.eb through "eb --debug --parallel=1 Python-2.7.14-intel-2017b.eb", but it failed on the numpy stage. It reported the error that "can not find the Fortran compiler". Here below is the error message from the log:

[code]

[2019-02-06 20:53] XHotSniperX opened #7561 "Failed to install Clang 7.0.0"
We want to install Clang on our cluster with Easybuild (Clang 3.8 is already installed but we need the newer one) but it fails. There are 2 log files.
[clang-log.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/2838179/clang-log.zip)

I could not find the issue why it fails. Do you have an idea?

[2019-02-10 08:39] boegel commented on #7561
@XHotSniperX A handful of tests failed, reason is unclear to me.

We recently added the possibility to skip running the Clang tests, because we frequently run into a handful of failing tests for no apparent reason.

Can you try adding `skip_all_tests = True` to the Clang easyconfig file you are using?
Note that this requires EasyBuild v3.8.0 or newer (cfr. the changes to the Clang easyblock in htt

[2019-02-10 09:20] smoors opened #7574 "MATLAB does not use the Java dependency defined in the easyconfig"
MATLAB/2017a uses the JVM shipped with MATLAB and not the Java that is loaded:
[code]

We should either remove the Java dependency in the easyconfig or set this env var:
export MATLAB_JAVA=$EBROOTJAVA/jre

[2019-02-10 10:28] XHotSniperX commented on #7561
@boegel Many thanks for the answer! We will try it. By the way, is it easy to edit the easybuild configuration so that it installs the 7.0.1 version? Could also give that a try.

[2019-02-11 12:41] robertschade commented on #4999
I experience the same problem with Perl-5.28.0-GCCcore-7.3.0.eb

== FAILED: Installation ended unsuccessfully (build directory: /scratch/pc2-mitarbeiter/rschade/easybuild/build/Perl/5.28.0/GCCcore-7.3.0): build failed (first 300 chars): cmd " perl Build.PL --prefix /scratch/pc2-mitarbeiter/rschade/easybuild/software/Perl/5.28.0-GCCcore-7.3.0 " exited with exit code 2 and output:
Can't locate ExtUt

[2019-02-11 13:16] robertschade commented on #4999
btw, ExtUtils/Config.pm is being build but not found ("installing extension ExtUtils::Config 0.008 (6/288)...")

[2019-02-11 15:07] robertschade commented on #4999
The comamnd:

` "/scratch/pc2-mitarbeiter/rschade/easybuild/software/Perl/5.28.0-GCCcore-7.3.0/bin/perl" -MExtUtils::Install -e 'install([ from_to => {@ARGV}, verbose => '\''0'\'', uninstall_shadows => '\''0'\'', dir_mode => '\''755'\'' ]);' -- \
        read "/scratch/pc2-mitarbeiter/rschade/easybuild/software/Perl/5.28.0-GCCcore-7.3.0/lib/perl5/site_perl/5.28.0/x86_64-linux-thread-multi/auto/Ext

[2019-02-12 07:42] boegel commented on #4999
@robertschade Can you check the logic in the `Makefile`, and see if you can spot a condition that would explain why `Config.pm` doesn't get installed?

[2019-02-12 14:03] robertschade commented on #4999
Right now, for us this looks to be an issue of the underlying file system (Beegfs).
The problem happens is file are written by "make" and then directly afterwards accessed by "make install" during the installation of the perl modules. "make install" doesn't find all files and, hence, doesn't install them properly.

Putting  a few cmd_run("sync") in easybuild/software/EasyBuild/3.8.1/lib/python2.7/

[2019-02-12 14:16] robertschade commented on #4999
@boegel The logic of the Makefile is proper. Make copies some files, e.g. Config.pm in to a directory blib/lib/. Then "make install" is supposed to copy these files somewhere else. However, when executed on our old Beegfs, "make install" does not see the files that have been copied by "make" and, hence, does not copy them.
However, when one looks later, these files are in blib/lib, so it was very

[2019-02-12 14:18] robertschade commented on #4999
However, we can't diagnose the beegfs issue further, because this is a production installation that otherwise works perfectly.

[2019-02-12 14:22] robertschade commented on #4999
@boegel I have also set up a virtual machine with nearly the same software installation (CentOS 7.2, environment-modules) as the system where the installation failed. In the virtual machine, using an ext4-file system, the installation works without problems.

[2019-02-13 16:21] boegel commented on #7552
@murfreesboro Can you check in the (`numpy`) build directory if there's a log file somewhere that provides more information?

Should be somewhere in `/tmp/Python/2.7.14/intel-2017b/numpy/numpy-1.13.1` by the looks of it...

Maybe also share the full log somewhere, since we can't tell here what command was being run exactly...

[2019-02-14 12:25] zao commented on #7180
This is still an issue for OpenBLAS 0.3.5 by the way, took me a while to remember that I had to `'vectorize': False` when installing a new toolchain.

[2019-02-14 14:30] bartoldeman commented on #7180
Maybe the best would be to only compile the files that use inline asm without `-ftree-vectorize` but still compile the included LAPACK etc with it.

@zao can you compile with debug info (`-g`) enabled. then the segfault backtrace will give some useful info and I may be able to fix the bug for you.

[2019-02-14 15:13] bartoldeman commented on #7180
@zao can you try this patch? They may have fixed it upstream post 0.3.5.
https://patch-diff.githubusercontent.com/raw/xianyi/OpenBLAS/pull/1965.patch

[2019-02-14 15:16] bartoldeman commented on #7180
also this one:
https://patch-diff.githubusercontent.com/raw/xianyi/OpenBLAS/pull/2010.patch

[2019-02-14 15:24] zao commented on #7180
The first crash I see in the test suite is in `dgemv`.
With both patches applied, it still crashes.

I can't quite determine which executable it is that blows up as the test output is severely interspersed.
The -g trace as recorded with no patches:
[code]

[2019-02-14 15:47] bartoldeman commented on #7180
I reproduced the issue with OpenBLAS git master, compiling manually with `-O2 -ftree-vectorize -march=znver1` but running on skylake...
Let's see.

[2019-02-14 16:08] bartoldeman commented on #7180
this fixes it. Will submit PR upstream.
[code]
(tabs may be corrupted)

[2019-02-14 16:59] zao commented on #7180
Build completed with all three patches present and also with just your patch.

I'm still rather skeptical to the integrity of an optimized build of this in general.

[2019-02-14 19:17] vanzod commented on #7574
I confirm this issue. The same happens in our `MATLAB` installation and using the `MATLAB_JAVA` environment variable works.

[2019-02-15 14:56] bartoldeman commented on #7180
Indeed, upstream, Martin Kroeker found another bug yesterday with sgemv producing wrong results with `-ftree-vectorize`. Many many asm constraint issues were uncovered by GCC 9, and more are exposed by `-ftree-vectorize`.

I would propose disabling it for OpenBLAS for now. It can probably be re-enabled for OpenBLAS 0.3.6, because Martin has been quite thorough in his reviews and bug fixes.

[2019-02-19 00:28] murfreesboro commented on #7552
@boegel Thank you for your help. Somehow the issue fixed in my box. Maybe I installed something changed the setting to make the error go away. Thank you anyway!

[2019-02-19 00:29] murfreesboro commented on #7552
error fixed. Close the issue.

[2019-02-19 00:29] #7552 closed

[2019-02-19 16:56] hughesdj opened #7687 "InterProScan-5.28-67.0-intel-2018a.eb"
We find that this easyconfig has a missing dependency (libgnutls.so.28) at runtime.  Please see below.

    $ interproscan.sh -i /home/data/bioinf_resources/programming_tools/interproscan-5.32-71.0/test_proteins.fasta -f tsv
    19/02/2019 12:36:22:535 Welcome to InterProScan-5.28-67.0
    19/02/2019 12:36:28:393 Running InterProScan v5 in STANDALONE mode... on Linux
    19/02/2019 12:36:41:705 Lo

[2019-02-19 19:54] boegel commented on #7687
@hughesdj This went undetected because we have `gnutls` installed system-wide (we're working on a better test setup to prevent stuff like this).

Since `GnuTLS` is security-related, the recommended solution is probably to install `gnutls` via the OS package manager (and to track that requirement via `osdependencies` in the easyconfig file).

Although you could also consider adding `GnuTLS` as a de

[2019-02-20 17:58] boegel commented on #7552
@murfreesboro Did you update the `numpy` version when you ran into this? Looks like you were hitting this issue: https://github.com/numpy/numpy/pull/12831...

[2019-02-21 21:38] omula commented on #4999
@robertschade you can use a different filesystem as this only affects the building phase.
In my case I got it compiled with `export EASYBUILD_BUILDPATH=/dev/shm`

[2019-02-23 15:25] boegel commented on #4999
Interesting analysis!

I remember running into similar issues with GPFS at some point, I think it was with OCaml, but the problem disappeared after an update.

@robertschade Do you think it's worth adding the `sync` command to the `PerlModule` easyblock to dance around this? Or maybe a simple "sleep" suffices?

[2019-02-25 12:35] robertschade commented on #4999
As noted in my previous comment (https://github.com/easybuilders/easybuild-easyconfigs/issues/4999#issuecomment-462770844):

around the ConfigureMake-calls causes the installation to proceed beyond the point where it failed before.

With some file system syncs in perlmodule.py the installation of Module::Build::Tiny works, but fails later for a different module. That is why I have not suggested sy

[2019-02-25 23:42] HaoZeke commented on #5996
Well it really depends on the OS and the package management system.. It is trivial to edit and use `PKGBUILD` files in `archlinux` to install and remove things from `/usr`..

[2019-02-26 08:36] boegel commented on #4999
OK, so is there anything else we can do in EasyBuild to help deal with this?

If not, we should close this issue; it can serve as a record of what the underlying cause was and provide hints to others hitting this problem?

[2019-02-26 09:42] robertschade commented on #4999
I don't think so. I agree with closing this issue.

[2019-02-26 11:38] verdurin opened #7737 "XML-LibXML version problem"
Maybe related to #7432

I see this error when building `XML-LibXML` as a dependency of `VEP`:
[code]

[2019-02-26 20:23] #4999 closed

[2019-03-02 01:19] bartoldeman commented on #7180
The other issue in OpenBLAS relates to https://github.com/xianyi/OpenBLAS/pull/2019

[2019-03-05 17:07] cmfield opened #7808 "R-3.5.1-foss-2018b.eb X11/Cairo Issue"
I have installed R-3.5.1-foss-2018b.eb with all dependencies. There was one small issue in the .lua script itself, calling Java-1.8 instead of Java-1.8.0_192 but that was an easy fix. The real problem is the way R is handling X11/Cairo.

Running R, capabilities() reports that both X11 and Cairo are available. However, X11.options() has a default 'type' value of Xlib, which should be cairo accordin

[2019-03-06 07:41] mstud opened #7809 "Python-3.6.4-golf-2018a.eb considered harmful?"
Hi all, we are using --minimal-toolchains by default, and since the introduction of a Python easyconfig that is built with the golf toolchain in #6080, this get's picked up as a dependency for every Python dep because it is more minimal than foss. However, some software requires mpi4py (e.g. Trilinos) which is obviously missing from this Python-golf installation, and this has caused us a lot of tr

[2019-03-06 17:53] Micket opened #7822 "BFD linker in binutils 2.31.1 crashes when doing relocatable linking in PLUMED"
While building PLUMED for intel/2019a, we encountered a assertion error in ld (BFD).

[code]
resulted in
[code]

ld.gold (from the same binutils) works fine. Using 2.28.0, both linkers work.

[2019-03-07 16:01] verdurin opened #7826 "GROMACS 2019 test failure on Epyc"
One of the 57 tests failed when building for `foss-2018b` on an `Epyc` node:
[code]

[code]

[2019-03-07 16:04] verdurin commented on #7826
`GROMACS 2018.3` builds and tests fine on the same node.

[2019-03-08 22:07] boegel commented on #7451
@efirvida Any updates here?

[2019-03-09 18:40] boegel commented on #7180
Is this problem fixed with #7790?

[2019-03-09 20:39] boegel commented on #7808
I vaguely remember this being reported before... Does this help: #3386 ?

Also, maybe @fizwit has some suggestions here...

[2019-03-09 20:59] boegel commented on #7822
@akesandgren Does this ring any bells for you?

[2019-03-09 21:00] boegel commented on #7809
Thoughts on this @bartoldeman?

@mstud Does `--use-existing-modules` help?

[2019-03-09 21:14] akesandgren commented on #7822
No, haven't gotten that far with 2019a yet.

[2019-03-09 22:38] Micket commented on #7822
Problem persist even when using binutils 2.32.

[2019-03-10 02:04] JackPerdue commented on #6953
/sw/eb/software/LibTIFF/4.0.9-GCCcore-7.3.0/lib/libtiff.so:(*IND*+0x0): multiple definition of `_end'
    error: command 'icc' failed with exit status 1

Got that today trying to build Pillow/5.3.0-intel-2018b-Python-3.6.6.  CentOS 6.

[2019-03-11 08:33] schiotz commented on #6953
@JackPerdue That is strange.  Why is it trying to use LibTIFF/4.0.9-GCCcore ?  It should use LibTIFF/4.0.9-intel-2018b, that module works with Pillow.  Are you sure your .eb files are up-to-date and that LibTIFF-4.0.9-intel-2018b.eb is available?

[2019-03-12 13:25] efirvida commented on #7451
sorry I forgot the update, everything its working now. thanks a lot!

[2019-03-12 13:25] #7451 closed

[2019-03-13 07:29] cmfield commented on #7808
I think I have found a solution. I added ('Pango', '1.42.4') to the dependencies after reading around about cairo support in R, and this seemed to make everything work correctly.

[2019-03-13 12:58] damianam opened #7872 "xorgproto replacing *proto in X11 package"
`xorgproto` (https://gitlab.freedesktop.org/xorg/proto/xorgproto) replaces all the `*proto` packages used in the `X11` easyconfig. Will be handy for the next update

[2019-03-13 18:26] Micket commented on #7872
I did so in #7874
I suspect that xcb-proto is not part of xorgproto though so I still kept that one.

[2019-03-14 09:10] boegel commented on #7822
@Micket We could backport the fix to older `PLUMED` easyconfigs?

[2019-03-14 21:13] verdurin opened #7899 "FSL missing some components"
The `FSL` easyconfig fails to create components such as `imcp`.

This is the situation in the note described near the top of:

https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation

This is with `5.0.11`.

[2019-03-15 13:30] zao commented on #7180
@boegel Test suites now pass for these easyconfigs I had previously attempted to install, using now the versions from #7790 merged into develop:
[code]
Looks good.

[2019-03-15 14:20] casparvl opened #7908 "Trouble creating/building GDAL-2.2.3-intel-2018b-Python-2.7.15.eb"
**Issue**
I have created a GDAL-2.2.3-intel-2018b-Python-2.7.15.eb (included at the bottom, for reference).

On on of our two systems, building this fails with:
[code]
**What we know so far**
- Build fails only on our RHEL7 system, builds fine on our Debian9 system.
- Comparing logs of serial builds on the RHEL7 and Debian9 systems shows that on the Debian9 system, the configure step is somewhat d

[2019-03-15 14:21] casparvl commented on #7908
Just logging this here for future reference, so that people encountering this issue can use the same workaround. I will close the ticket right away, since there is (probably) no action to be taken on the EasyBuild side...

[2019-03-15 14:21] #7908 closed

[2019-03-15 14:40] casparvl commented on #7908
**Reproducing**
For those who want to reproduce: EasyConfigs for some of the dependencies are not yet in the repo - I just wrote them. Will just add them here for now:

**GEOS-3.6.2-intel-2018b-Python-2.7.15.eb**
[code]

**PROJ-5.0.0-intel-2018b.eb**
[code]

[2019-03-15 21:24] #7180 closed

[2019-03-18 14:32] ocaisa commented on #7899
Looking at the installation advice at https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FslInstallation/SourceCode

```$FSLDIR/etc/fslconf/post_install.sh -f $FSLDIR```

I can't see this in the easyblock, so I'm guessing this hasn't been implemented...

[2019-03-18 14:38] verdurin commented on #7899
Yes, and I'm surprised no-one has noticed this before.
Or perhaps I was unlucky that the first test I ran required some of the missing components.
Is this best raised as an easyblock issue then?

[2019-03-18 15:29] ocaisa commented on #7899
If you run that script in the installation directory, do things turn out ok? If so then it definitely sounds like an easyblock issue and needs to be fixed there.

[2019-03-18 15:31] ocaisa commented on #7899
You could always add it as a post-install step but since the easyblock exists, I think it's most appropriate there. To be honest I think it needs further investigation anyway, it says that it will download a python environment which is not something I like the sound of...

[2019-03-18 16:08] verdurin commented on #7899
Yeah, it's pretty messy. Installs everything using Miniconda.
Owing to local deadlines I installed it manually for now, entirely separately from the EB version.
Happy to help with fixing it properly.
The developers are local (well, twenty minutes' walk away) so perhaps I'll be able to work with them directly.

[2019-03-19 15:13] jose-d opened #7927 "expat-2.2.6-GCCcore-8.2.0.eb fails to configure on current centos7 as it wants docbook2X"
`eb ./expat-2.2.6-GCCcore-8.2.0.eb -r` ([expat-2.2.6-GCCcore-8.2.0.eb](https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/e/expat/expat-2.2.6-GCCcore-8.2.0.eb)), #7853  fails in configure step with:
[code]
os and relevant (IMO) rpms:
[code]

### workaround

`yum instal docbook2X`

This new dependency is required since expat `2.2.6`, expat `2.2.5` builds fine w

[2019-03-19 16:12] jose-d commented on #7927
to add `docbook2X` easyconfig should be trivial <sup>last famous words</sup>. WIP.

[2019-03-19 16:42] jose-d commented on #7927
ohoh. round dependency detected:
`docbook2X` needs `XML-Parser`
and
`XML-Parser` needs `expat`.

(and `expat` needs `docbook2X`)

so

perhaps this is the way.

[2019-03-22 10:24] patbel-pwr opened #7942 "SQLite-3.20.1-GCCcore-6.4.0 'rl_completion_matches' build error"
EB 3.8.1
while trying to build SQLite with command:
`eb SQLite-3.20.1-GCCcore-6.4.0.eb --robot --debug`
on Scientific Linux 6.10

I encountered 'rl_completion_matches' error which is in logs:
[sqllite-3.20.log](https://github.com/easybuilders/easybuild-easyconfigs/files/2996036/sqllite-3.20.log)

Modyfing SQLite-3.20.1-GCCcore-6.4.0.eb file by adding:
`configopts = "--disable-editline"`
solved the

[2019-03-22 12:28] patbel-pwr opened #7943 "open-mpi.org links broken"
EB 3.8.1
Scientific Linux 6.10

while building Rosetta-3.7-foss-2016b.eb I've encountered few openmpi dependencies download problems:

1. HWLOC
"build failed (first 300 chars): Couldn't find file hwloc-1.11.3.tar.gz anywhere, and downloading it didn't work either... Paths attempted (in order): /usr/local/easybuild/python-2.7.15-gcc7.4.0/software/EasyBuild/3.8.1/lib/python2.7/site-packages/easybuil

[2019-03-22 12:42] patbel-pwr opened #7944 "Wannier90: Checksum verification fails and build stops"
Hi,

EB 3.8.1

build of  Wannier90-2.1.0-intel-2017b.eb ends up with checksum verification error. Same applies if you download file from wannier website and put it in sources.

Moreover, when I added `--ingore-checksum` to cmd, build stopped with error complaining that it can't extract file, as it is not a gzipped archive, which is true:
`> file wannier90-2.1.0.tar.gz
 wannier90-2.1.0.tar.gz: POSI

[2019-03-22 13:35] boegel commented on #7943
Yeah, we should really get rid of these `http://` URLs.

The fact that we now require checksums in all easyconfig files we touched makes this a bit painful though...

[2019-03-24 10:52] boegel commented on #7872
@damianam Can this be closed since `xorgproto` is used in #7874?

[2019-03-25 04:26] upuil opened #7949 "where to download the l_mpi_2017.1.132.tgz"
I try to install `netCDF-4.4.1.1-intel-2017a-HDF5-1.10.1.eb` but can't download the require file.

[2019-03-25 10:15] verdurin opened #7951 "New version of BEDTools includes htslib"
Note that the new version of `BEDTools` includes `htslib`. My first quick test build failed, so some changes will be required:

https://github.com/arq5x/bedtools2/releases/tag/v2.28.0

[2019-03-26 00:57] #7949 closed

[2019-03-26 08:26] boegel commented on #7949
You need to download Intel MPI from Intel, see https://software.intel.com/en-us/mpi-library.

And then put this tarball in the EasyBuild "source path", so EasyBuild can find it (it won't try to download it in that case); see also https://easybuild.readthedocs.io/en/latest/Configuration.html#sourcepath

[2019-03-26 16:32] ghuls commented on #7951
@verdurin This pull request https://github.com/easybuilders/easybuild-easyconfigs/pull/7962 works for me.

One thing I noticed is that I think BEDtools is never compiled with `-march=native`

[2019-03-26 19:32] boegel commented on #7951
@verdurin Can you elaborate on the problems you ran into?

Other than the changes in `sanity_check_paths`, the easyconfig contributed by @ghuls in #7962 looks like a pretty straightforward update (unless I'm missing something)...

[2019-03-27 07:26] verdurin commented on #7951
I was trying with `foss-2018b` and first quick attempt saw lots of errors like this:
[code]

It may be that there's no problem with `htslib`, it's just that the announcement made it sound as though there was more bundling.

[2019-03-29 10:59] ghuls commented on #7951
@verdurin I see the same error with `foss/2014a` tool chain on our old cluster (CentOS6), but no problem with `foss/2018a` on the new one (CentOS7). BEDtools 2.28.0 switched all integers to int64.

[2019-03-29 12:13] ghuls commented on #7951
@verdurin Does this fix it for you?

https://github.com/arq5x/bedtools2/pull/713/commits/9b73bb887db61b256efeec5c44378c46da320e3c

[2019-03-29 13:15] ghuls commented on #7951
@verdurin is your glibc version older than 2.18?

[2019-03-31 10:14] branfosj opened #7981 "Minimac4 downloads HEAD of the libStatGen github"
The Minimac4 easyconfig uses the custom `install.sh` script to build Minimac4. This uses `cget` to download the HEAD of the libStatGen github repository and then build this for linking in Minimac4.

I'll be putting in a PR that separates libStatGen into a separate easyconfig and then uses CMake to build Minimac4.

[2019-03-31 20:44] casparvl commented on #7822
Just FIY: I ran into this problem with PLUMED-2.4.2-intel-2018b.eb. Since that is the PLUMED version used in EasyBuild v 3.8.1 as a dependency in foss-2018b, I also picked that version of PLUMED for trying build a CP2K with PLUMED. Would be nice if the change was backported :)

[2019-03-31 21:19] Micket commented on #7822
@casparvl
But the intel-2018b version has the fix?
https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/p/PLUMED/PLUMED-2.4.2-intel-2018b.eb#L34

I would agree that it should probably be present in foss-2018b as well.

[2019-04-02 01:25] upuil commented on #7949
Thank you, another question: I also can't download single icc or ifor, only can download the fully package.

[2019-04-02 05:25] boegel commented on #7949
The tarballs for the single components are publicly downloadable, see for example https://github.com/jeffhammond/HPCInfo/blob/master/buildscripts/icc-release.sh

[2019-04-02 09:23] casparvl commented on #7822
@Micket

Silly: we had a local copy, of PLUMED-2.4.2-intel-2018b.eb in our own repository. Probably, one of my colleagues created this before the fix was available and never got it to work...

Anyway, I've deleted our local copy and will try a rebuild, I assume this solves it.
Regarding the foss-2018b version, this easyconfig https://github.com/easybuilders/easybuild-easyconfigs/blob/develop/easyb

[2019-04-02 09:30] Micket commented on #7822
Alright. It sounds like we can just close this.

[2019-04-02 09:30] #7822 closed

[2019-04-02 12:20] eta000 opened #7990 "cp2k easyblock"
Hi all. There is something wrong with the cp2k setup causing psmp not to work. The main reason seems to be an incorrect hardcoded test for allowing threading in the src/pw/fft/fft_lib.F file in cp2k source. A workaround is to compile with FFTW libs linked before the mkl-libs in "arch" file. I am trying to discover where to manipulate this in the cp2k.py block with no luck so far.

[2019-04-03 16:46] casparvl opened #8003 "Qt5-5.10.1-intel-2018b.eb doesn't compile with CORE-AVX512 support"
**Qt5-5.10.1-intel-2018b.eb [wip]**
Previously, Qt5 was not respecting EasyBuild's OPTARCH settings. This suggested change to the EasyBlock will patch that https://github.com/easybuilders/easybuild-easyblocks/issues/1670

Having tried that with the optimization flags

[code]

I get an error:

[code]

Removing CORE-AVX512 solves the problem. Going into the builddir and manually building the assembl

[2019-04-03 17:00] akesandgren commented on #8003
My guess would be that the assembler needs to be told to use avx512 too
to allow for more then the basic xmm0 - xmm15 registers.

i.e., as -march=avx2 or avx512f

Can you try that?
If that's the case we have a bug report to make to intel i guess.

On 4/3/19 6:46 PM, Caspar van Leeuwen wrote:

--
Ake Sandgren, HPC2N, Umea University, S-90187 Umea, Sweden
Internet: ake@hpc2n.umu.se   Phone: +46 90 7

[2019-04-03 23:45] fizwit commented on #7808
If R sees xlibs it will default to Xlib bitmaptype regardless if Cairo is also present.  You can change this default behavior by setting bitmaptype in your .Rprofile
A typical issue we see:  Default bitmaptype is set to "Xlib", but as user is outputing to PNG. They a cryptic error about not being able to connect to X11.  This happens when **DISPLAY**  is not defined, but if DISPLAY is defined then

[2019-04-04 15:44] casparvl commented on #8003
You mean like this

[code]
or this
[code]
?

In that case, I guess the answer is that it doesn't help =)

For future reference: the problem is in the assembly of the file

[code]

The full command line that fails is

[code]

[2019-04-04 16:07] casparvl commented on #8003
Also, I verified that compiling the same thing with foss, with `-march=skylake-avx512` works:

[code]

[2019-04-04 19:59] boegel commented on #7908
Thanks for reporting & documenting this @casparvl!

[2019-04-05 08:05] damianam commented on #7872
Yes. Actually I used it already in our setup.

[2019-04-05 08:05] #7872 closed

[2019-04-05 16:40] XHotSniperX opened #8026 "Clang 8.0"
Please add Clang 8.0.

[2019-04-06 06:36] boegel commented on #7943
Fixed in #8013, #8014, #8015, #8016, so closing this.

Thanks again for reporting this @patbel-pwr!

[2019-04-06 06:36] #7943 closed

[2019-04-08 18:16] boegel commented on #8003
@casparvl You mentioned in https://github.com/easybuilders/easybuild-easyblocks/issues/1670 that the `Qt5` configure command has dedicated options like `-avx512`, does that help at all in this case?

This issue does make me a bit worried w.r.t. making the changes to the `Qt5` easyblock proposed in https://github.com/easybuilders/easybuild-easyblocks/issues/1670, although I guess we can blame them

[2019-04-08 18:22] boegel commented on #8003
@casparvl `Qt5-5.10.1-intel-2018b.eb` is not included yet in the central repository, I assume that's just a local easyconfig you were playing around with?

[2019-04-08 18:50] casparvl commented on #8003
@boegel You assume correctly =) And, good question, I could try the -avx512 flag. The -avx2 flag did very little: only two files were compiled with -mavx2 or something like that...

[2019-04-09 09:25] boegel commented on #8003
@casparvl The enhanced `Qt` easyblock is now merged into `develop` via https://github.com/easybuilders/easybuild-easyblocks/pull/1677, to be part of the upcoming EasyBuild v3.9.0.

Can you check whether you can get `Qt5-5.10.1-intel-2018b.eb` to build using that updated easyblock when using `toolchainopts = {'optarch': False}`?

[2019-04-15 10:12] moravveji opened #8071 "CUDA-aware OpenMPI 4.0.0 linking to libcudart"
Hi,

I just adapted an (older) easyconfig file to install OpenMPI/4.0.0-GCC-6.4.0-2.28 together with CUDA/10.1.105. However, when I check the libraries linked against e.g. mpicc, I see that libcuart.so.10.1 is correctly linked, but at the bottom of the list , libcudart.so.10.0 is not found, which is expected (some paths are truncated):

[code]

So, I'm wondering whether this is an expected linking

[2019-04-16 08:44] lyklev opened #8073 "unixODBC easyconfig"
Create an easyconfig for unixODBC.

[2019-04-16 18:40] Micket opened #8082 "Lets merge icc and ifort and just have iccifort"
I didn't spot any other issues for this, other then easybuilders/easybuild-framework#1076
Rather then trying to fix that, can't we just use iccifort instead?
It doesn't look like intel will be splitting the release schedule for them anymore.
Starting with 2019b maybe?

With HMNS, it's particularly bad to have them split. It lets users load just the icc to get access to modules. But this leads to b

[2019-04-16 20:34] casparvl commented on #8003
@boegel Sorry for the delay. Yes, it builds with ```toolchainopts = {'optarch': False}``` and the EasyBlock from easybuilders/easybuild-easyblocks#1677

It doesn't build with CORE-AVX512 in the optarch flags though - I haven't checked your EasyBlock, so don't know if you tried to fix anything on that end... But just so you know :)

[2019-04-17 00:38] bartoldeman commented on #8082
I would be happy with that, but in a conversation with @ocaisa he mentioned that Intel can sell icc and ifort separately. You can actually get "Intel System Studio" for free (with some strings attached) but that only includes C and C++, not Fortran.

Both FZ Julich and us at Compute Canada use a custom HMNS where icc and ifort modules are hidden dependencies of iccifort and only the iccifort modul

[2019-04-17 05:36] akesandgren commented on #8082
Could you share that HMNS def?

[2019-04-17 09:20] Micket commented on #8082
@bartoldeman I suppose we don't need to remove the individual `icc`, `ifort` (if someone else really wants it)?
Just make `iccifort` standalone. Because, anyone who gets just `icc` or `ifort` standalone, would have to construct their own toolchains. It wouldn't be of `intel`-ish toolchains anymore anyway.

My manual fiddling with configs, got me into trouble when building intelcuda/2019a (which pr

[2019-04-17 11:42] bartoldeman commented on #8082
@akesandgren
The Julich MNS is here:
https://github.com/easybuilders/JSC/tree/master/Custom_MNS
Compute Canada's is here:
https://github.com/ComputeCanada/easybuild-computecanada-config

[2019-04-17 11:52] bartoldeman commented on #8082
@Micket I agree. Something similar was done in the past to with Clang: there are ClangGCC toolchains where the Fortran is provided by gfortran; and this was before GCCcore was introduced. With GCCcore you could in principle promote `icc` to a compiler-only toolchain where GCCcore provides `gfortran`, and keep `iccifort` independent of `icc`.

[2019-04-17 14:04] boegel commented on #8082
This was also suggested by (I think) @damianam in a recent EasyBuild conf call.

Makes perfect sense to me, and the way to do it should be using a `Bundle`, and including `icc` and `ifort` as `components` (similar to what we do with `X11`).

[2019-04-17 16:50] mboisson commented on #7899
Can you tell them to ditch conda and use python instead, or at least provide the option to use python instead of conda ? Conda does not work well on clusters.

[2019-04-17 16:51] mboisson commented on #7899
One of our staff actually tried to add this script to be run at the end of the installation, and it turns into a mess of Conda trying to write stuff in the installer's account.

[2019-04-18 11:41] bartoldeman commented on #8082
An alternative to the `Bundle` method is to use one of the larger tarballs to install (e.g.
`parallel_studio_xe_2019_update3_composer_edition.tgz`, which is the smallest that contains both `icc` and `ifort`)

[2019-04-23 08:03] boegel commented on #8073
fixed with #8074, so closing...

@lyklev You don't need to open an issue before opening a pull request, that only adds overhead. Issues are typically used for bug reports or feature request (that you won't be handling yourself).

[2019-04-23 08:03] #8073 closed

[2019-04-23 09:28] SethosII opened #8100 "SAMtools/cURL conflict"
`SAMtools/1.9-foss-2018b` doesn't work when `cURL/7.60.0-GCCcore-7.3.0` is loaded:

[code]

`SAMtools` is linked against `libcurl.so.4` but it doesn't include it as a dependency. So it uses the system lib but when you load some other module which includes `cURL` it uses this and the error above happens. I couldn't find out what needs to be changed to make easybuilds `cURL` work with `SAMtools`.

[2019-04-24 08:51] boegel commented on #8100
@SethosII Can you check if including `cURL` as a dependency in the `SAMtools` easyconfig file and rebuilding it fixes the issue you're seeing?

[2019-04-24 09:16] SethosII commented on #8100
@boegel Thank you, adding `cURL` as a dependency and rebuilding worked! Should I open a pull request for this?

[2019-04-24 15:39] boegel commented on #8100
@SethosII Yes please!

[2019-04-24 16:24] jhein32 opened #8128 "User suitable documentation of multi_deps dependencies"
I need to request an upgrade to EasyBuild, such that users can see the choices of packages they have for a `multi-deps`package.  Example for the new scipy-bundle they need to find out which Python 2.7 version needs to go with this specific scipy-bundle.

I think the output of module show or digesting the lua/tcl source of the module is not good enough, since non-inteligible to many new users to ou

[2019-04-25 05:16] SethosII commented on #8100
I opened a pull request at https://github.com/easybuilders/easybuild-easyconfigs/pull/8131.

[2019-04-25 05:16] #8100 closed

[2019-04-26 14:43] Micket commented on #7463
We do this now.

[2019-04-26 14:43] #7463 closed

[2019-04-26 18:32] ocaisa opened #8166 "multi_dep support complicated as packages no longer support Python2"
Our SciPy bundle at JSC includes matplotlib, we hit the issue that `matplotlib` stopped supporting Python2 as of version 3.x. There is currently no elegant way of dealing with this when using `multi_deps`, it would be good to be able to select the extension version based on the Python version, and have the ability to not install a particular extension (like `backports`) for a Python version.

[2019-04-30 13:48] robertschade opened #8197 "OpenBLAS 0.3.5 problems on Skylake-SP (AVX512 dgemm)"
OpenBLAS-users have reported (https://github.com/xianyi/OpenBLAS/pull/2061) problems with the version 0.3.5 on systems with AVX512 (Skylake-SP).
However, OpenBLAS 0.3.5 is included in foss 2019a and might cause issues on these systems.
How to handle this problem?

[2019-04-30 14:01] bartoldeman commented on #8197
Generically the patch in that issue could be included.

You can also set TARGET=HASWELL in buildopts but that disables more.

[2019-04-30 21:39] boegel commented on #8197
I guess pulling in that patch makes most sense... We can clearly mention in the release notes of EasyBuild v3.9.1 that people should reinstall `OpenBLAS/0.3.5` if they've built it already?

@vanzod Up for tackling this this week?

[2019-05-03 08:50] akesandgren commented on #8197
#8227 should fix the problem.

[2019-05-05 08:07] boegel commented on #8197
fixed with #8227, which will be included with EasyBuild v3.9.1

[2019-05-06 11:05] boegel commented on #8071
@akesandgren Any ideas on this? Is this the same problem as you were hitting with TensorFlow because `*.so*` files in CUDA 10.1 were renamed?

[2019-05-06 11:06] boegel commented on #8166
@ocaisa Do you have a mocked up example of what that may look like in practice?

[2019-05-06 11:20] akesandgren commented on #8071
No, nothing similar here. This is likely a problem with some of the libs in the ldd output above having been force linked to libcudart.10.0

Use objdump -x on each of them in turn (and start with mpicc) and check where that libcudart.so.10.0 actually comes from.

Our /hpc2n/eb/software/Compiler/GCC-CUDA/8.2.0-2.31.1-10.1.105/OpenMPI/3.1.3/bin/mpicc only lists libcudart.so.10.1

[2019-05-06 12:43] michaellass commented on #8197
It seems like dgemm wasn't the only problematic kernel. See https://github.com/xianyi/OpenBLAS/issues/1955#issuecomment-489428403 and https://github.com/xianyi/OpenBLAS/pull/2111.

[2019-05-07 07:34] boegel commented on #8197
See also https://github.com/JuliaLang/julia/pull/30661/files

[2019-05-07 09:26] boegel commented on #8026
easyconfig file for Clang 8.0.0 added in #8254

[2019-05-07 11:12] boegel commented on #8071
@akesandgren This must be a problem in OpenMPI itself, right? All we are doing is specifying where it is installed via `--with-cuda=$EBROOTCUDA`.

@moravveji Have you tried with OpenMPI 4.0.1 to see if that release includes a fix for this?

Maybe try reporting this via https://github.com/open-mpi/ompi/issues, I don't see how this could be a problem in EasyBuild, especially since `OpenMPI` is built

[2019-05-07 11:46] akesandgren commented on #8071
I think it's more like a leftover from a previous use of CUDA 10.0 building hwloc.
Esp check hwloc since that might be cuda aware too.

[2019-05-07 12:00] ocaisa commented on #583
Closing this as we now enforce checksums in easyconfig contributions

[2019-05-07 12:00] #583 closed

[2019-05-09 08:14] boegel commented on #8026
closing since #8254 got merged

[2019-05-09 08:14] #8026 closed

[2019-05-09 08:42] ocaisa commented on #7561
@XHotSniperX Can we close this since the install is working for you?

[2019-05-09 10:35] ocaisa commented on #7323
With the new multideps support we should be able to sidestep this problem in the next PR (if there isn't one there already)

[2019-05-09 10:46] leorojas82 commented on #7899
I also noticed eb does not run the post-installation step from FSL documentation, so fslpython does not get built at the end.  As already mentioned,  fslpython is a  conda env, so it contains  pre-compiled binaries.  I ran the fslpython build manually, and then attempted to run the test suit provided by Oxford FMRIB (the so called FEEDS), but it failed, since the pre-compiled binaries required HDF

[2019-05-09 10:58] dithwick opened #8282 "ELPA 2016.11.001 build fails with foss-2018b on CentOS 6"
Hi All,

I'm trying to build ELPA-2016.11.001.pre-foss-2018b.eb on CentOS 6 so I can build QuantumESPRESSO-6.3-foss-2018b.eb but the build of ELPA is failing with on linking with the error message:

[code]
There is a version of zlib installed on the system that doesn't seem support ZLIB_1.2.3.3 but I can't see how that's being picked up and the zlib dependency for libxml2-2.9.8-GCCcore-7.3.0.eb (z

[2019-05-09 12:36] boegel commented on #8197
Patch for OpenBLAS 0.3.5 extended in #8263, so closing again...

[2019-05-09 12:36] #8197 closed

[2019-05-09 14:18] XHotSniperX commented on #7561
Sure, close it. Thanks.

[2019-05-10 12:09] ocaisa commented on #7323
Should be fixed (or really side-stepped) with https://github.com/easybuilders/easybuild-easyconfigs/pull/8291

[2019-05-14 09:49] jose-d commented on #7927
#7930 merged, with EasyBuild 3.9.0 is now problem no more reproducible, so closing this one.

[code]

[2019-05-14 09:49] #7927 closed

[2019-05-14 10:10] boegel commented on #7927
Thanks a lot for following up on this @jose-d!

[2019-05-14 17:41] Micket opened #8328 "Split out rgdal from R and make it it's own RPackage/Bundle"
GDAL stuff is pretty specialized, it brings in several additional dependencies for the already big R package.

There is also some concern raised recently; I asked the developer of libgeotiff (and some of the other GDAL libraries i think) about the latest stable release, and when I asked if libgeotiff 1.5.1 was a stable release, Even responds:

So, for these reasons, it would be easier to deal with

[2019-05-14 18:08] Micket commented on #8282
the MKL stuff definitely looks like an oversight, but, probably, a bad include flag probably doesn't negatively change anything.

But, you should be getting libxml2 due to the foss toolchain itself, but this should also bring in zlib as a dependency. I'd be curious about the output from

[code]

I just tried building `ELPA-2016.11.001.pre-foss-2018b.eb`, and there was no problems (eb 3.9.0). If yo

[2019-05-14 22:53] fizwit commented on #8328
In general, any R extension that requires an external library should be a separate bundle.

In order to remove Rgdal the following list of extensions have to be removed. rgdal <- sf <- spdep <- adegent <- adephyl. spdep has been part of the R easybuild for many years. I will submit R-3.6.0-foss-2019a sans rgdal and upstream dependencies.

[2019-05-15 07:28] moravveji commented on #8071
@akesandgren: thanks for the hints; Firstly, I stepped down from OpenMPI/4.x to v. 3.1.4, and I immediately noticed a prograss. Secondly, my hwloc was indeed built against cuda. So, I reinstalled hwloc from source without cuda. As a result of this, now I can built OpenMPI with or without hwloc/UCX/CUDA, and I am ready to begin testing them.
closing this ticket for now

[2019-05-15 07:28] #8071 closed

[2019-05-18 09:29] geimer commented on #3697
@JackPerdue This issue should be fixed with #8283, that is, it can be closed?

[2019-05-18 23:01] boegel commented on #3697
Indeed fixed, so closing...

[2019-05-18 23:01] #3697 closed

[2019-05-20 14:41] dithwick commented on #8282
Hi, sorry for the slow response (and thanks for responding). module list gives me

[code]
And ldd gives me

[code]
I'll try the build again and upload the log as a gist.
Thanks.

[2019-05-20 17:26] Micket opened #8352 "Enhance --review-pr by limiting what old configs to compare against"
Trying to review a recent PR, I got lots of output, making it very hard to view.
I'd like to either be able to limit it myself, or make the selection smarter.
The N-latest would be great, but probably difficult, as toolchains change (typically something moved down to GCCcore)

[2019-05-21 07:18] boegel commented on #8282
I wouldn't be surprised if ELPA has a hardcoded `-L/usr/lib64` somewhere that is causing this problem...

Can you check on that in the log @dithwick?

[2019-05-21 14:15] moravveji opened #8357 "Santity check fails when building OpenFOAM-Extend/4.0-intel-2018a"
Hey all,

I adapted the easyconfig to build the OpenFOAM-Extend version 4.0 with intel/2018a toolchain; however, it fails during the sanity check with the error message about missing files (zip file attached).

So, I was wondering if an extra patch is needed to fix the sanity check, or the solution is lying somewhere else?

Thanks for your attention,
Ehsan
[extend-error.zip](https://github.com/eas

[2019-05-22 10:53] sassy-crick commented on #7274
I posted this on the ImageMagick forum:
https://imagemagick.org/discourse-server/viewtopic.php?f=2&t=35150

[2019-05-22 14:50] dithwick commented on #8282
I can't for the life of me work out where AC_FC_LIBRARY_LDFLAGS is adding -L/lib/../lib64 -L/usr/lib/../lib64 from but in the end I discovered that adding zlib as a build dependency seemed to fix it. I'm happy to do a PR for the change if you think it's worthwhile? It occurred to me this could still be happening on CentOS 7 but is showing as an issue because the version of zlib is new enough.

[2019-05-23 12:49] boegel commented on #2236
@wpoely86 I don't recall any problems popping up w.r.t. the decompose libraries, and with https://github.com/easybuilders/easybuild-easyblocks/pull/784 the sanity check was enhanced to check for what should be there, so let's close this?

[2019-05-23 12:59] wpoely86 commented on #2236
yeah, no clue anymore what was exactly the issue.

[2019-05-23 12:59] #2236 closed

[2019-05-27 11:51] boegel commented on #8357
@moravveji The sanity check is failing because of whole bunch of binaries that are expected to be installed were not actually installed, which likely means that something went seriously wrong during the installation.

You've only provided a partial log, so it's impossible to tell what went wrong during the installation, can you provide a full (preferably debug) log file?

Patterns to look for are

[2019-05-28 07:38] patbel-pwr commented on #6830
I had to modify my `src/cpu/jit_generator.hpp` in a bit different manner than it is presented in that patch. It may not be obvious, because patch uses `pfile` which in my case is defined as `fp`, so I'll just paste corrected lines that works for me:

`716             FILE *fp = mkldnn_fopen(fname, "w+");
717             // Failure to dump code is not fatal
718             if (fp) {
719

[2019-05-28 09:10] moravveji opened #8392 "VASP/5.4.4 fails during build"
Dear all,

I have adapted the easyconfig file for VASP/5.4.4 (including a new patch), and tried to easybuild it. However, the compilation fails at the build step with the following error message
[code]
which comes from this line
[code]
My first raw guess is that some compiler flag(s) is missing. How can I fix this?

I have uploaded the EB log (with truncated paths). Do I normally have to provide a

[2019-05-28 09:21] moravveji commented on #8357
Apologies for the broken log file. I attach a new one here (with truncated paths). Looking for `error/Error` messages did not unravel to me what has gone wrong. That's why I need and appreciate your help.
[foam-extend-full-log.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3226653/foam-extend-full-log.zip)

[2019-06-03 06:59] akesandgren commented on #7574
We dropped the Java dep for MATLAB a while back.

[2019-06-03 15:32] boegel commented on #7574
If there's no significant benefit in using an external Java, I think dropping the dependency and just letting MATLAB use the one it ships makes most sense...

[2019-06-03 15:36] vanzod commented on #7574
Are there any security concerns of using the internal Java instead of the latest and greatest?

[2019-06-03 15:37] boegel commented on #7574
@vanzod I guess that would be the main reason we could come up with to use an external Java.

But under the assumption that MATLAB is installed with user permissions, I'm not sure how big of a problem an outdated Java internal to MATLAB is.

[2019-06-03 15:40] vanzod commented on #7574
And we can always blame it on `MATLAB`. Sounds good to me.
I will go ahead and purge out the Java dependencies from the existing easyconfig files.

[2019-06-03 18:06] boegel commented on #6581
@nortex Did you ever figure out anything more about this?

[2019-06-06 11:35] moravveji commented on #8392
Hey guys,
Any update on this?

[2019-06-06 12:27] zao commented on #8392
I believe the culprit is the following part of the easyconfig which doesn't handle arguments of the form `-mkl=sequential`:
[code]

In the discussion about the intel-2018b build in #7697 there seems to be an alternate form that handles the full argument:
[code]

[2019-06-06 14:13] moravveji commented on #8392
Thanks @zao for the correct fix. EB just built VASP flawlessly.

[2019-06-06 14:13] #8392 closed

[2019-06-07 12:32] moravveji opened #8455 "PETSc configure fails for SCOTCH issue(?)"
Dear colleagues,

I am attempting to build PETSc/3.11.1-intel-2018a on our SkyLake partition, but I am receiving the following error which starts to terminate the configure step:
[code]
Full configure.log and EB log are attached (with path prefixes pruned). We have a slightly older version of SCOTCH (i.e. 6.0.4). Do you believe downgrading the dependency would resolve this issue?

Kind regards,
Eh

[2019-06-09 07:31] boegel commented on #8455
@moravveji The `configure.log` shows:

[code]

Can you check whether your SCOTCH installation has that library? Here's what I have:

[code]

If `libptscotchparmetis.a` is not there, please check the installation log of `SCOTCH` 6.0.6 for compilation errors, or perhaps try to re-install it if that's an option?

I don't think downgrading is the best alternative here, you should try and figure out th

[2019-06-11 06:53] wookietreiber opened #8473 "Why is RStan not included in R?"
[RStan](https://github.com/easybuilders/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/r/RStan) is currently included with a separate easyconfig. Why is it not included in the main [R](https://github.com/easybuilders/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/r/R) easyconfig, i.e. could this be changed to just be included in the main R easyconfig?

[2019-06-11 07:32] moravveji commented on #8455
Thanks Kenneth for the catch. Indeed, libscotchmetis.a was missing from the `lib` folder, and it still is, after having reinstalled the same SCOTCH/6.0.6-intel-2018a. Looking at the installation log (attached), it seems like the static library is created, but somehow, it doesn't make it the installation folder.
[easybuild-SCOTCH-6.0.6-20190611.log.zip](https://github.com/easybuilders/easybuild-eas

[2019-06-12 15:28] andreas-h opened #8480 "Cannot compile Python with GCCcore-8.2.0: libreadline issue"
When trying to build Python 3.7.2 or 2.7.15 from GCCcore-8.8.2 toolchain, I get errors like this:

/opt/software/eb/software/binutils/2.31.1-GCCcore-8.2.0/bin/ld.gold: error: /opt/software/eb/software/libreadline/8.0/lib/libreadline.a(xmalloc.o): requires dynamic R_X86_64_32 reloc which may overflow at runtime; recompile with -fPIC

However, I built libreadline using EasyBuild 3.9.1, which has `PI

[2019-06-13 09:09] wpoely86 commented on #8455
@moravveji can you rerun with `--debug`? Normally the easyblock should copy those files to the install directory.

[2019-06-13 09:32] moravveji commented on #8455
Thanks @wpoely86 for the tip. I tried with `--debug`, and the end result was the same as before: still no `libptscotchparmetis.a` inside the `lib` folder.

[2019-06-13 09:34] wpoely86 commented on #8455
Can you show the debug log?

Normally SCOTCH should install all those libraries in a local directory and the easyblock should copy them over.

[2019-06-13 12:18] moravveji commented on #8455
Please ...
[easybuild-SCOTCH-6.0.6-20190613.112924.log.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3285921/easybuild-SCOTCH-6.0.6-20190613.112924.log.zip)

[2019-06-13 12:28] wpoely86 commented on #8455
@moravveji you're using an old version of the easyblock. Please update and try again.

[2019-06-18 14:22] asa1 opened #8499 "Perl-5.28.1-GCCcore-8.2.0.eb fails on Ubuntu 18.04"
Trying to build Perl-5.28.1-GCCcore-8.2.0.eb with EasyBuild 3.9.2 with Ubuntu 18.04 fails with this error:

`Can't locate File/ShareDir/Install.pm in @INC (you may need to install the File::ShareDir::Install module) (@INC contains: /sw/ebpkgs/software/Perl/5.28.1-GCCcore-8.2.0/lib/perl5/site_perl/5.28.1/x86_64-linux-thread-multi /sw/ebpkgs/software/Perl/5.28.1-GCCcore-8.2.0/lib/perl5/site_perl/5.2

[2019-06-18 20:49] evohringer opened #8501 "M4-1.4.17 installation fails"
Hi,

trying to install M4-1.4.17 on ubuntu 18.10 (GNU/Linux 4.18.0-20-generic x86_64) but I get the following error in the building phase:
gcc  -I.   -fgnu89-inline  -g -O2 -MT isnanl.o -MD -MP -MF $depbase.Tpo -c -o isnanl.o isnanl.c &&\
mv -f $depbase.Tpo $depbase.Po
freadahead.c: In function 'freadahead':
freadahead.c:91:3: error: #error "Please port gnulib freadahead.c to your platform! Look a

[2019-06-19 13:13] boegel commented on #8499
@vanzod @akesandgren Any idea what may be wrong here?

I consider you guys more of an expert on Ubuntu than I am...

[2019-06-19 13:16] akesandgren commented on #8499
Haven't had time to look at it due to disaster recovery... I will look at it in the not too distant future.

[2019-06-19 19:11] boegel commented on #8501
Just editing the version in the patch file is likely not enough to make the patch apply on M4 1.4.17, you (or someone) will actually have to make a patch file for M4 1.4.17 that makes the same changes as in the M4 1.4.18 patch.

Basically, the steps are:

* download the M4 1.4.17 tarball and unpack it to say `m4-1.4.17` (a directory)
* copy the unpacked sources to say `m4-1.4.17.orig`
* make the n

[2019-06-19 19:43] evohringer commented on #8501
Hi @boegel,
Thanks for the quick help.

I created a patch file and now it works!!

Please find attached the patch file to may be included in the official version.

[M4-1.4.17_glibc_2.28.patch.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3307665/M4-1.4.17_glibc_2.28.patch.zip)

[2019-06-19 20:11] evohringer commented on #8501
Next problem was with Bison-3.0.4 and created also a patch file to make it work which is attached. I changes the Bison-3.0.4.eb respectively.

[Bison-3.0.4_glibc_2.28.patch.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3307749/Bison-3.0.4_glibc_2.28.patch.zip)

[2019-06-19 20:16] boegel commented on #8501
@evohringer Are you up for making a pull request to include that patch? See https://easybuild.readthedocs.io/en/latest/Contributing.html#contributing-easyconfig-files

[2019-06-19 20:33] evohringer commented on #8501
Still struggling trying to get everything else working. Once I have succeded installing I will try the pull request.

[2019-06-20 14:27] boegel commented on #8501
@evohringer Sure, no problem.

If you need help, I can highly recommend joining our Slack/IRC channel (see https://easybuild.readthedocs.io/en/latest/#getting-help).

[2019-06-25 09:11] moravveji opened #8509 "SCOTCH/6.0.6-intel-2018a fails during sanity check"
Hey guys,

Trying to build `SCOTCH/6.0.6-intel-2018a` I get an error during the sanity check. I have attached EB log (with `--debug` on).
[code]

I have to mention that this SCOTCH is a prerequisite for PETSc, and this ticket is related to the other issue here: https://github.com/easybuilders/easybuild-easyconfigs/issues/8455.

Thanks
Ehsan
[easybuild-quckQt.zip](https://github.com/easybuilders/ea

[2019-06-25 09:13] moravveji commented on #8455
Alright ... I updated my EB to v. 3.9.2 and also the easyblocks to the latest. When trying to build scotch, it fails during the sanity check. For that, I opened a separate ticket not to mix stuff: https://github.com/easybuilders/easybuild-easyconfigs/issues/8509

Once that is resolved, I follow up on this again.

[2019-06-25 09:28] wpoely86 commented on #8509
Can you check the binary of `acpl` in `/myApps/software/SCOTCH/6.0.6-intel-2018a/bin/` ? Does it work if you run it manually?

[2019-06-25 09:36] moravveji commented on #8509
yes yes yes:
[code]

[2019-06-25 09:38] moravveji commented on #8509
I also see a version confusion, in the temporary build directory; check out this path please:
`/mySHM/easybuild/SCOTCH/6.0.6/intel-2018a/scotch_6.0.4/`
whereas I was expecting to see something like:
`/mySHM/easybuild/SCOTCH/6.0.6/intel-2018a/scotch_6.0.6/`
This is a very naive expectation, and I might be wrong for any reason. But, thought of sharing.

[2019-06-25 09:38] boegel commented on #8509
@moravveji The output shows why the sanity check failed: you're installing SCOTCH 6.0.4 rather than 6.0.6?

My guess is that you're using a SCOTCH 6.0.6 easyconfig which has a download URL for a 6.0.4 source tarball. But that also means you're deliberately ignoring failing checksums (which are there for a good reason), is that so?

See also the changes made in https://github.com/easybuilders/easyb

[2019-06-25 09:42] moravveji commented on #8509
In fact, not!
I am really building v. 6.0.6. To be clear, I am attaching the EB file that I use (which is no different from what I would pull from the EB easyconfig repository).
[SCOTCH-6.0.6-intel-2018a.eb.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3324601/SCOTCH-6.0.6-intel-2018a.eb.zip)

[2019-06-25 13:42] moravveji commented on #8509
Alright, I adapted the `source_urls` and `checksums`, and tried again. This time it fails with the checksum test:
[code]

If I comment out the `checksums`, EB continues until it fails at the same sanity check step, as before.

[2019-06-26 08:11] boegel commented on #8509
@moravveji `686f0cad88d033fe71c8b781735ff742b73a1d82a65b8b1586526d69729ac4cf` is the correct SHA256 checksum for `scotch_6.0.6.tar.gz`.

If you have something different, then either the downloaded source tarball is corrupt, or you actually downloaded the source tarball for SCOTCH 6.0.4 but named it `scotch_6.0.6.tar.gz` (I'm not claiming you did this manually, that's exactly what we fixed in #7159

[2019-06-26 08:33] moravveji commented on #8509
@boegel: Thanks Kenneth for the tip; the `--force-download` worked flawlessly. Closing this ticket now.

[2019-06-26 08:33] #8509 closed

[2019-06-26 08:46] boegel commented on #6560
@nortex Sorry for never answering your last question...

By default, EasyBuild will automatically have the location of the easyconfigs included with the installation in `robot-paths`, so you don't need to add it yourself.

If you want to include additional paths, you can only prepend/append to the default robot search path, see https://easybuild.readthedocs.io/en/latest/Using_the_EasyBuild_command

[2019-06-26 08:46] #6560 closed

[2019-06-26 09:15] boegel commented on #8357
@moravveji Sorry for not getting back to this earlier...

When looking for `Error 1`, this is the first problem in the log:

[code]

That's a sign of something being wrong with the `flex` or `Bison` dependency, I think...

It looks like the problem is that you're using `Bison/3.0.4-gimkl-2.11.5` (i.e. a Bison built with GCC) when building `OpenFOAM-Extend` with `intel`...

[2019-06-26 09:42] moravveji commented on #8455
After the issue with SCOTCH was resolved (https://github.com/easybuilders/easybuild-easyconfigs/issues/8509), the built of PETSc went on flawlessly. Thanks for your support here.
I am closing this ticket now.
E.

[2019-06-26 09:42] #8455 closed

[2019-06-26 10:14] boegel commented on #8455
:+1:

[2019-06-27 23:29] fizwit commented on #8473
My users request RStan also.  I will open a PR for 3.6.0 to add it.  How do you feel about the tidyverse? I would also like to add TidyModel.

[2019-06-28 07:30] mstud opened #8518 "Keras-2.2.4-fosscuda-2019a-Python-3.7.2.eb : keras_applications missing?"
The fosscuda Version of the latest Keras easyconfig is missing elementary submodules it appears:
[code]
I noticed that the 2.2.4-foss version has this as an extension but not this one. What is the reasoning behind this? Just an oversight?

[2019-07-02 20:54] boegel commented on #8473
@wookietreiber Sorry for the long delay in responding to this...

I'm not aware of a good reason not to include `RStan` as an extension in the `R` easyconfig.

It was contributed as a stand-alone installation via #7996, and the question was never raised, so it got merged like that.

Maybe @vanzod can pitch in here, since he added `RStan`?

[2019-07-02 20:55] boegel commented on #8473
@fizwit Adding `tidyverse` and `TidyModel` makes sense to me too (as long as they don't require additional dependencies being added, that could be a can of worms).

[2019-07-02 22:36] fizwit commented on #8473
RStan should be added to R, it is a very popular package. I get lots of
requests from users at my site for it. But I would also caution against
adding too many packages to the base R. A solution to support local
additions to the base R is to use Bundle with RPackage.  The link below is
an example of how you can extend R for your local site, which is based on
the EasyBuild R.

https://github.com/Fr

[2019-07-04 18:50] boegel opened #8540 "gensim extension in Annif easyconfig fails to install with intel/2019a toolchain"
The `import gensim` check fails with:

[code]

Based on https://github.com/cython/cython/issues/1953, I tried rebuilding the Cython part of `gensim` (although what C source files included in the source tarball indicate that they were generated using Cython 0.29.2, which is recent enough) by using:

[code]

The `build_ext` part fails because it tries to use `gcc` when linking:

[code]

(this goes u

[2019-07-05 12:34] fwautele opened #8541 "Java-1.8.eb package generation fails"
Hi,

I'm trying to build [Java-1.8.eb](https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/j/Java/Java-1.8.eb) using EasyBuild 3.9.2 but the package creation is failing with the following error message:

[code]
The package generator seems to looking for "1.8.lua" but only "1.8.0_212.lua" exists in the corresponding directory.

Thanks for your help.

Complete log

[2019-07-06 16:15] boegel commented on #8003
Same issue with `CGAL-4.14-intel-2019a-Python-3.7.2.eb` on Intel Skylake:

[code]

[2019-07-10 04:23] jordiblasco opened #8563 "FFTW3 tests issues and potential OpenMPI 3.1.1 bug related to PMIx"
The tests of [FFTW-3.3.8-gompic-2018b.eb](https://github.com/easybuilders/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/f/FFTW/FFTW-3.3.8-gompic-2018b.eb) are not capable of finding libcuda when compiling it with CUDA-aware OpenMPI. Tested in CentOS Linux release 7.6.1810.

It seems related to the following two issues:

- https://github.com/easybuilders/easybuild-easyconfigs/issues/6602

[2019-07-10 11:13] casparvl commented on #8003
`CGAL` depends on `Qt5`, so my quess is you're hitting this during a robot build of `CGAL`, and the robot is trying to build `Qt5`...?

Anyway, as a workaround, I know simply compile Qt5 with -xCORE-AVX2. I don't expect Qt5 would massively benefit from AVX512 over AVX2 anyway. Still, it is strange that, from what I see so far, Qt5 is the only software that I can't seem to build with xCORE-AVX512.

[2019-07-15 13:31] Micket commented on #8541
Have you possibly modified anything here? java.py, easyblock.py or the config itself?

From the end of the log, it is trying to install this as it was a package. And this is just a meta-package that points to the default Java version. There is no, and shouldn't be, any config for this. It's added in the .modulerc (which seems to be working correctly).

It should never come to this
[code]

[2019-07-15 14:00] fwautele commented on #8541
Dear Mikael,

In this case, nothing has been modified but the config:

[code]

Packages are build on a "compilation farm", installed and tested in staging environment and then installed in production.

Thanks.
-f

[2019-07-15 14:21] Micket commented on #8541
I actually hadn't used this feature of EB, I mistakenly thought it was related to the config.

Since what this config (using the ModuleRC block) involves just modifying the .modulerc files (either creating the file, or just add a line to it), I'm not sure this even could be represented by an RPM.

The ModuleRC class needs to overload `package_step`.

[2019-07-18 06:46] HerderB opened #8590 "matplotlib-3.0.0-foss-2018b-Python-3.6.6.eb crash"
Hello all,

I haven't been able to install matplotlib-3.0.0-foss-2018b-Python-3.6.6.eb, which is a dependency for another package. See attached logs.
[easybuild-matplotlib-3.0.0-20190716.161327.DCmFK.log](https://github.com/easybuilders/easybuild/files/3405089/easybuild-matplotlib-3.0.0-20190716.161327.DCmFK.log)

On SLACK, Smoors suggested adding `buildopts = 'LDFLAGS="$LDFLAGS -L$EBROOTPYTHON/li

[2019-07-18 08:36] #8590 closed

[2019-07-19 16:05] vanzod opened #8596 "V8 R library is missing V8 dependency"
The easyconfig file added with #8592 is missing the required `V8` dependency. I suspect `libv8` was installed with the OS in the systems where it was tested. Here is the error message on a minimal OS system:
[code]

@lexming Do you have an easyconfig for installing `V8`? If not we may have to consider reverting the PR merge.

@smoors Thoughts on this?

[2019-07-19 16:24] smoors commented on #8596
@vanzod `V8` is part of `nodejs`, but its installation needed some changes to make it accessible, see here:
https://github.com/easybuilders/easybuild-easyconfigs/pull/8546
Did you update `nodejs` to include the changes?

[2019-07-19 16:56] vanzod commented on #8596
@smoors Thanks. That was it. Sorry for the noise

[2019-07-19 16:56] #8596 closed

[2019-07-22 08:54] boegel commented on #8563
@akesandgren Thoughts on this one?

[2019-07-22 08:55] boegel commented on #8541
See also https://github.com/easybuilders/easybuild-framework/issues/2740

I'm not quite sure how to solve this one...

[2019-07-24 12:41] alchemroz opened #8607 "installation QuantumEspresso 6.4.1 intel/2019a, bzip2-1.0.6.tar.gz can not be found or donwloaded"
I was trying to install QuantumEspresso with --robot, when it arrives to download of https://fossies.org/linux/misc/bzip2-1.0.6.tar.gz

easybuild said was impossible to download bzip2-1.0.6.tar.gz. Actually it is right, in the site they changed to bzip2-1.0.8.tar.gz. I downloaded by another site, then I added to the search path. Now it started to work properly again. Maybe you want to correct the

[2019-07-26 09:03] alchemroz opened #8633 "installation easybuild 3.9.3 on fedora 30"
after some struggles I managed to install easybuild 3.9.3 with pip, then I tried to install QuantumEspresso 6.3 and I got an error when

error for building M4/1.4.17

The error same related to gnulib and is known in the community, they say they did not update the definition of gnulib for Fedora.

[code]

[2019-07-30 00:52] asa1 commented on #8499
I tried building this again in 3.9.3, and it failed with a different error this time. I don't recall anything else changing with the system since trying it with 3.9.2. Build log is attached. Thanks!
[perl_build_3.9.3.log](https://github.com/easybuilders/easybuild-easyconfigs/files/3444721/perl_build_3.9.3.log)

[2019-07-30 09:58] moravveji opened #8644 "Python/3.7.2-GCCcore-6.4.0 issue with -fPIC during linking"
Dear colleagues,

I would like to install Python/3.7.2-GCCcore-6.4.0, but I get the following error message:

[code]

I am attaching the debug logs and the EB easyconfig file. I'd be grateful to hear your insights.

Best,
Ehsan
[Python-3.7.2.zip](https://github.com/easybuilders/easybuild-easyconfigs/files/3446238/Python-3.7.2.zip)

[2019-07-30 10:04] moravveji commented on #8644
I am gonna repeat now, with more recent `binutils` and `libreadline` modules, and see whether that helps! Will post updates, soon.

[2019-07-30 13:36] andreas-h commented on #4999
This is just another data point: I was struck by the same problem (this time on NFS instead of BeeGFS).  I could solve this by using `/dev/shm` as `EASYBUILD_BUILDPATH`.

How do you deal with little issues like this?  Maybe a note in the easyconfig file?

[2019-07-31 16:05] zao commented on #8633
I can reproduce this on a container with Fedora 30.

Seems like Debian has a patch that may be generally useful for us to apply to everything that bundles a silly gnulib, but I don't know how much backward compatibility it has:
https://salsa.debian.org/debian/gnulib/commit/070719cf33293b67498f6756009835bb35483d37

The define used (`_IO_EOF_SEEN`) is at least present on an Ubuntu 14.04 machine, hea

[2019-07-31 16:48] zao commented on #8633
gnulib discussion thread on the subject: https://lists.gnu.org/r/bug-gnulib/2018-03/msg00000.html

[2019-08-01 10:03] boegel commented on #8633
There's a fix available for this, but no pull request yet, see #8501

[2019-08-01 17:54] sebacea commented on #1935
The problem is still there in my configuration:

sessionInfo()
R version 3.6.0 (2019-04-26)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.2 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.2.20.so

Random number generation:
 RNG:     Mersenne-Twister
 Normal:  Inversion
 Sample:  Rounding

l

[2019-08-02 05:35] verdurin opened #8661 "Strange OS dependency check failure on Fedora 30"
Trying to build Python on a Fedora 30 machine, and it's failing at the OS dependency check, even though `openssl-devel` is installed:
[code]

Here is evidence that it is installed:
[code]

[2019-08-03 08:21] boegel commented on #8501
Patch for `M4-1.4.17.eb` added in #8666 (will add the patch consistently to all M4 1.4.17 easyconfigs later).

[2019-08-03 08:23] boegel commented on #8633
@alchemroz @zao Can you confirm whether the patch added to `M4-1.4.17.eb` in #8666 fixes the problem?

An easy way to test this is using `eb --from-pr 8666 M4-1.4.17.eb`, to let EasyBuild install the tweaked easyconfig file straight from the pull request.

[2019-08-03 16:35] boegel commented on #8633
I've reproduced the problem reported by @alchemroz in a Singularity container for Fedora 30, and confirmed that the fix in #8666 does the job by uploading a test report from Fedora 30...

[2019-08-05 09:37] zao commented on #8633
`== COMPLETED: Installation ended successfully`

[2019-08-05 11:39] rubendibattista opened #8669 "Python/3.72 - Issue installing extensions"
I was trying to install stuff that depends on `Python/3.7.2` in a custom environment where my system interpreter is custom installed in `~/.local` (i.e. `which python -> ~/.local/bin`). When `EB` tries to install extensions using `pip`, it gets the system `pip` and the build fails.
[code]

To solve this problem I configure `use_pip=False` and then I had to reorganize the extension order putting `s

[2019-08-05 19:53] asa1 commented on #8499
I was able to build Perl successfully by moving my Easybuild directory to local storage. It was originally being built on a new BeeGFS mount, and I think that may have caused the problem. I was unable to verify this from the build logs, but I suspect it may be due to a BeeGFS limitation that doesn't allow hard links outside of the same directory.

I hope I didn't waste anyone's time with this, tha

[2019-08-05 19:53] #8499 closed

[2019-08-06 09:51] boegel commented on #8633
Since the PR was merged, I'll close this issue.

@alchemroz The fixed `M4` easyconfigs will be included in the next EasyBuild release (probably EasyBuild v3.9.4). Using EasyBuild v3.9.3, you can use `eb --from-pr 8666 M4-1.4.17.eb` to dance around the problem for now.

Do let us know if you hit any other problems!

[2019-08-06 09:51] #8633 closed

[2019-08-06 10:05] alchemroz commented on #8633
Dear Lars and Kenneth, thank you for your help.

Bests,
Simone

Il giorno mar 6 ago 2019 alle ore 11:51 Kenneth Hoste <
notifications@github.com> ha scritto:

--
Simone Marocchi, Ph.D.
CINECA - SuperComputing, Applications and Innovation Department
Via Magnanelli 6/3, 40033 Casalecchio di Reno (BO) - Italy
Phone: *+39 051 6171 750*
email: *s.marocchi@cineca.it <s.marocchi@cineca.it>*
Skype: *jacob

[2019-08-06 11:14] alchemroz opened #8673 "compilation fail bison 3.0.4, EasyBuild 3.9.3, fedora 30"
I tried to install
eb --software-name=QuantumESPRESSO --toolchain=intel,2018b --robot

I got an error when building Bison 3.0.4

lib/fseterr.c: In function 'fseterr':
lib/fseterr.c:77:3: error: #error "Please port gnulib fseterr.c to your platform
! Look at the definitions of ferror and clearerr on your system, then report thi
s to bug-gnulib."
   77 |  #error "Please port gnulib fseterr.c to your

[2019-08-06 13:20] boegel commented on #8499
@asa1 It's not the first time that using BeeGFS is being reported as problematic...

Thanks for the update! Please don't hesitate to let us know if you run into other problems...

[2019-08-06 13:46] boegel commented on #8673
@alchemroz The problem is very similar to the one you were hitting with `M4` (cfr. #8633)

Should be fixed in #8675, so please try installing `Bison` using `eb --from-pr 8675 Bison-3.0.4.eb` to pull in the fixed easyconfig file, let us know if that worked...

[2019-08-06 13:53] alchemroz commented on #8673
Dear @boegel thanks for the suggestion. I just tried, it worked nice

COMPLETED: Installation ended successfully

[2019-08-06 13:57] boegel commented on #8673
Excellent!

Do let us know if you hit any other problems... You'll likely hit the same problem again when `M4` and `Bison` are installed with a non-dummy toolchain, you can use the same trick using `--from-pr` to dance around it when using EasyBuild v3.9.3 until EasyBuild v3.9.4 is released.

You'll see multiple installations of `M4` and `Bison` happen because of the bootstrap procedure that EasyB

[2019-08-06 13:57] #8673 closed

[2019-08-06 14:15] boegel commented on #8661
@verdurin Can you make that a debug log, so it shows the output/exit code of the `rpm -q openssl-devel` command it runs?

The final error message could definitely be improved here; there's a (silly) fallback to trying to run the OS dep as a command to check whether it's available, but that shouldn't produce the actual error message, it should say something like "Failed to find 'openssl-devel' OS d

[2019-08-06 14:43] boegel commented on #8669
@rubendibattista Your suggestion implies having modules installed for all those extensions, which probably does more harm than good (something about forest & trees & such), but that's a different discussion. Note that you can already use that approach yourself, if you prefer.

The real question is why your system `pip` is being picked up at all... The Python that gets installed should come with it

[2019-08-06 14:50] rubendibattista commented on #8669
Well, that's what most of packagers do. And moreover the problem is that most of the dependents that needs Python, are depending on the fully fledged python with all the extensions, meaning that if someone wants the bare Python, needs to edit all the dependency chain.

In any case I think the problem is that to install pip you need setup tools, but currently the first extension listed is `pip` (th

[2019-08-06 15:29] alchemroz opened #8678 "Easybuild/3.9.3 compilation failed GCCcore-7.3.0.eb, fedora 30"
Dear @boegel,
                         as you predicted I got an error with the compilation of GCCcore-7.3.0.eb. There is some workaround for this ? How can I find it between the previous issues without bother you ?

ERROR: Build of /home/simone/EasyBuild/software/EasyBuild/3.9.3/lib/python2.7/site-packages/easybuild_easyconfigs-3.9.3-py2.7.egg/easybuild/easyconfigs/g/GCCcore/GCCcore-7.3.0.eb fail

[2019-08-06 15:49] boegel commented on #8678
@alchemroz This looks like a different problem, probably not related to `M4` or `Bison`...

Can you upload a full (debug) log available for this (collected with `eb --debug`), so we can see the full error?

I'll try to reproduce it on my end (time permitting)...

[2019-08-06 16:05] alchemroz commented on #8678
Thanks @boegel . Here there is the complete log with --debug
[easybuild-GCCcore-7.3.0-20190806.175833.aVemU.log](https://github.com/easybuilders/easybuild-easyconfigs/files/3473120/easybuild-GCCcore-7.3.0-20190806.175833.aVemU.log)

[2019-08-06 18:23] boegel commented on #8678
@alchemroz Here's the actual problem:

[code]

Based on https://stackoverflow.com/questions/56096060/how-to-fix-the-gcc-compilation-error-sys-ustat-h-no-such-file-or-directory-i, this is due to changing in recent versions of glibc.
The culprit seems to be in ISL, which is enabled by default in the GCC built with EasyBuild, see https://trac.sagemath.org/ticket/26954 .

What this boils down to is th

[2019-08-07 08:41] moravveji commented on #8644
Any updates here?

[2019-08-07 13:38] boegel commented on #8501
With both #8666 and #8675 merged, the problems should be fixed for both M4 1.4.17 and Bison 3.0.4, so I'll go ahead and close this issue...

Thanks a lot for reporting this @evohringer!

[2019-08-07 13:38] #8501 closed

[2019-08-07 13:42] boegel commented on #8644
@moravveji It seems like you have something custom in your configuration that is causing this problem, since others are not seeing it (as far as I know).

Do you mind sharing the output of "`eb --show-config`"?

Also, it seems like the `libreadline` built with the `dummy` toolchain is being picked up as a dependency for `Python-3.7.2-GCCcore-6.4.0.eb`.

That may be the cause of the problem, since

[2019-08-07 16:04] alchemroz commented on #8678
Hello @boegel , I changed withisl = True to withisl = False. The compilation has continued for a while then I got another error
[easybuild-GCCcore-7.3.0-20190807.122350.leUHK.log](https://github.com/easybuilders/easybuild-easyconfigs/files/3477743/easybuild-GCCcore-7.3.0-20190807.122350.leUHK.log)

How can I use easybuild to build QuantumEspresso 6.3, intel 2018 with  GCCcore-7.3.0.eb builded with

[2019-08-07 20:50] boegel commented on #4999
@andreas-h I'm not sure a note in the easyconfig file would help much... Not sure how to expose this problem better.

[2019-08-08 09:21] moravveji commented on #8644
@boegel: Thanks for the tips.
In fact, I tried again using `libreadline/8.0-GCCcore-6.4.0`, and got the same error. I assume somewhere in my dependency tree, there is a dummy libreadline pollution, which I gotta spot and fix. I have email you the output of `--show-config`.
I will update this ticket soon.

[2019-08-08 12:48] moravveji commented on #8644
Alright ... the SQLite had a dependency on the dummy readlibline, which I fixed. Now, the Python build flows smoothly. Thanks for the tip, and I shall close this ticket.

[2019-08-08 12:48] #8644 closed

[2019-08-08 21:12] boegel commented on #8644
Glad to hear you got it sorted out, thanks for the update!

[2019-08-08 21:18] boegel commented on #8678
Looks like it fails in the exact same place :(

If you want to try building QuantumESPRESSO 6.3 with `foss/2019a` instead, try this:

[code]

Is your actual target system running Fedora 30 though, or is that just the one you are testing on?

[2019-08-09 11:40] mstud opened #8704 "Autoconf/2.69 requires perl-Data-Dumper"
Just installed EasyBuild on a fresh CentOS 7.6 installation and tried to do some installation, but it failed at Autoconf-2.69-GCCcore-8.2.0.eb:

[code]

Installing the yum package `perl-Data-Dumper` resolved it, so maybe this should be added as an osdependency?

[2019-08-09 12:24] moravveji opened #8705 "CheMPS2 fails to pass tests"
Dear all

I would like to install CheMPS2/1.8.9-intel-2018a as a dependency for PSI4. however, it does not pass the tests:

`== testing...
== FAILED: Installation ended unsuccessfully (build directory: /mem/easybuild/CheMPS2/1.8.9/intel-2018a): build failed (first 300 chars): cmd "export OMP_NUM_THREADS=1 &&  make test " exited with exit code 2 and output:
Running tests...
Test project /mem/easybu

[2019-08-09 12:37] moravveji opened #8707 "pytest fails to import itself!"
Hey all,

I am trying to build pytest/4.4.0-intel-2018a-Python-3.6.4. However, the sanity check fails with the following message:

`== sanity checking...
== FAILED: Installation ended unsuccessfully (build directory: /dev/shm/easybuild/pytest/4.4.0/intel-2018a-Python-3.6.4): build failed (first 300 chars): Sanity check failed: no file found at 'bin/pytest' in /myApps/software/pytest/4.4.0-intel-20

[2019-08-09 16:11] boegel commented on #8707
Hmm, the output from the actual installation command looks very fishy...

[code]

Was anything actually installed? Is there anything at all in `/myApps/software/pytest/4.4.0-intel-2018a-Python-3.6.4`?

[2019-08-09 16:14] boegel commented on #8705
Several of the tests segfaulted:

[code]

Figuring this one out is going to be... fun.

Maybe the memory limits that were in place on the system where this build was done were insufficient, is that possible?

Does it help at all if you add this to the easyconfig file?

[code]

If not, what about

[code]

[2019-08-09 16:16] boegel commented on #8705
Another possible cause is the different toolchain... We're not seeing these failing tests when using the `intel/2018b` or `intel/2019a` common toolchains, so it could be simply a miscompile with `intel/2018a`.

[2019-08-10 07:30] boegel commented on #8704
We're aware of this, but haven't gotten around to fix it yet; see also #1822 .

The best way to fix it would be to simply provide `Perl` as a dep (like in #5300), but that's quite "heavy".

Thanks for bringing this up again, this has been bugging me for a while, we should go and get it dealt with.

[2019-08-12 03:02] alchemroz commented on #8678
Dear @boegel , thanks for your help. The server I was using had Fedora 30 and I was curios to see how easybuild was going with that. I had also another server with centos 7 and there easybuild had (almost) no problems. I think easybuild is really a good project, I am happy to help you to test and fix it.

Bests,
S.

[2019-08-12 09:52] moravveji commented on #8707
@boegel: Thanks Kenneth for your notice.
In fact, the lib directory seems to be populated with the relevant files:

`ll /myApps/pytest/4.4.0-intel-2018a-Python-3.6.4/lib/python3.6/site-packages/
UNKNOWN-4.4.0-py3.6.egg-info/             attrs-19.1.0-py3.6.egg-info/              pluggy-0.9.0-py3.6.egg-info/
__pycache__/                              more_itertools/                           py/
_sca

[2019-08-12 11:20] moravveji commented on #8705
I tried twice with the two above `toolchainopts` options, and it failed both times. Given that our 2018a is our base/most complete toolchain, I prefer to compile it with intel/2018a.
Is there a chance we can get this compiling still under the 2018a?

[2019-08-12 11:22] moravveji commented on #8705
correction: I just figured out that on tier-1 we still do not have 2018b or 2019a toolchains at all. So, 2018a is my only bet!

[2019-08-13 14:17] boegel commented on #8540
Turns out the magic incantation is to set `$LDSHARED` to `"icc -shared"` to convince `python setup.py build_ext --inplace` to use `icc -shared` as linker command, so this works as expected:

[code]

Hat tip to @Darkless012 for figuring this one out! :)

Closing this, will add the resulting easyconfig to #8536...

[2019-08-13 14:17] #8540 closed

[2019-08-13 20:03] boegel commented on #8707
I have no idea why the `UNKNOWN` thing is popping up, or why `bin/pytest` is not there...

[2019-08-13 20:08] boegel commented on #8705
@moravveji If the problem still occurs when using `noopt` (which implies compiling with `-O0`), that's a strong indicator that you're triggering a compiler bug, and then the only viable fix is to use a more recent compiler version imho...

[2019-08-14 14:57] justbennet opened #8771 "Python 3.7.4 segfault during `make test`"
Per @boegel in Slack I am opening this issue about Python 3.7.4 (and probably many prior versions) that appears to be mainly confined to Skylake chips.  I, personally, have this on

Dell R640 Intel(R) Xeon(R) Gold 6140 CPU @ 2.30GHz

I have a report from another US academic institution that the problem was replicable on these hardware configurations.

Dell R740 Intel(R) Xeon(R) Gold 6130 CPU @ 2.1

[2019-08-14 14:59] boegel commented on #8771
@justbennet If a fix for this gets backported to Python 3.7, we can pick up the patch and add it to the relevant easyconfigs, but as I mentioned I'm not sure it's a good idea to do so before the patch is accepted up stream (since `Python` is commonly used).

[2019-08-14 20:19] Micket opened #8774 "ORCA configs broken for HMNS"
Using `dummy` and relying on a compiled OpenMPI won't work on HMNS.
Example:
https://github.com/easybuilders/easybuild-easyconfigs/blob/a449df2c46be11493eece6cc359a6acc8939811c/easybuild/easyconfigs/o/ORCA/ORCA-3_0_2-linux_x86-64-OpenMPI-1.8.1.eb#L20

Suggested fix is to do what #8746 does.

[2019-08-15 13:05] justbennet commented on #8771
A revised fix got merged in the the master Python branch.  See line 1332  at
https://github.com/python/cpython/blob/master/Modules/faulthandler.c
and the preceding comment.
See https://bugs.python.org/issue21131#msg349768 for the comment about closing and merging.

[2019-08-18 14:47] zao commented on #8661
When building `eb Python-2.7.15-foss-2018b.eb --robot`, when building the first extension `setuptools`, with my own added log entry:
`== 2019-08-18 16:40:51,561 systemtools.py:593 WARNING Dependency openssl-devel searched with rpm with command line 'rpm -q openssl-devel: False result'`

When running in a standalone Python interpreter:
[code]

[2019-08-19 20:11] zao commented on #8661
A-ha!
Command output when building the `setuptools` extension is:
``("rpm: /hp/eb/software/Compiler/GCCcore/7.3.0/XZ/5.2.4/lib/liblzma.so.5: version `XZ_5.2' not found (required by /lib64/librpmio.so.8)\n", 1)``

[2019-08-19 20:16] zao commented on #8661
We have apparently run into this in the past with different versions: https://github.com/easybuilders/easybuild-easyconfigs/issues/4036

Feels strange that our environment should contain any of the currently builing package dependencies when running the system packaging tool to check for OS deps.

[2019-08-19 20:36] zao commented on #8661
If I remove that patch from my XZ builds, `rpm` can run in the presence of the EasyBuild. This assumedly breaks the CentOS mentioned in the other report, so it's not a solution.

[2019-08-20 05:22] akesandgren commented on #8661
In other words we need  to clear the env before runing OS commands from within EB

[2019-08-21 17:56] boegel commented on #8607
@alchemroz Sorry for the late reply... Thanks a lot for reporting this!

The download issues for `bzip2` 1.0.6 have been fixed in #8614 (to be included with the upcoming EasyBuild v3.9.4), and we'll start using more recent `bzip2` versions going forward...

[2019-08-21 17:56] #8607 closed

[2019-08-22 05:39] mits022 commented on #4575
I am unable to download Java on Amazon Linux EC2, getting error:-
Command:- sudo tar xzf jdk-8u151-linux-x64.tar.gz

Error:- gzip: stdin: not in gzip format
tar: Child returned status 1
tar: Error is not recoverable: exiting now