[2012-11-09 12:01] boegel opened #17 "-fPIC not enabled via toolchainopts for libpng"
In (several?) libpng easyconfigs, the following is being used:

[code]

We should check whether the same thing can be achieved via enabling `pic` in `toolchainopts`, and clean up the easyconfigs accordingly.

[2012-11-19 18:11] fgeorgatos opened #23 "Ensure next release has PEP0008 compliance - at least for the obvious things"
This had been originally opened as
https://github.com/hpcugent/easybuild-framework/issues/336

There are especially too many leftovers from the early days prototypes, whereby the rule on spacing is not adhered to; because newcomers have the valid habit of copy-pasting working examples, this seems to be a never-ending story. So, let's fix it in the next round.

Example of need to fix:

BEFORE:

[co

[2012-11-19 20:47] opadron opened #25 "GCC(with CLooG/PPL) Build fails on OS X"
I installed all three python packages for EB by downloading each and issuing

python setup.py install --prefix=$HOME/.local

PYTHONPATH and PATH variables were appropriately updated.

Tried to install gcc 4.7.1 with the provided configuration:

eb ~/.local/lib/python2.7/site-packages/easybuild_easyconfigs-1.0.0-py2.7.egg/easybuild/easyconfigs/g/GCC/GCC-4.7.1-CLooG-PPL.eb

output is at
http://paste

[2012-11-21 18:24] #25 closed, assigned to boegel

[2012-11-24 16:37] boegel opened #30 "avoid draft easyconfigs to end up in released version"
Adjust setup.py (or release procedure) to make sure no files that are not committed and pushed to master end up in released version of easybuild-easyconfigs.

[2012-11-26 07:54] itkovian opened #31 "Local (--user) installation through distutils does not place easyconfigs in the standard path"
Typically, installed files end up in

[code]

However, when installing easybuild-easyconfigs using python 2.7, with distutils, they end up being copied to

[code]

And thus live in

[code]

There, they are not picked up by the framework, see easybuild-framework for the issue.

How to reproduce:

On the UGent HPC cluster login nodes:

[code]

[2012-11-26 19:50] #31 closed, assigned to nobody

[2012-11-28 10:17] JensTimmerman opened #35 "create an easyblock for scipy stack"
http://www.scipy.org/stackspec.html
We should have support for the SciPy stack

[2012-11-28 10:29] JensTimmerman opened #36 "Build all of EPD (Enthought Python Distribution) from source"
- [ ] appinst  2.1.2   OS abstraction for installing application menus, links and icons
- [ ] apptools 4.1.0   application building block technologies
- [x] basemap  1.0.2   plots data on map projections with matplotlib
- [ ] biopython    1.59    tools for biological computation
- [ ] bitarray 0.8.0   efficient representation of arrays of booleans
- [ ] blist    1.3.4   list-like type with better

[2012-11-30 10:36] besserox opened #40 "OpenMPI with no-OFED have Infiniband support enabled"
I noticed the following issue.

The OpenMPI version built with a no-OFED easyconfig has support for InfiniBand on machine with IB libraries. This is because OpenMPI configure script will autodetect InfiniBand libraries and enable InfiniBand if they are available.
More info here http://www.open-mpi.org/faq/?category=building#default-build

If you really want to disable InfiniBand support, you have

[2012-12-06 21:19] boegel opened #51 "setuptools should always be included in Python installations"
We should make sure that all the easyconfigs we ship include `setuptools` as first extension being installed. `distutils` is really not a viable replacement when `setuptools` is missing, it can cause all kinds of issues when subsequently installing Python packages like `nose`, `numpy`, `scipy`, etc.

[2012-12-15 12:48] #51 closed, assigned to nobody

[2013-01-08 20:30] boegel opened #78 "optimization flags like -xHOST are getting overridden by scipy"
[code]

`-xW` is deprecated, and the use of these flags should be patched out

[2013-01-11 21:23] pforai opened #80 "EB output parsers is not using UTF-8"
On SLES while building ATLAS which emits non-ASCII characters EB is not using UTF-8 to parse the output:

== 2013-01-11 22:33:03,457 main.fileTools DEBUG run_cmd: running cmd  make -j 1  (in /home/easybuild/.local/easybuild/build/ATLAS/3.8.4/gompi-1.1.0-no-OFED-LAPACK-3.4.0/ATLAS/obj)
Traceback (most recent call last):
  File "/usr/lib64/python2.6/logging/**init**.py", line 765, in emit
    self.s

[2013-01-11 21:23] pforai opened #81 "EB output parser is not using UTF-8"
On SLES while building ATLAS which emits non-ASCII characters EB is not using UTF-8 to parse the output:

== 2013-01-11 22:33:03,457 main.fileTools DEBUG run_cmd: running cmd  make -j 1  (in /home/easybuild/.local/easybuild/build/ATLAS/3.8.4/gompi-1.1.0-no-OFED-LAPACK-3.4.0/ATLAS/obj)
Traceback (most recent call last):
  File "/usr/lib64/python2.6/logging/**init**.py", line 765, in emit
    self.s

[2013-01-11 21:30] #81 closed, assigned to nobody

[2013-01-11 21:30] #80 closed, assigned to nobody

[2013-01-11 21:58] pforai opened #82 "SAMtools Makefile is missing proper linker search paths"
The Makefile needs to be fixed as was done for ncurses in the patch (as can be seen in easybuild/easyconfigs/s/SAMtools/SAMtools_Makefile-ncurses.patch),

[2013-01-17 10:40] #17 closed, assigned to nobody

[2013-01-17 10:42] #23 closed, assigned to nobody

[2013-01-17 15:54] fgeorgatos opened #86 "Request to drop the -no-OFED suffix"
Hi,

although I admit I don't fully grasp the long-term consequences of asking this:

In my eyes the "no-OFED" is just a feature embedded within gOalf v1.1.0;
do you agree to drop it? do you like the idea? if not, why not?

I am certainly willing to do the boring part all across the codebase, if you find this reasonable.

[2013-01-17 16:05] #86 closed, assigned to nobody

[2013-01-18 15:29] boegel opened #89 "MTL4 download url is broken"
(originally by @JensTimmerman)

The MTL download url in the example .eb's is broken.

http://www.simunova.com/downloads/mtl4/MTL-all-4.0.8878-Linux.tar.gz returns a 404
This is because MTL4 updates their tarbals every thursday to the latest svn revision.
If you want a fixed version you should use their public svn
svn checkout https://simunova.zih.tu-dresden.de/svn/mtl4/trunk mtl4

[2013-01-24 11:32] boegel opened #100 "list of dependencies for Viper is incomplete"
Viper depends on the numpy and VTK modules, but currently no dependencies are listed

Because VTK and numpy are not available, the `import viper` sanity check fails.

To get around this issue, the Viper example easyconfigs are currently using

[code]

[2013-01-27 19:02] boegel opened #102 "example easyconfig for Chapel is missing"
Although a dedicated easyblock for Chapel is available, an example easyconfig file is missing.
Hence, the `chapel.py` was not tested during the full regression test prior to the EasyBuild v1.1.0 release.

[2013-01-27 19:03] #102 closed, assigned to fgeorgatos

[2013-01-28 11:16] fgeorgatos opened #103 "remove goalf dependency from ABINIT and other tarballs"
I come to realize that this should not have goalf as toolchain, since it results in an unneeded GCC and co build on fresh systems. Samewise for other tarballs without dependencies, need to check.

[2013-01-28 14:18] itkovian opened #104 "Efficient data structures for Python"
See http://kmike.ru/python-data-structures/. Please add support for these l33t data structures. Interpret 'please' according to stdweird's definition.

[2013-01-28 17:46] boegel opened #105 "list of software packages for v1.1.0 is incomplete"
The list of software packages shown at https://github.com/hpcugent/easybuild/wiki/List-of-supported-software-packages is incomplete, i.e. 3 packages are not listed even though easyconfig files are available for them:
- ALADIN
- ant
- JUnit

[2013-01-31 17:55] fgeorgatos opened #113 "Recommendation to phase out icc-11.1.073.eb from next easyconfig distribution"
Hi,

well, first, I am not the guy you need to convince about reproducibility ;-)

It seems though that the issues with 11.1.073 (and its friends) have started piling up,
my concern is that they may dismay new users:
- As per Intel issue #691555, the tarballs of that version are not available on the default website of Intel any more; you can only obtain them after a support request and only retrie

[2013-02-18 10:27] fgeorgatos opened #120 "Ensure R can build across varying platforms"
fyi. Last time I had an issue with building R on my end;
Let's verify the build is correct this time, by providing an example without the extensions.

[2013-02-19 15:45] #120 closed, assigned to nobody

[2013-02-25 12:54] JensTimmerman opened #135 "some R packages with dependencies should be moved to their own module"
png, Rniftilib, Rsamtools depend op zlib
shortread depends on genomegraphs which depends on XML (already in a separate module) which depends on libxml2
(shortread adn genomegraphs are bioconductor packages)

[2013-02-27 13:01] #103 closed, assigned to nobody

[2013-02-28 10:35] #113 closed, assigned to nobody

[2013-02-28 18:37] fgeorgatos opened #143 "try and figure out if we can steer the paths considered for PATH from the easyconfig file"
this is needed multiple times and, IMHO, it is a highly wanted in relation to altversions[], too:
- different versions might organize their layout differently, while keeping the same install procedure; so, logically this should be tunable from the easyconfig as opposed to easyblock

So, better untangle the hardwired PATHs and related items from easyblocks.

Similarly we may wish to expand the scop

[2013-03-03 17:38] fgeorgatos opened #146 "Hypre missing homepage & description"
ref. https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/h/Hypre/Hypre-2.8.0b-goalf-1.1.0-no-OFED.eb

[2013-03-04 09:44] #146 closed, assigned to nobody

[2013-03-12 09:46] #105 closed, assigned to nobody

[2013-03-12 09:47] JensTimmerman opened #151 "we need support for pbs_python"
it's a pain to install, and we actually use it, so we need to add an easy way to install this.

[2013-03-13 12:45] fanourg opened #153 "tinker"
Have you already provides support for MD package "tinker"? If not I am interested of working on it.

[2013-03-13 13:05] fanourg opened #154 "linking Ferret with OpenMPI"
I am trying to build a package with EB using goalf. During linking I get error messages related to the MPI despite the fact that I have set into  .eb file

[code]

The only way I found to overcome this problem is by setting in the .eb file

[code]

so  by explicitly asking gcc to link the MPI libraries.
Is it necessary to use the last command, or it is a problem of the EB?

[2013-03-14 06:14] #154 closed, assigned to nobody

[2013-03-21 23:19] #40 closed, assigned to nobody

[2013-03-24 21:35] gribozavr opened #172 "Building libib* libraries is not rock-solid"
Avoiding the system InfiniBand stack has a number of disadvantages:
- A configuration file is needed (in `easybuild/software/libibverbs/1.1.4-GCC-4.7.2/etc/libibverbs.d/`).  It is not created automatically, and it actually depends on the available hardware.  Creating it might be non-trivial.
- IB driver libraries (provided by the OS distribution) might be ABI-tied to libib\* libraries.
- In some c

[2013-03-25 07:21] #172 closed, assigned to nobody

[2013-03-25 17:18] boegel opened #176 "toolchain modules should only depend on subtoolchains"
Toolchain modules like `goalf` or `goolf` should only depend on subtoolchains, for example:

[code]

or

[code]

[2013-03-27 10:10] #82 closed, assigned to nobody

[2013-03-31 21:34] fgeorgatos opened #204 "configure OpenMPI*.eb files w. option --enable-mpirun-prefix-by-default"
In the OpenMPI v1.6.4 which is part of #158 we have added the line:
`configopts += '--enable-mpirun-prefix-by-default '  # suppress failure modes in relation to mpirun path`

That line is important otherwise the following particular failure mode will be triggered:

OK) whereby in a test called "60-MPI-mpirun_in_the_path", instead of getting this:

[code]

Ref. http://my.cdash.org/testDetails.php?t

[2013-04-06 14:46] stdweird opened #212 "toolchain neutral easyconfigs"
(this is all in preparation of new easyconfig format to prevent explosion of easyconfigs)

a set of toolchain neutral easyconfigs with additional properties
- neutral name: only package name (casesensitive spelling), e.g. `Python.eb`
- no toolchain field defined
  - however, it should be possible to use them with --try-toolchain
  - this might require some code modification in framework?
  - no to

[2013-04-07 20:21] ajdecon opened #214 "netCDF 4.2 now 404's"
Building netCDF-4.2-goolf-1.4.10.eb fails because the relevant link to Unidata's site now 404s. Only available version now appears to be 4.2.1.1.

[2013-04-08 07:38] #214 closed, assigned to nobody

[2013-04-08 23:01] gribozavr opened #216 "Coding style should define variable order in the easyconfig"
Currently the variable order is different in easyconfigs, but there are some patterns (for example, name, version, source URLs are on top).  We should define a total order for consistency.

[2013-04-28 12:20] #204 closed, assigned to nobody

[2013-05-02 22:02] fgeorgatos opened #252 "CUDA: add v4.2.9 and provide fix for debian/ubuntu proper sources"
Ref: https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/c/CUDA/CUDA-5.0.35-1.eb

There was an else clause that was a bit scary, now I can also detect why:

[code]

Although, it is not easily noticeable (nvcc seems to work fine up to know), nvprof would gasp as follows:

[code]

The latter occurs on a debian squeeze platform because the chosen source as of now is `c

[2013-05-05 16:57] fgeorgatos opened #254 "libdb headers is osdependency for perl extension(s)"
Document osdependency of perl/bioperl on libdb headers, breaking on Squeeze debian distro as:

[code]

On a debian squeeze platform the solution has been:

[code]

ref. http://pablomarin-garcia.blogspot.com/2010/04/instaling-bioperl-161-from-cpan-in.html

[2013-05-10 15:50] fgeorgatos opened #259 "MVAPICH v1.9 is out since 16/4/2013, consolidate historic easyconfigs with alpha/beta/rc versions"
I am a little bit surprised that our collective effort didn't catch this before the freeze of last month: OSU MVAPICH2 1.9   (04/16/13)  # I had the impression I checked it, but did I? :-)

[code]

So, all the 1.9\* ones should now gravitate towards the release version,
along with the toolchains that are based upon them:
`gmvolf/1.7.12rc1`, `gmvapich2/1.7.12rc1`, `gmvapich2/1.7.9a2`

[2013-05-10 20:46] gribozavr opened #260 "Python 2.7.4 is out"
Python 2.7.4 contains a lot of bugfixes: http://hg.python.org/cpython/file/9290822f2280/Misc/NEWS

[2013-05-10 20:49] gribozavr opened #261 "Clang 3.3 will be released in June"
While rc1 is available right now: http://llvm.org/pre-releases/3.3/rc1/

[2013-05-22 09:54] fgeorgatos opened #274 "Bioinformatics packages et al need stable versions of Boost/zlib etc"
$subject is important so that people can combine the tools in composite workflow scenaria.

The solution may be to confine versions for the following:
- zlib/Boost/, perhaps also Python/Perl/Java/libpng/ncurses

@kehoste: "maybe we should have a `biodeps` module that combines several common bio deps";
that would result in builds like: BLAST-2.2.28-goolf-1.4.10-biodeps.1.1

(In my eyes, this is a g

[2013-05-22 12:25] #260 closed, assigned to nobody

[2013-05-29 15:12] #252 closed, assigned to nobody

[2013-06-04 09:23] fgeorgatos opened #300 "Python/2.7.5 apparently depending on yet another version of zlib, ref. v1.5"
Hi there,

it is all the same story all over again, just triggered via v1.5
(but I consider it minor bug, since a non-build does not affect really much):
- IMHO, zlib was being picked up by your RH distro, when you were testing this @ Ghent;
  can you verify which version of zlib is relevant in your case really, for libxml extension?

[code]

Quick work-around: perhaps provide a -bare version, for

[2013-06-10 13:16] #261 closed, assigned to nobody

[2013-06-14 00:07] spikebike opened #304 "boost/zlib problems"
I have a new easybuild-1.5 system setup on ubuntu 13.04.

I set these environment settings:

[code]

I've built a fair number of packages successfully.

But with boost I had some problems:

[code]

That EB file mentions:

[code]

I assume that osdependencies means from the ubuntu repo not the zlib module available via easybuild.  Seems strange to specify a non-eb dependency to build an eb file.  B

[2013-06-14 21:39] spikebike opened #306 "Difficult to compile against PETSc?"
Using easybuild-1.5 on ubuntu 13.04 I got Petsc to compile, this is all the version info for it and it's dependencies:
Currently Loaded Modulefiles:
  1) build/1.5
  2) GCC/4.7.2
  3) hwloc/1.6.2-GCC-4.7.2
  4) OpenMPI/1.6.4-GCC-4.7.2
  5) gompi/1.4.10
  6) OpenBLAS/0.2.6-gompi-1.4.10-LAPACK-3.4.2
  7) FFTW/3.3.3-gompi-1.4.10
  8) ScaLAPACK/2.0.2-gompi-1.4.10-OpenBLAS-0.2.6-LAPACK-3.4.2
  9) goolf

[2013-06-14 21:42] spikebike opened #307 "gcc/libgfortran undefined reference:"

[2013-06-28 19:24] boegel opened #333 "libpciaccess/opensm are deps for OpenMPI"
[code]

[code]

[2013-07-01 17:12] pforai opened #335 "BEAGLE should be beagle-lib, BEAGLE is another piece of software."
I just noticed this today as one of my user was requesting BEAGLE to be installed, and I figured out that in EB BEAGLE is actually beagle-lib, and BEAGLE is something else.

beagle-lib (configs name is BEAGLE) is https://code.google.com/p/beagle-lib/
and BEAGLE is http://faculty.washington.edu/browning/beagle/beagle.html.

Should we change the name of the beagle-lib block/config?

[2013-07-02 10:14] boegel opened #337 "OpenMPI build fails because libxml2 is missing"
I'm mainly opening this issue to keep track of the error and the cause.

An OpenMPI build on our end if no `libxml2.so` is available system-wide.

Relevant build log messages:

[code]

[2013-07-02 13:37] #337 closed, assigned to nobody

[2013-07-04 07:07] boegel opened #342 "Perl module DB_File requires DB dep"
The Perl module `DB_File`, which is included in the list of extensions in the non-bare Perl easyconfig (because it's a dependency for other modules, e.g. BioPerl), depends on `DB` (i.e. requires `db4-devel` to be installed for `db.h`).

Building `DB` itself is not a big issue, but making `DB_File` correctly use the DB installation in a non-default path is proving to be tremendously difficult. Alth

[2013-07-04 10:12] #274 closed, assigned to nobody

[2013-07-04 11:31] #304 closed, assigned to nobody

[2013-07-04 12:07] #335 closed, assigned to nobody

[2013-07-04 18:13] #259 closed, assigned to nobody

[2013-07-09 08:39] #254 closed, assigned to nobody

[2013-07-10 14:13] boegel opened #365 "CP2K goalf build with libsmm has one failing unit test with EB v1.6, v1.11"
The `CP2K-20111205-goalf-1.1.0-no-OFED-libsmm` build suffers from one (out of 2196) failing unit test, which didn't use to happen before.

The `goolf` equivalent build works fine.

This is considered a (very) minor issue, didn't block EB v1.6 release.

see also https://jenkins1.ugent.be/view/EasyBuild/job/easybuild-full-regtest_develop/27/

[code]

[2013-07-16 11:53] JensTimmerman opened #368 "freeglut fails without XInput.h"
I'm getting freeglut_internal.h:112:39: fatal error: X11/extensions/XInput.h: No such file or directory

[2013-07-16 15:54] JensTimmerman opened #369 "m4 Build fails with recent glibc due to outdated gnulib"
http://lists.gnu.org/archive/html/bug-m4/2012-08/msg00006.html

this patch fixes it http://sources.gentoo.org/sys-devel/m4/files/m4-1.4.16-no-gets.patch

[2013-08-05 19:47] fgeorgatos opened #382 "imkl: need to catch more strictly (FFT) issues, to ensure complete delivery of the package"
To make a long story short, (some of) the following libs should rather be added in the sanity checks.

Otherwise, a broken license manager connection gives funny results when imkl fails to build properly (check at the end how this appears to the user - it only fails an next layers and leaves you with a surprise);

This could be a simple PR really; more interestingly, if imkl provides both fftw2 &

[2013-08-06 13:23] fgeorgatos opened #383 "Add extra bioinformatics packages according to popular demand & refresh versions."
Hi,

Some applications from the following lists may become important/critical for folks,
it would be good to know which ones they are, to join forces together:
- http://hpcbios.readthedocs.org/en/latest/HPCBIOS_2012-94.html
- http://www.eaglegenomics.com/2012/04/the-elements-of-bioinformatics/

Furthermore, near end-of-year, the versions mentioned in this one have to be promoted to latest and grea

[2013-08-06 13:27] fgeorgatos opened #384 "Avoid dependencies over biodeps-extended, tune the rest of apps to be aligned"
Basically, the problem is that `biodeps-extended` module collides with `biodeps`
(these modules cannot be loaded concurrently, since they differ only by versionsuffix).
Example: TopHat

Also, existing packages need to be brought up to speed to be compatible with biodeps; most notably, NCBI\* & BLAST should be built against `Boost-Python`, vs `Boost` bare.

Pending work affects the following:
- ABy

[2013-08-08 20:17] boegel opened #388 "add support for NEST"
http://www.nest-initiative.org/

http://insidehpc.com/2013/08/08/open-source-nest-software-powers-neural-simulation-on-k-supercomputer/

[2013-08-09 09:42] spikebike opened #389 "HDF4 doesn't build on ubuntu 12.10."
I believe it's been generally decided that architecture specific include files should not be in /usr/include. Thus the creation of /usr/include/x86_64-linux-gnu.

This is partially offset by defining:
export LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/

This allows GCC to build for instance.

I couldn't get HDF4 to build because libjpeg couldn't be found, the two fixes are an os dependency on libjpeg-t

[2013-08-09 09:44] spikebike opened #390 "bison and m4 use obsolete gets and fail to build on ubuntu-12.10 (and others)"
gets is a security problem and has been removed. Bison and M4 try to compile against it and fail.

I just manually removed that line, but this patch looks right. It's the same file in both m4 and bison, the lib/stdio.in.h.

Patch at:
https://github.com/twobob/buildroot-kindle/blob/master/package/m4/m4-1.4.16-no-gets.patch

[2013-08-09 09:44] spikebike opened #391 "OS Package dependencies use redhat syntax of -devel"
Debian and derivatives (like ubuntu) use -dev for developer packages.

So for instance OpenMPI-1.6.4-GCC-4.7.2.eb mentiones:

osdependencies = ['libibverbs-devel']

Which fails. Not sure if it would be better to have per OS naming, or just build as much as possible in easybuild.

The short term fix is to chance the name to -dev, which of course will break redhat based OS.

Hmm, I just search all t

[2013-08-09 10:45] spikebike opened #392 "fontconfig-2.10.91-goolf-1.4.10 is missing a dependency"
On ubuntu 12.10 the libfreetype6-dev ubuntu distro package should be depended on.

[2013-08-09 10:56] spikebike opened #393 "g2clib-1.2.3 doesn't exist."
I wanted to install NCL which points at g2clib-1.2.3.

The target URL for the download only has 1.4.0 now.

Not sure if the compatibility is perfect, but it looks like all references to  g2clib-1.2.3 should be changed to 1.4.0.

[2013-08-09 13:05] spikebike opened #395 "NCL file out of date? Dependencies missing?"
I'm a big confused.

NCL-6.0.0-goolf-1.4.10.eb mentions a bunch of dependencies.

Yet when I look at the manual for NCL:
http://www.ncl.ucar.edu/Download/build_from_src.shtml

It doesn't mention ESMF, but it does mention PROJ.4, HDF-EOS2, and GDAL.  None of which exist for goolf.

[2013-08-12 15:53] fgeorgatos opened #401 "mpiBLAST requires csh as dependency"
mpiBLAST seems to require (t)csh as (build)dependency, need to check a bit more:

[code]

proof:

[code]

[2013-08-22 07:45] #390 closed, assigned to nobody

[2013-08-25 11:09] fgeorgatos opened #408 "MATLAB improvement: extract directly from the .iso to ensure better integrity"
Hi Ken et al,

this may become important to have later on, to remove the nasty human-hand (including mine) when we setup the matlab software.

This is certainly for post-v1.7; in fact, we are going to be testing a particular setup of matlab on our cluster over next month or so, therefor I will have the chance to provide better/more complete feedback about this process, too.

ps. To Ken: you see it

[2013-08-26 21:29] spikebike opened #409 "HDF tries but fails to include szip."
Since at least HDF-4.2.7 and newer the proper ./configure command for including szip is --with-szlib not --with-szip.  I checked and it fails.

So I'd recommend:

[code]

I also recommend using the same flex/bison with all HDF files, currently I'd recommend using flex 2.5.37 and bison 2.7 since those are both current easyconfigs.  Seems kinda silly to have different dependencies for libraries that

[2013-08-26 23:14] fgeorgatos opened #410 "R: moduleclass = 'math' or moduleclass = 'lang'? be consistent"
Hi,

this will go away later on with multi-moduleclass support; until then, let's choose one:
https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-2.15.2-ictce-5.3.0-bare.eb
https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R/R-2.15.2-ictce-5.3.0.eb

Make a pick and I can issue the PR (or fix it silently somewhere else)

[2013-08-29 09:24] #391 closed, assigned to nobody

[2013-08-29 11:43] #410 closed, assigned to nobody

[2013-08-29 19:35] boegel opened #414 "HH-suite goolf build fails on SL6"
[code]

Build works fine on SL5, and at @fgeorgatos his end.

[2013-08-29 19:35] boegel opened #415 "PLINK ictce/5.3.0 build fails on SL6"
[code]

build works fine on SL5, and on @fgeorgatos's end

[2013-08-29 20:21] fgeorgatos opened #416 "Provide symlink to shorten path lengths in `eb --search` output"
I had a couple new users complaining about the long names:
`/opt/apps/HPCBIOS.20130715/software/EasyBuild/1.6.0/lib/python2.6/site-packages/easybuild_easyconfigs-1.6.0.0-py2.6.egg/easybuild/easyconfigs/p/Python/Python-2.7.5-goolf-1.4.10.eb`

Could we make instead a symlink for everyday use???, something like:
`/opt/apps/HPCBIOS.20130715/software/EasyBuild/1.6.0/easybuild/easyconfigs/p/Python/Pytho

[2013-08-29 20:22] fgeorgatos opened #417 "Python/2.7.5-goolf not building on a debian squeeze system - only that"
OK, to be more precise, this libxml with zlib saga, once again:

[code]

[2013-08-29 20:26] #417 closed, assigned to nobody

[2013-09-02 19:21] boegel opened #421 "deal with metapackage easyconfigs"
We need a better way to deal with metpackage easyconfigs, e.g. compiler toolchains (`goolf`, `ictce`, ...), `biodeps`, `HPCBIOS_*`.

Right now, they're put right next to actual software packages, that should be changed (e.g. move them in a `meta` subdir, ...).

[2013-09-10 06:51] mondkaefer opened #426 "Broken source_url of lockfile dependency in Python-2.7.3-goalf-1.1.0-no-OFED"
Hi,

The source_url of the dependency package lockfile 0.9.1 in Python-2.7.3-goalf-1.1.0-no-OFED.eb appears to be broken: http://pylockfile.googlecode.com/files/ doesn't work.

Setting it to the following link made it work:
https://pypi.python.org/packages/source/l/lockfile/

Preparing a fork and subsequent pull request as mentioned in the guidelines now...

Cheers,
Martin

[2013-09-10 08:00] #426 closed, assigned to nobody

[2013-09-12 15:27] wpoely86 opened #432 "ncurses-5.9-20130406 file not found"
The file needed to build ncurses-5.9-20130406 (ncurses-5.9-20130406.tgz) is no where to be found. The official archives only have newer snapshots. Can this file be hosted somewhere on UGent servers?

[2013-10-08 14:40] boegel opened #458 "NWChem test cases step fails with EB v1.8.0"
This was not picked up during the regression test, because if a first attempt at a build fails, it is retries twice to see if the problem is consistent.
However, when the test cases are run, the module is already installed, and and the 2nd/3rd run are not using `--force`, so the module is already found and the installation is skipped. This will be fixed in the framework to avoid future issues like

[2013-10-10 20:25] #458 closed, assigned to nobody

[2013-10-15 22:35] spikebike opened #466 "Easybuild-1.8.1 + Clang-3.3-GCC-4.8.1.eb fails."
I have an ubuntu raring/13.04 server.

I've build a substantial number of easybuild packages on the goolf platform mostly without problem.

I created a new user, and ran:
$ easy_install --user easybuild
$ export PATH=$PATH:$HOME/.local/bin
$ eb Clang-3.3-GCC-4.8.1.eb --robot

And I get (the first time I ran it installed gcc-4.8.1 without problem):

[code]

Looking in the resulting log file:

[code

[2013-10-18 12:58] ghost opened #472 "icc 2013.sp1.0.080"
latest version seem to have changed something with silent install.

[code]

[2013-10-23 09:41] di-na opened #478 "Mesa-7.11.2-goolf-1.4.10-Python-2.7.3.eb"
the download link for old version like (7.11.2) changed to ftp://ftp.freedesktop.org/pub/mesa/older-versions/7.x/7.11.2/

[2013-10-28 05:36] fgeorgatos opened #488 "Question as regards updated toolchains organization and compatibility aspect"
while working on #476 (latest goolf) and #477 (latest goolfc),
I was wondering if it is possible in any way to meet the following objectives together:
1) provide recent versions of the open source stack of the basic goolf kit
2) allow to build the goolfc toolchain, atop that goolf, adding a recent CUDA instance
3) address https://github.com/hpcugent/easybuild-framework/issues/627, which is about l

[2013-11-02 14:09] #368 closed, assigned to nobody

[2013-11-07 23:21] fgeorgatos opened #501 "Reduce osdependencies of Mesa"
Since `libXfixes` and some more have been contributed last month,
here is the current dependency list of Mesa to make it more lean:
- [x]            'libX11-devel',  # Xlibs.h
- [x]            'xorg-x11-proto-devel',  # X.h, glproto, xproto
- [x]            'libXdamage-devel',
- [x]            'libXext-devel',
- [x]            'libXfixes-devel',

[2013-11-07 23:24] fgeorgatos opened #502 "Reduce osdependencies of XCrySDen, FSL, NCL, CGAL"
these ones could be provided via EB now:

[code]

[2013-11-13 15:06] boegel opened #529 "building M4 1.4.17 with GCC 4.8.2 fails on SL5"
[code]

side notes:
 * building `M4/1.4.17-GCC-4.8.2` works fine on SL6
 * building `M4/1.4.16-GCC-4.8.2` works fine on SL5/SL6

[2013-11-13 15:33] boegel opened #531 "Perl build fails if $CPATH include empty entry"
If `$CPATH` is set to something like `/foo:`, building Perl fails. The empty entry is treated as '.', which makes a Perl header file named `poll.h` to be included instead of another header file with the same name.

Resolution is to unset `$CPATH`, or at least get rid of the empty entry.

We should check whether unsetting `$CPATH` (and also `$C_INCLUDE_PATH`) in the Perl easyblock breaks things...

[2013-11-13 20:57] #478 closed, assigned to nobody

[2013-11-14 09:01] #409 closed, assigned to nobody

[2013-11-14 21:16] fgeorgatos opened #535 "Provide latest version of POV-Ray, 3.7"
The relevant release was out today, it seems to sit atop a configure.ac file.

In the meantime, the older version 3.6.1 is very easily buildable in this manner:

[code]

[2013-11-16 11:51] boegel opened #541 "'import dolfin' in DOLFIN sanity check fails on SL5"
For same strange reason, `import dolfin` Python statement no longer works during the DOLFIN sanity check. It has worked fine during previous EB regtest runs, on the same systems.

The problem can be easily reproduced outside of EB:

[code]

Note that using `ldd`, the expected and correctly working `libstdc++.so.6` is found, but not when using `import dolfin` in a Python shell.

I've already spent

[2013-11-18 12:14] #143 closed, assigned to nobody

[2013-11-26 15:03] pforai opened #561 "Port OpenCV from UGent old configs and blocks to current EB"
This is a feature request for the OpenCV config and block to be ported to the new EB API and provide a working OpenCV config for post 1.9.

[2013-12-03 14:01] apanteli opened #581 "Binding of processes to hardware resources by MPI"
Hi guys,

Using OpenMPI and MVAPICH2 we noticed that we have a really bad performance, unless we use the --bind-to-core option.
Is it possible to have core binding by default in Easybuild?

[2013-12-04 11:04] apanteli opened #583 "Corrupted sources"
Sometimes during build, the sources are corrupted or not properly downloaded. In order to mitigate this issue we can perform an md5sum check on the downloaded sources.

As a first step I am attaching a list with the sources we have at CyI with the respective md5 hashes.

Excuse me for the long post.

[code]

[2013-12-10 15:42] pforai opened #605 "GOOLF Toolchain OpenBLAS and core affinity is wrong with R and potentially others."
There is an issue at least with R when it calls into OpenBLAS, OpenBLAS sets the thread's affinity to the first cpu core (0x1) and each subsequently call into OpenBLAS does the same, so effectively builds of R that run BLAS routines are pinned to the same core.

Not sure if this problem persists with other software that uses OpenBLAS in the same manner as R.

The problem is fixed if OpenBLAS is re

[2013-12-17 07:35] fgeorgatos opened #618 "refresh versions of existing easyconfigs to XSEDE compliant ones"
ref.
http://www.hpcwire.com/off-the-wire/xsede-distributes-tools-help-researchers/
and http://cb-repo.iu.xsede.org/xsederepo/

This is more of a work-in-progress status, for fast results, just hold your horses :-)
(ticked box implies that the task should be easily doable with existing reciPYs)
- [x]  BEDTools-2.15.0-1.el6.x86_64.rpm
- [x]  GraphicsMagick-1.3.18-2.el6.x86_64.rpm
- [x]  GraphicsMagi

[2013-12-18 00:52] spikebike opened #622 "new eb-1.9 + goolf-1.6.10 build fails on ubuntu-12.04 with m4-1.4.16 dying."
[code]

I believe the fatal error is because of M4's use of gets, which is no longer a warning but an error:

[code]

I filed a similar bug "easybuild-easyconfigs/issues/390", which claims it was fixed by pull #406.  Not sure if it didn't actually fix it, or if there's been a regression.

[2013-12-18 08:10] #622 closed, assigned to nobody

[2013-12-23 08:54] boegel opened #638 "some builds work on SL5, not on SL6 (EB v1.10)"
Various builds are known to work on SL5, but not on SL6. This issue is intended to group those together, to keep track of what needs to be fixed.
- [ ] cairo: #639 (+ NCL/6.0.0 because of dep)
- [x] FDTD Solutions: #640
- [ ] HH-suite: #414 (+ HPCBIOS_BioInfo because of dep)
- [ ] CLHEP/VTK: #641 (+ DOLFIN, GATE because of dep)
- [ ] XML-LibXML: #643 (+ XML-Simple because of dep)
- [ ] Sphinx: #64

[2013-12-23 08:56] boegel opened #639 "cairo build works on SL5, fails on SL6"
(parent issue: #638)

`goalf` and `goolf` builds fails with:

[code]

`ictce` builds fail with:

[code]

Very weird that this doesn't occur on SL5...

[2013-12-23 09:01] boegel opened #640 "FDTD Solutions build works on SL5, fails on SL6"
(parent issue: #638)

[code]

actual problem:

[code]

[2013-12-23 09:15] boegel opened #641 "CLHEP/VTK ictce-4.0.6 builds work on SL5, fails on SL6, other builds are fine"
(parent issue: #638)

This seems like a compatibility issue between older `icc`/`icpc` versions and the system GCC (4.4.7 in this case):
- `CLHEP/2.1.1.0-ictce-4.0.6`:

[code]
- `VTK/5.10.1-ictce-4.0.6`:

[code]

[code]

[2013-12-23 10:02] boegel opened #643 "XML-LibXML build works on SL5, fails on SL6"
(parent issue: #638)

`make test` fails:

[code]

[2013-12-23 10:32] boegel opened #644 "Sphinx with ictce/5.3.0 builds on SL5, but fails on SL6"
(parent issue: #638)

[code]

[2013-12-23 11:04] boegel opened #645 "PLINK builds on SL5, but fails on SL6"
(parent issue: #638)

[code]

Also depends on `zlib` (requires passing correct `-L` flag using `makeopts = 'CXXFLAGS="LIB=-L$EBROOTZLIB/lib -lz"'`, but then also required `nss-devel`

[2013-12-26 17:38] #535 closed, assigned to nobody

[2014-01-10 17:04] ghost opened #655 "ncurses module breaks /bin/bash"
easybuild@hpclogin2:~> ldd /bin/bash
        linux-vdso.so.1 =>  (0x00007fff7e9ff000)
        libreadline.so.5 => /lib64/libreadline.so.5 (0x00007f9220f3b000)
        libdl.so.2 => /lib64/libdl.so.2 (0x00007f9220d37000)
        libc.so.6 => /lib64/libc.so.6 (0x00007f92209be000)
        libncurses.so.5 => /lib64/libncurses.so.5 (0x00007f9220776000)
        /lib64/ld-linux-x86-64.so.2 (0x00007f92211

[2014-01-24 07:06] ocaisa opened #673 "Intel compiled Guile causes Meep to seg fault"
Easyconfig guile-1.8.8-ictce-5.3.0.eb builds as a dependency of Meep-1.2-ictce-5.3.0.eb. However when running a test case of the resulting executable, there is a seg fault which is attributed to guile. It turns out this is a known issue with guile (at JSC) and previous installations of Meep here have mixed a GCC-compiled version of guile with an Intel installation.
For those wishing to test Meep,

[2014-02-16 19:57] boegel opened #708 "failing tests for GROMACS v4.6.5 hybrid build with goolfc 2.6.10"
[code]

[2014-02-19 16:47] georgets opened #712 ""with-openib" is deprecated, OpenMPI 1.7.3"
configure: WARNING: **************************************************
configure: WARNING: The use of --with-openib is deprecated.
configure: WARNING: You should use --with-verbs instead.
configure: WARNING: Proceeding with the assumption you meant
configure: WARNING: --with-verbs=yes
configure: WARNING: (sleeping to let you read this message)
configure: WARNING: **********************************

[2014-02-20 10:55] registry opened #714 "Cube 4.x.x"
Cube (4.x.x) autodisables different parts of the framework, if some parts  cannot be build during "configure"
Example: configure detects, that version of Qt is  wrong or not working (qmake failed, not found) - it doesn't complain, disables GUI and proceed.

If dbus is missing - GUI is build without Vampir/Paraver support. Without complaing. Just disabled.

This is valid for java reader too.

In th

[2014-02-24 16:24] garvct opened #721 "Error adding LIBRARY_PATH in icc.py easyblock."
The Easybuild 1.11.0 easyblock icc.py does not appear to be adding the environmental variable LIBRARY_PATH correctly to the generated modules.

I think the function"make_module_req_guess" needs to be modified.

Here is the suggested modification.

[code]

[2014-03-06 20:47] omula opened #736 "netCDF 4.3.1.1"
Building netCDF with cmake is problematic as nc-config needs to be patched, lib directory changes, etc. It's better to switch to old configure and make.

[2014-03-27 13:25] fgeorgatos opened #784 "the 24hrs issue: what are the toolchain versioning scheme preferences, per site?"
Hi,

PR #776 opened by @JensTimmerman got this question triggered to us and,
we happened to swap a couple of points w. @tloizou, @apanteli, @georgets today.

This topic is itself inexhaustible, yet I am inclined to ask:
- what are the preferred versioning schemes, on a per site basis?
  This could refer to either **compiler** or **toolchain** versions.
### compilers

If you wonder why this is a qu

[2014-04-02 12:51] boegel opened #797 "NWChem build broken in v1.12dev"
Linking fails with errors like:

[code]

Seems like this is linked to fixing the `readline` issue in the Python build (cfr. https://github.com/hpcugent/easybuild-easyblocks/pull/370)

[2014-04-02 12:53] #797 closed, assigned to nobody

[2014-04-29 12:32] JensTimmerman opened #849 "tk should set TCLLIBPATH"
TCLLIBPATH should be set to $root/lib in all tk easyconfig's,
so probably use modextrapaths

[2014-05-18 12:34] #415 closed, assigned to nobody

[2014-05-18 18:29] #784 closed, assigned to nobody

[2014-05-18 18:36] #488 closed, assigned to nobody

[2014-05-18 20:01] #645 closed, assigned to nobody

[2014-06-13 09:44] JensTimmerman opened #926 "easybuild/easyconfigs/n/netCDF/netCDF-4.2.1.1-ictce-5.3.0.eb should have -gpfs suffix"
easybuild/easyconfigs/n/netCDF/netCDF-4.2.1.1-ictce-5.3.0.eb depends on a HDFS with a versionsuffix, but it has no versionsuffix itsself, which causes confusion...

[2014-06-22 12:09] boegel opened #941 "feature request: support all VI-HPS tools"
**Single Node Performance**
- [ ] Callgrind
- [ ] MAQAO

**Parallel Performance**
- [x] Allinea MAP
- [ ] Allinea Performance Reports
- [ ] Dimemas
- [ ] mpiP
- [ ] Open|SpeedShop
- [ ] Paraver **(WIP #508)**
- [ ] Periscope
- [x] Scalasca
- [ ] TAU **(WIP, see #509)**
- [x] #13423

**Debugging & Correctness**
- [x] Allinea DDT
- [ ] AutomaDeD
- [ ] Memchecker
- [x] MUST
- [ ] STAT

**Instrumentat

[2014-06-25 17:59] JackPerdue opened #942 "ictce-6.3.5.eb"
icc-2013_sp1.3.174 (14.0.3)
ifort-2013_sp1.3.174 (14.0.3)
impi-4.1.3.049
imkl-11.1.3.174

This is my first attempt at a pull request so please bear with me.

[2014-06-25 22:24] #942 closed, assigned to nobody

[2014-07-17 08:28] jabl opened #973 "mvapich2 download paths incorrect"
Trying to build the "gmvolf" toolchain fails with

== building and installing MVAPICH2/1.9-GCC-4.7.3...
== fetching files...
== FAILED: Installation ended unsuccessfully: build failed (first 300 chars): EasyBuild crashed with an error (at easybuild/software/EasyBuild/1.14.0/lib/python2.6/site-packages/easybuild_framework-1.14.0-py2.6.egg/easybuild/framework/easyblock.py:562 in obtain_file): Couldn

[2014-07-22 11:55] hajgato opened #975 "Extensions using the same buildopts than main program"
The extensions using the same buildopts than the main program. For extensions, we have to have the possibility to define separate buildopts, prebuilopts, and so on.

[2014-07-25 10:24] hajgato opened #980 "Problem with intel/2014b toolchain"
If i issue: module load intel/2014b
and
mpicc -v

then I get the following:
mpigcc for the Intel(R) MPI Library 4.1 for Linux*
Copyright(C) 2003-2014, Intel Corporation.  All rights reserved.
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/vsc/apps/brussel/ivybridge/software/GCC/4.8.3/bin/../libexec/gcc/x86_64-unknown-linux-gnu/4.8.3/lto-wrapper
Target: x86_64-unknown-linux-gnu
Configur

[2014-07-28 12:55] hajgato opened #981 "SCALAPACK_INC_DIR is not set for intel/2014b in eb 1.15.0dev"
SCALAPACK_INC_DIR and EBVARSCALAPACK_INC_DIR not set for intel/2014b in eb 1.15.0dev. I did not check other eb and toolchain versions containing imkl.

[2014-07-29 07:01] #980 closed, assigned to nobody

[2014-07-30 09:57] hajgato opened #983 "IMKL => 11.1 fftw_mpi wrappers are not built"
Disabled in https://github.com/hpcugent/easybuild-easyblocks/commit/946b35e24e1144b4ced311e9d18cc69542b72bec

Reson? Bug in imkl easyblock?

[2014-08-01 11:52] #983 closed, assigned to nobody

[2014-08-01 12:04] #981 closed, assigned to nobody

[2014-08-01 12:21] #975 closed, assigned to nobody

[2014-08-12 13:43] hajgato opened #1018 "Doxygen is always compiled with g++"
Doxyegn is always compiled with gcc/g++ whatever is the toolchain.

[2014-08-13 09:47] pforai opened #1023 "SCons config needs to set SCONS_LIB_DIR"
Just encountered this when trying to run EB provided SCons. It seems SCons versions >= ~2.0 need to set `$SCONS_LIB_DIR` in order for SCons to be able to pick up it's own files.

On our systems this something like this helps:
`export SCONS_LIB_DIR=$EBROOTSCONS/lib/scons-2.3.0`

[2014-08-13 13:32] ocaisa opened #1024 "Proper blas and lapack not being found in QuantumESPRESSO"
Looking at the output from the configure step of QuantumESPRESSO I noticed it says:

[code]

so it looks like it is failing to find the installed libraries and building its own instead.

[2014-08-28 08:14] boegel opened #1050 "OpenBLAS is not using provided LAPACK sources"
The OpenBLAS 0.2.8 and 0.2.9 easyconfigs we're using now are not using the provided LAPACK sources, but are resorting to the `lapack-netlib` included in the OpenBLAS sources.

For OpenBLAS 0.2.9 and more recent this is not a big problem, since the LAPACK included in the sources matching the one we're passing it (3.5.0), see https://github.com/xianyi/OpenBLAS/blob/develop/lapack-netlib/README .

[2014-09-04 14:01] JensTimmerman opened #1065 "boost no longer builds mpi libraries when using intel mpi v5"
[code]

@ocaisa

[2014-09-15 21:33] kcgthb opened #1086 "EB 1.15.0: Building impi fails with HMNS"
Hi there,

Just installed EB 1.15.0 and was trying to install HPL using the intel 2014b toolchain. It starts great, but then fails at impi, with the following error:

[code]

Looks like the error message is truncated too, because the log file has a more complete version:

[code]

Anyway, this is a brand new installation (no pre-existing modules) using EB 1.15.0.
The full debug log is at https://gi

[2014-09-20 00:06] #1086 closed, assigned to nobody

[2014-09-22 21:55] kcgthb opened #1098 "Extend HMNS for goolfc?"
Hi,

Trying to make sense of HMNS in a non-Intel context, it seems like HMNS needs to be extended to support other toolchains too, is that right? Or at least there's something goofy happening with the `gcccuda` toolchain. eb files using the `goolf` toolchain are ok, but those using `goolfc` are not:

[code]

Is that expected?

[2014-09-25 21:56] kcgthb opened #1103 "Upgrade EasyBuild using EasyBuild module fails because of previously loaded module"
Hi there,

Thanks for the release of 1.15.1.
I followed the advice in the announce email to upgrade EasyBuild with EasyBuild. I loaded the 1.15.0 module and used `--try-software-version` to upgrade to 1.15.1. Turns out it fails because of `conflict("EasyBuild")` in the EasyBuild module.

[code]

Relevant part of the debug log is:

[code]

Shouldn't EB unload its own module before loading the new o

[2014-09-26 17:54] #1103 closed, assigned to nobody

[2014-10-01 15:24] wpoely86 opened #1107 "extend testsuite for sanity check"
The sanity check in the easyconfigs file should have at minimum an empty  `dirs` and `files` array, else EB will complain. The test suite does not check for this. It should be extended to complain about this.

[2014-10-03 10:42] JensTimmerman opened #1111 "matplotlib should not be in python by default"
python builds are failing on me because the matplotlib extension can not be built without freetype, which is not in the python build.

so matplotlib should always be built as a separate module, or freetype should be included in the python dependencies...

[2014-10-03 10:53] #1111 closed, assigned to nobody

[2014-10-07 06:45] boegel opened #1117 "building with intel/2014b fails under HierarchicalMNS if gimkl/1.5.9 is available"
Since the Intel compilers included in `intel/2014b` include a dependency on `GCC/4.8.3`, the `$MODULEPATH` is also extended with `Compiler/GCC/4.8.3` when their modules are loaded.

If `gimkl/1.5.9` is already available, the `impi/4.1.3.049` module will be available both under `Compiler/intel/2013.5.192-GCC-4.8.3` and `Compiler/GCC/4.8.3`, which leads to problems when building something with `inte

[2014-10-07 15:38] #1107 closed, assigned to nobody

[2014-10-07 17:44] #1098 closed, assigned to nobody

[2014-11-21 15:27] GiannisA opened #1205 "sanity checks fails on Python package because of capitalization"
Hello,

I am having some issues with easybuild while trying to build the Python Imaging Library (PIL) using a config file of my own.
More specifically, sanity check fails as it tries to run 'python -c "import pil"', while the name of the module is PIL. I have added a corrected sanity check command in my easybuild file, that passes the test (as seen in the log), but it keeps breaking on the default

[2014-12-11 11:54] #501 closed, assigned to nobody

[2015-01-05 13:29] waleedlotfy opened #1281 "libibverbs-1.1.4-GCC-4.7.2.eb hompage broken link"
Dear developers,

Kindly note that installing libibverbs-1.1.4-GCC-4.7.2.eb yields http response 400, due to the home page of the project using 'https' not 'http'.

Upon fixing the home page url everything works fine.

Thank you for your efforts.

[2015-01-15 16:03] gjbex opened #1303 "Python extension list"
The list of extensions in the current Python 2.x Easyconfigs is pretty extensive, and some are rather exotic.  I think there is a case to be made for a bare version,

I would suggest to go with setuptools, pip, six, nose and to define modules for other packages, i.e., a scientific module to include numpy, scipy, matplotlib, mpi4py (perhaps pandas).

I understand these have been included for histor

[2015-01-15 16:05] gjbex opened #1304 "Python sqlite3 dependency"
The current Python 2.x easyconfigs don't contain a dependency on SQLite3.  This implies that the sqlite module in the standard library is non functional, which is somewhat bizarre.

I'd suggest to add this dependency.

[2015-01-15 19:31] wpoely86 commented on #1304
Good point. @boegel lets fix this in #1291 ?

[2015-01-15 21:12] boegel commented on #1304
I was unaware of this.

I'd prefer opening a separate PR for this, since #1291 is ready to go now.

I suggest we only do this for recent Python versions, maybe even only v2.7.9? I see no reason to backport this 'fix' to older Python easyconfigs, especially since the latest SQLite3 version may not be working with older Python versions, etc.

@gjbex: up for fixing this with a PR?

[2015-01-15 21:14] gjbex commented on #1304
Sure, no problem.  I've fixed this for 2014a at some point, but I forgot
about it until after I did the PR.

On Thu, Jan 15, 2015 at 10:12 PM, Kenneth Hoste <notifications@github.com>
wrote:

--
- dr. Geert Jan BEX
- HPC analyst/consultant Hasselt University & University of Leuven
- email:                geertjan.bex@uhasselt.be
- homepage:         http://alpha.uhasselt.be/~gjb/
- PGP public key:

[2015-01-15 21:26] boegel commented on #1303
@gjbex: the easyconfig without a `versionsuffix` have been 'batteries included' install, i.e. with a (potentially very long) list of extensions; basically, any extension that doesn't trigger an extra dependency is eligible to be added

the 'bare' versions (with `versionsuffix = '-bare'`) explicitly have *no* extensions at all, so that should stay like that

I guess a `-mininal` version makes sense

[2015-01-16 16:43] boegel commented on #640
fixed with https://github.com/hpcugent/easybuild-easyblocks/pull/538

[2015-01-16 16:43] #640 closed

[2015-01-21 16:13] wpoely86 opened #1315 "libreadline on Debian"
For some reason, `libreadline` doesn't link to `libtinfo` (part of `ncurses`). This results in things like:
[code]
The current fix is to add:
[code]
to the easyconfig. If I ever find the time, I should look into this and fix it permanently.

[2015-01-21 16:41] boegel commented on #1315
Hmm, would this hurt on other systems?

[2015-01-21 16:50] wpoely86 commented on #1315
Well, apparently not, because you would have seen it by now. I think it's some weird Debian quirk.
The symbols are in `libncurses` and `libreadline` finds them, else the build would fail. But actually running something with them fails. Are maybe it's an issue with system lua and libreadline.

I should dig deeper, but I don't have the time for the moment.

[2015-01-21 17:51] boegel commented on #1315
What I meant was, would using the `preconfigopts` you mentioned everywhere hurt the builds that are working now? Where does `-ltinfo` come from?

[2015-01-21 17:52] wpoely86 commented on #1315
It's part of the `ncursus-devel` on most systems. I definitely do not recommend to use it everywhere until we understand exactly what is going on here.

[2015-01-21 19:00] boegel commented on #1315
OK, keep us posted if you figure out more, and thanks for opening this issue, Google will direct other people suffering from this here, hopefully.

[2015-01-22 15:29] rjeschmi opened #1326 "R defaults to user home directory extensions location"
When I run the easybuild install for R it defaults to my home directory.

It seems for users who may have previously installed local packages this is the default behaviour

[code]

https://gist.github.com/rjeschmi/142922a66dfee995e7d7

[2015-01-22 15:31] rjeschmi commented on #1326
I think the calls to self.make_cmdline_cmd() here without prefix might be the culprit

https://github.com/hpcugent/easybuild-easyblocks/blob/0dfed6cbeeeef56c4c21bc5397623cd91b606ff4/easybuild/easyblocks/generic/rpackage.py#L183

[2015-01-22 18:44] boegel commented on #1326
That makes sense, but we need the alternative for `make_r_cmd` too, I think... Although that's used a lot less (only for versionless pkg specs, which are rare afaik).

We are setting the `prefix` when the R package is being installed as a stand-alone module (see `install_step`), so we need to figure out what to specify as a `prefix`... It'll be `os.path.join(self.installdir, <some>, <thing>)`.

[2015-01-23 09:30] sylmarien commented on #1315
You're right, Google did its job well!
I currently experience this problem as well on Wheezy (no problem on Squeeze). Since I didn't know how to proceed, I tried to rename the libreadline.so.6 file to something else to see what error I was going to have and truth is... I didn't get any, it worked and proceeded without any problem.

So what is exactly happening ? Is this some optional step or anoth

[2015-01-23 09:39] wpoely86 commented on #1315
@sylmarien if you have renamed `libreadline.so.6`, you will end up using the system `libreadline`, and so the problem should be 'fixed' for you.

[2015-01-23 09:50] sylmarien commented on #1315
@wpoely86 Ok thanks, but isn't it a "bad" solution since it kind of breaks the idea of only working with modules and not being dependent on what is installed on the system?

[2015-01-23 09:54] wpoely86 commented on #1315
yes, it is a far from optimal solution. It should be properly be fixed in the easyconfig.

On what point did you get this message btw? Are you using Lmod?

[2015-01-23 10:00] sylmarien commented on #1315
I was getting this message while building ABySS-1.3.6-goolf-1.4.10-Python-2.7.5, I don't remember the exact step, I'm currently reproducing it to be more precise.

Yes, I'm using Lmod.

[2015-01-23 10:38] sylmarien commented on #1315
I reproduced it. It happens during the sanity check, here is a gist with the logs from the build:
https://gist.github.com/sylmarien/5e262eb307a52c8e1bee

[2015-01-23 10:51] wpoely86 commented on #1315
The issue is this:
With my fix:
[code]
Without my fix:
[code]
Without modules loaded:
[code]
So the issue is that `lua` links to `libtinfo` and our `libreadline` does not.

[2015-01-25 13:11] boegel opened #1331 "JasPer build fails on Debian if libjpeg8-dev is installed"
[code]

(cfr. https://github.com/hpcugent/easybuild-easyconfigs/pull/1330#issuecomment-71365983 and https://gist.github.com/ee94ad89a0b6d45b1a32)

[2015-01-26 11:23] sylmarien opened #1333 "Undifined reference to symbol while building Cufflinks on Debian Wheezy"
Hello,

I'm encountering an issue when I try to build Cufflinks 2.0.2 (with either ictce-5.3.0 or goolf-1.4.10) on Debian Wheezy.

The error message is the same in both cases:
`/usr/bin/ld: gtf_to_sam.o: undefined reference to symbol '_ZN5boost6system15system_categoryEv'`

Here is the full log:
https://gist.github.com/7a90c77572959d5f7496.git

Thanks for the help, ask me if you want more info on t

[2015-01-26 11:26] boegel commented on #1333
@wpoely86 or @fgeorgatos: any idea on this, since you're familiar with Debian (@wpoely86 is with C++)?

[2015-01-26 12:40] wpoely86 commented on #1333
There cause of the error is easy. It's missing a linkage to `libboost_system`. Adding `-lboost_system` will fix it. The question is why does this not happen automatically. Does it work on RHEL?

[2015-01-26 12:42] wpoely86 commented on #1333
@sylmarien could you also post the `config.log`?

[2015-01-26 13:12] sylmarien commented on #1333
@wpoely86 Here is the associated config.log:
https://gist.github.com/sylmarien/e47ab66060d6a4b93842

I didn't check on RHEL, I don't have an environment to test it on it right now.

[2015-01-26 13:13] boegel commented on #1333
@sylmarien: can you share the easyconfig you're using? We can give it a try on RHEL.

[2015-01-26 13:13] boegel commented on #1333
@sylmarien: nevermind, you're probably using the existing easyconfig that's available in EasyBuild?

[2015-01-26 13:19] sylmarien commented on #1333
@boegel Yes I use the ones available in EasyBuild.

[2015-01-26 13:22] boegel commented on #1333
OK, in that case: @wpoely86: yes, this works on RHEL-like systems.

[2015-01-26 13:24] wpoely86 commented on #1333
@boegel you wouldn't happen to have a build log of it?

[2015-01-26 13:28] boegel commented on #1333
@wpoely86: full debug log at https://gist.github.com/boegel/39d8632e71a85afa0fe7

[2015-01-26 14:21] wpoely86 commented on #1333
Okay, there a 3 ways out of this:
- Just use `2.1.0` where it is fixed
- Backport the fix in `2.0.2`. It comes down to adding some lines to `configure.ac`
- The dirty trick: do `preconfigopts=' LDFLAGS="-lboost_system" '` This should cause no harm as a modern linker will not link to a library if it does not need any of it's symbols.

[2015-01-26 14:25] boegel commented on #1333
@wpoely86: let's open a PR for option 3 in the 2.0.2 Cufflinks easyconfigs? I don't think it's that dirty?

[2015-01-26 14:25] boegel commented on #1333
@wpoely86: should be `LDFLAGS="$LDFLAGS -lboost_system"` btw, `eb` also sets `$LDFLAGS`

[2015-01-26 14:31] wpoely86 commented on #1333
@sylmarien can you give #1335 a spin?

[2015-01-26 14:33] sylmarien commented on #1333
@wpoely86 I'm on it, it's currently building, we'll see if it works soon.

[2015-01-26 14:35] sylmarien commented on #1333
@wpoely86 @boegel Ok, the fix works fine. It builds without problem. (only tried the goolf version, if there is any problem wit the ictce version I'll let you know)

Thanks for the help!

[2015-01-26 15:37] boegel commented on #1333
let's follow up in #1335, but that seems like a proper fix indeed

thanks @wpoely86!

[2015-01-26 15:37] #1333 closed

[2015-01-27 14:23] sylmarien opened #1341 "HDF5 fails to build on Debian Wheezy"
Hello, once again a problem on Debian Weezy.

This time the problem appears when trying to build HDF5-1.8.10-ictce-5.3.0-gpfs.
The problem seems to be about MPI not being correctly linked, here is the full log:
https://gist.github.com/sylmarien/9ddcaab99e310f8818af

Building the version without -gpfs works fine, but since it is a dependcy that is automatically picked up by EasyBuild when building

[2015-01-27 19:55] boegel commented on #1341
@sylmarien: can you confirm that building and installing `HDF5-1.8.10-ictce-5.3.0.eb` is working fine, on the same system? (i.e. the exact same toolchain & HDF5 version)?

relevant part from the debug log:
[code]

it's weird that both `-lmpi` and `-lmpich` fail, since the libraries should be there

can you check what the following commands spit out on your end?

[code]

Maybe also include the outp

[2015-01-27 19:57] boegel commented on #1341
@wpoely86: are you experiencing this too on Debian (same OS version)?

[2015-01-27 21:07] wpoely86 commented on #1341
Never tried the `-gpfs` version. The non-gpfs versions build and work fine.

[2015-01-27 21:08] wpoely86 commented on #1341
@sylmarien can you add the config.log?

[2015-01-28 09:15] sylmarien commented on #1341
@boegel Firstly, yes I can confirm that building and installing HDF5-1.8.10-ictce-5.3.0.eb is woriking fine on the same machine.

Then for the command you asked, here are the outputs:
[code]
And then obviously the others cannot be executed correctly since the module doesn't load.
So the problem seems to be this dependency, I could try to build it separately, but if it is a dependency, then it shou

[2015-01-28 09:28] wpoely86 commented on #1341
This is the problem:
[code]
You don't have the gpfs libraries installed?

[2015-01-28 09:36] sylmarien commented on #1341
It seems I do:
[code]

Am I missing something here ?

[2015-01-28 09:37] wpoely86 commented on #1341
Can you look for `libgpfs*`?

[2015-01-28 09:42] sylmarien commented on #1341
Ok, I have nothing for that.
But why is the -gpfs version chosen by EasyBuild? Couldn't it use the normal version?

[2015-01-28 09:45] wpoely86 commented on #1341
@sylmarien you can change it yourself it you want to. Just drop the `-gpfs` in the `netCDF` easyconfig.

No idea why it's on by default.

[2015-01-28 10:09] sylmarien commented on #1341
Indeed, it works. I will go with that solution for the time being.
Maybe it could be interesting to split the easyconfig in two separate ones? One without -gpfs and one with it (and having the flag explicitly stated in the name) so that it avoids confusion. Or maybe there is a reason I don't know about to have it with -gpfs by default. (But since it is note the case on the netCDF-4.2, I doubt it)

[2015-01-28 15:18] rjeschmi opened #1347 "R-3.1.2 goolf EB missing a dep"
@boegel here is the output.

[code]

[2015-02-04 14:57] sylmarien opened #1373 "Perl build fails at sanity check step on Debian Wheezy"
Hello,

I've been trying to build Perl 5.16.3 on Debian Wheezy. While the bare version builds without any problem (for both ictce-5.3.0 and goolf-1.4.10), the one with the modules fails at the sanity check step (for both toolchains too). I'm using the easyconfig files available in EasyBuild.
The problem seems to come from the modules, but I don't really know how to solve this problem. I checked th

[2015-02-04 15:11] sylmarien opened #1374 "Distribution-related dependencies in some easyconfigs"
Hello,

I just wanted to point out that some easyconfig files contain system dependencies which names differ depending on the distribution used.

As an example in XCrySDen-1.5.53-goolf-1.4.10.eb, there is a dependency on the libXmu-devel package which is the name of the package on the RHEL-like distributions. Its Debian equivalent for example is libXmu-dev.

I also encountered this problem with Me

[2015-02-04 19:55] boegel commented on #1374
As mentioned in https://github.com/hpcugent/easybuild-easyconfigs/pull/1377#issuecomment-72909848, we have a way of dealing with this, i.e. using a tuple of options in `osdependencies`, e.g.:

[code]

If one of both packages can be found, EasyBuild will be happy. If need be, you can skip this check using `--ignore-osdeps` if you know the package is actually available, but under a different name.

[2015-02-04 20:02] boegel commented on #1373
@sylmarien: thanks for reporting this

Here's what I see popping up in the logs when EasyBuild is performing the sanity check for the extensions:

[code]

I've seen similar issues like this; it seems like the install location of `perl` (or another binary Perl provides) is injected into the shebang header line of `perldoc`, but because the installation path is too long, it gets truncated, causing p

[2015-02-05 09:30] sylmarien commented on #1374
@boegel Thank you for the answer, it indeed answers my question.

[2015-02-05 09:30] #1374 closed

[2015-02-05 09:34] sylmarien commented on #1373
@boegel Thanks for your answer, here are the first lines of perldoc:
[code]

[2015-02-05 09:38] boegel commented on #1373
That confirms my suspicion... Although the full line is there, it's getting truncated, only the first N characters of the `#!` line are actually used, the others are simply dropped, which explains the error messages above.

A proper way of fixing this would be to make sure that Perl doesn't use this resolved path, but rather just uses `#!/usr/bin/env perl` instead. I'm not sure how difficult that

[2015-02-05 14:12] sylmarien commented on #1373
@boegel Indeed I checked and the current limit on the system for the length of the shebang line is at 127 characters. (And it doesn't look like it is conceivable to increase this limit since it seems to require to recompile the kernel)

I don't know either how I would do that, but is it even the right thing to do ? That would make the module use the perl from the system instead of the module itsel

[2015-02-05 20:17] boegel commented on #1326
probably fix available in https://github.com/hpcugent/easybuild-easyblocks/pull/551

[2015-02-06 02:20] rjeschmi commented on #1347
This will be resolved in other places (foss-2015a is fixed and will hopefully have a new system...)

[2015-02-06 02:20] #1347 closed

[2015-02-06 20:47] rjeschmi commented on #1326
fixed in PR listed above

[2015-02-06 20:47] #1326 closed

[2015-02-06 22:02] boegel commented on #1347
PoC for a better way of dealing with R extensions that require additional deps in #1387, thanks for reporting this @rjeschmi!

[2015-02-12 15:17] a-mazur opened #1402 "Python Tk dependency"
Current Python easyconfigs do not have a dependency on Tk. Therefore, Tkinter (Python2) and tkinter (Python3) modules are not functional, if system Tk libraries are not present

[2015-02-23 09:42] sylmarien opened #1414 "matplotlib strange sanity check fail"
Hello,

I'm encountering a strange problem when trying to build matplotlib-1.3.0-ictce-5.3.0-Python-2.7.5. Strange because the problem appears or not depending on when I try to install this software (I'm installing a lot of software at once, matplotlib is supposed to be installed around the middle of the list. But this version fails at that point but when I try to install it at the end, when every

[2015-02-23 21:03] wpoely86 opened #1421 "Boost & Python"
We now have a Boost with Python and without Python. This is annoying. Some deps use the version with Python, some without. We cannot use both. A proper solution needs to be found.

[2015-02-23 21:25] wpoely86 commented on #1421
Possible solutions:
- Only use the Python version. The python version has everything the non python version has plus more.

- Handle this in the modules. Something like:
[code]
If you want Boost-Python, you need to load Python prior to Boost. If one dep in the dep chain needs Boost-Python, it will be loaded. The problem here is who to promote an already loaded boost to boost-python

- Split Boost

[2015-02-24 10:52] wpoely86 commented on #1421
After thinking so more, I think we shouldn't use versionsuffixes like we do. A versionsuffix shouldn't be used to indicate additional functionality. It's the same problem as with subtoolchains. We should be able to indicate that one easyconfig/module is the same as another + something extra.

[2015-02-24 11:09] boegel commented on #1421
option one has the downside of forcing a particular Python version, just because Boost happens to provide Python wrappers (which you may not care about);

option three has the downside of further supporting an explosion in the number of modules

you've outlined the problem with option two yourself

I agree that we're kind of abusing version suffixes, but I need not better option, for now...

[2015-02-24 11:16] wpoely86 commented on #1421
The best solution (IMHO) for the moment is to use option 3 with 3 modules:
- `boost` (without python or mpi wrappers)
- `boost-python`
- `boost-mpi`

Those are the only components of Boost that I know of that require external libs.

[2015-02-24 11:17] wpoely86 commented on #1421
Woeps, forgot the boost lapack binding. That would make four:
- `boost` (without python or mpi wrappers)
- `boost-python`
- `boost-mpi`
- `boost-lapack`

[2015-02-24 14:06] fgeorgatos commented on #1421
...and soon four will become more, for Boost being what it is (a pile of soft ... ;)

For the record, "biodeps" was born while trying to address this issue (ie. it is solution #1), described here:
https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/b/biodeps/biodeps-1.6-goolf-1.4.10-extended.eb
https://hpcbios.readthedocs.org/en/latest/HPCBIOS_2013-01.html

At some

[2015-02-24 14:23] wpoely86 commented on #1421
I wouldn't worry about adding more. Boost is still for a very large part a headers only library and the largest non-headers part is standalone. If fedora & debian can manage a split up boost, so can we (and they split it up per module).

That being said, I'm curious to what solution will be presented to the subtoolchain problems.

[2015-02-27 09:32] #1373 closed

[2015-03-02 13:56] pescobar opened #1435 "R goolf easyconfig is not using OpenBLAS lapack"
When I compile R easyconfig with this options:

[code]

I get this in the ./configure output  (OpenBLAS lapack is not used)

[code]

When I change the preconfigopts to this:

[code]

OpenBLAS lapack is found (this is the output of ./configure)

[code]

[2015-03-02 14:17] wpoely86 commented on #1435
that makes no sense. Can you post the `config.log`?

[2015-03-02 16:40] boegel commented on #1435
well, it may make sense... if you specify it what to do, it will not try to fall back on checking the BLAS setup

apparently `$LIBLAPACK` is wrong/incomplete (in some way, for R specifically)

[2015-03-04 12:26] pescobar opened #1442 "blast easyconfigs should be renamed"
Hi,

I realized that the blast easyconfigs should be renamed. Every blast version > 2.2.26 is named BLAST+ while versions <= 2.2.26 are named just BLAST

ftp://ftp.ncbi.nlm.nih.gov/blast/executables/blast+/LATEST/

ftp://ftp.ncbi.nlm.nih.gov/blast/executables/release/LATEST/

I found this problem because I am trying to write a easyconfig for a tool which have both BLAST and BLAST+ as dependency an

[2015-03-04 12:42] pescobar commented on #1442
I have sent this PR which should fix it

https://github.com/hpcugent/easybuild-easyconfigs/pull/1443

[2015-03-04 12:49] pescobar commented on #1435
build log for the easyconfig now provided in easybuild:
https://gist.github.com/2ea318d5dc92a0c1350d

build log for the modified easyconfig (preconfigopts = 'BLAS_LIBS="$LIBBLAS" ')
https://gist.github.com/77e3bae86237871780c1

[2015-03-04 12:58] pescobar commented on #1435
config.log for the easyconfig now provided in easybuild
https://gist.github.com/d16123039211903a5fb5

config.log for the modified easyconfig
https://gist.github.com/9529abfaf1c5317eae32

[2015-03-04 13:05] wpoely86 commented on #1435
I can't find anything in these logs indicating why it does something different...

[2015-03-04 16:20] fgeorgatos commented on #1442
Hi Pablo,

I am possibly the perpetrator of the original naming and I confess of
pondering on which naming scheme would be good, back then.
At those times I felt that the "+" in the name may create all shorts of
troubles in other people's systems, so I played conservative.

However, I stand by your argumentation and think that now (ie. eb/v2.1) is
a good moment to introduce such a "fix".
Watch out

[2015-03-04 16:21] boegel commented on #1442
@pescobar: what tool is this? And do BLAST and BLAST+ provide different functionalities (that don't clash)?

[2015-03-05 08:42] pescobar commented on #1442
@boegel BLAST is a widely used tool in bioinformatics for sequence alignment

Both applications are from the same developers and I think they do the same but when they switched from BLAST to BLAST+ they did a big change, as example, the binary names in BLAST and BLAST+ are different. So even if both applications do the same they are not compatible so we could say they are different apps

[2015-03-05 09:35] boegel commented on #1442
OK, makes sense to rename them then. Let's follow-up on this in #1443.

[2015-03-05 09:35] #1442 closed

[2015-03-12 09:30] hajgato opened #1461 "Python Lockfile/pbr"
Lockfile installing pbr form pip, so there is no version control for pbr (always the newest version is installed). Probably we have to install a certain version of pbr before installing lockfile.

[2015-03-12 15:13] boegel commented on #1461
fixed in #1462, one open issue for a problem is sufficient :)

Thanks for tackling this yourself @hajgato!

[2015-03-12 15:13] #1461 closed

[2015-03-12 15:20] JensTimmerman commented on #153
see https://github.com/hpcugent/easybuild-easyconfigs/pull/1465

[2015-03-12 15:23] boegel commented on #153
easyconfig in #153, easyblock required is contributed in https://github.com/hpcugent/easybuild-easyblocks/pull/578

[2015-03-12 15:23] #153 closed

[2015-03-12 17:48] JensTimmerman commented on #1304
any updates on this?

[2015-03-12 18:20] boegel commented on #1304
@JensTimmerman: seems like a fixed easyconfig for Python v2.7.9 is available at https://github.com/hpcleuven/easybuild-easyconfigs/blob/feature/python_sqlite/easybuild/easyconfigs/p/Python/Python-2.7.9-intel-2015a.eb

[2015-03-12 18:31] boegel commented on #153
support for building and installing TINKER has been merged, and will be included in the upcoming EasyBuild v2.1 (ETA: (end of) April'15)

[2015-03-13 17:43] boegel commented on #1304
fixed for Python v2.7.9 easyconfigs via #1468

[2015-03-13 17:43] #1304 closed

[2015-03-14 05:59] malcook opened #1475 "zlib-devel absent in OS => boost fails to build !!!"
In a fresh install of CentOS7 having NONE of zlib not zlib-deve and zlib1g-devl installed

My first eb:

 `eb BWA-0.7.5a-goolf-1.4.10.eb  --modules-tool=Lmod -r  --try-toolchain=goolf,1.7.20 --try-software-version=0.7.12`

fails, since the entailed `Boost-1.51.0-goolf-1.4.10-Python-2.7.3.eb`  has `osdependencies = [('zlib-devel','zlib1g-dev')]` which are not met.

If I first `yum install zlib zlib

[2015-03-14 06:21] boegel commented on #1475
@malcook: very recently (shortly before EB v2.0.0), a long-standing issue with zlib was fixed, that was the reason behind having OS dependencies for `zlib`, rather than a 'proper' dependency provided by EB

With this resolved, we should be able to drop the zlib OS dep for `Boost` (and others), and use an EB-provided zlib instead. Figuring out which version that should be may not be so trivial, tho

[2015-03-14 07:06] malcook commented on #1475
Thanks for trying to bring me up to speed, but, I'm not sure why you put it that way.  Please help me understand.

As I see it...

 1. zlib currently does not appear in ANY osdependencies.
 1. zlib-devel however _does_ appear in the osdependencies for Boost (and only in Boost), along with zlib1g-dev.

So, I don't know why you say we "should be able to drop the zlib OS dep for Boost".  There is non

[2015-03-14 18:08] fgeorgatos commented on #1475
Hi,

as regards this matter, it is very important to realise the following
matter, in Kenneth's words:

In effect, ideally there should be a single zlib version that is common dep
across all packages
(which are meant to be joined together). Easier said than done.

The science and art of biodeps (or any other common deps collections for
that matter)
is to find version numbers which are overall comp

[2015-03-21 16:06] pescobar commented on #1435
I have also noticed that my R build using ictce toolchain doesn't use the MKL BLAS

[code]

[2015-03-24 19:34] boegel commented on #712
fixed in #1511

[2015-03-24 19:34] #712 closed

[2015-04-01 12:27] boegel commented on #151
easyconfig for `pbs_python` is included in #1520

[2015-04-01 12:27] #151 closed

[2015-04-13 19:14] rjeschmi opened #1555 "libxml2 seems to report include path off-by-one"
The "official" way of getting the include path set right seems to be xml2config --cflags

CPATH seems to be the only environment variable that includes the libxml2 path, but it provides it at EBROOTLIBXML/include

So something like #include <libxml/tree.h> which libxslt does will fail.

[2015-04-14 07:44] sguera opened #1556 "MVAPICH2-2.0.1-GCC-4.8.4.eb missing file to download from MVAPICH website"
Mvapich has removed the tar for the version 2.0.1 from their download folder, so that EB fails to install it.
This has been experienced while installing the toolchain gmvolf-1.7.20.eb
In particular it fails with the following error:
Couldn't find file mvapich2-2.0.1.tar.gz anywhere, and downloading it didn't work either...

I don't know where to get that version of mvapich2, so suggested change wo

[2015-04-27 10:57] fgeorgatos commented on #216
2 years and no joy;
IMHO, the exact order of directives should be the very one which implies the order of failure modes.
(ie. the sequence appears "execution-like" - it's more or less the current case already).

[2015-04-29 15:06] JackPerdue opened #1577 "Lose -gpfs from HDF5-1.8.14-intel-2015a-gpfs.eb"
AFAICT, the --with-gpfs option was last supported in 1.8.12.  After that (I believe) all functions utilizing GPFS hints were deprecated.  So we probably don't need this one (given possible confusion) distributed.

[2015-04-30 06:36] pforai commented on #1577
@JackPerdue any links to official docs on this one?

[2015-05-11 15:25] boegel opened #1594 "matplotlib requires Tk/Tcl as dependency?"
saw matplotlib installation failing with:

[code]

so Tcl/Tk should be included as a dependency to matplotlib?

[2015-05-15 17:00] rjeschmi opened #1605 "OpenBLAS fails to build on CentOS6/Haswell system using GCC/4.9.2 toolchain"
A couple of unusual issues. Through the logs there are references to some redefines as well.

[code]

http://filebin.ca/21pNKZvflLI5/easybuild-OpenBLAS-0.2.13-20150515.173040.VQhZX.log

[2015-05-15 17:02] rjeschmi commented on #1605
I assume it was @iotaka on IRC that reported this (just so we keep track of the issue I've put it here).

[2015-05-15 17:13] rjeschmi commented on #1605
and I've uploaded a working log that I have from a similar machine

https://gist.github.com/rjeschmi/ec9c416f3a4e4e9806c2

[2015-05-15 17:23] rjeschmi commented on #1605
Looking more into it, I'm very suspicious of an old gnu assembler being found. What OS is this ?

[2015-05-15 19:13] boegel commented on #1605
I think I've seen similar issues on OS X, which ships a broken assembler.

```eb --optarch=''` should fix it (to avoid that `eb` using `-march=native`).

[2015-05-15 19:17] rjeschmi commented on #1605
@boegel  On OS X you might find it better to use the clang provided assembler since it would allow you to still use AVX.

I remember seeing discussions about bintools before... Maybe we should give a way of safely substituting a newer gas

[2015-05-15 19:31] iotaka commented on #1605
Hi, the OS is a CentOS 6.6.
We will try what suggest @boegel

[2015-05-15 19:44] rjeschmi commented on #1605
It is a good idea to test it. I'm curious what the benchmark will look like as you will probably take a hit if you can't enable the newer extensions

[2015-05-15 19:48] iotaka commented on #1605
We will also try to compile on a node with a better CPU. Some time cheaper XEONS have missing features.

[2015-05-15 20:45] boegel commented on #1605
This is not about the CPU, but about the assembler not supporting the instructions that the compiler is producing. It's quite weird you're hitting this on CentOS 6.6...

Can you provide a full debug log (`eb --debug ...`), e.g. via http://gist.github.com?

[2015-05-15 22:28] rjeschmi commented on #1605
I'm pretty sure the debug log is what I linked to, no? Through pastebin.ca

On Fri, May 15, 2015, 4:45 PM Kenneth Hoste <notifications@github.com>
wrote:

[2015-05-16 07:34] boegel commented on #1605
@rjeschmi: sorry, missed that part...

@iotaka: https://software.intel.com/en-us/blogs/2012/06/04/write-your-first-program-with-haswell-new-instructions shows the exact same error, and mentions that you need binutils 2.22 or newer.

On Scientific Linux 6 (and CentOS 6, in a VM), where this build works, I'm seeing this though:

[code]

I suspect this may be an enhanced binutils 2.20 though, with st

[2015-05-16 09:03] pescobar commented on #1605
@iotaka if I recall correctly, the right syntax is

[code]

[2015-05-16 13:54] boegel commented on #1605
Let me be more specific: I haven't seen this on Scientific Linux 6.6, but that's on Sandybridge systems.

It seems like this may be an AVX2 thing, where the standard assembler in CentOS 6 is too old to handle the instructions that a recent GCC emits.

If that's indeed the case, the only proper way out is to include a recent binutils in the toolchain, like #1346 does.

[2015-05-16 15:54] wpoely86 commented on #1605
@iotaka can you try to build the HPL `HPL-2.1-foss-2015.01.eb` from #1346 ? It should fix your issue.

[2015-05-16 15:56] rjeschmi commented on #1605
@iotaka there is a --from-pr option to make this easier.

[2015-05-18 12:32] boegel commented on #1605
the people in @hpcleuven are also suffering from this problem: binutils versions included in RHEL6 is too old to handle Haswell/AVX2...

[2015-06-02 09:56] boegel commented on #1402
fixed in #1654 (non-Cray Python 2.7.9 easyconfigs), sanity check enhanced for Cray Python 2.7.9 easyconfigs in #1655

easyconfig(s) for Python 2.7.10 include Tk dependency (see #1638, #1639)

Thanks for reporting this @a-mazur!

[2015-06-02 09:56] #1402 closed

[2015-06-02 09:57] boegel commented on #1594
fixed in #1654 (non-Cray Python 2.7.9 easyconfigs), `tk-devel` included as OS dep in Cray Python 2.7.9 easyconfigs in #1655

easyconfig(s) for Python 2.7.10 include Tk dependency (see #1638, #1639)

[2015-06-02 09:57] #1594 closed

[2015-06-02 14:37] boegel commented on #1577
From the configure output in the HDF5 1.8.14 log:

[code]

So, makes sense to drop the config option (and versionsuffix).

[2015-06-02 14:43] boegel commented on #1577
fix in #1657

[2015-06-02 14:43] #1577 closed

[2015-06-03 14:41] hajgato opened #1664 "SUSE lib/lib64"
We will have problems with lots of easyconfig on SUSE, as URi1 on IRC have found some. I also found ncurses/5.9 sanity check nit passeb because libraries are put into lib64 instead lib.

[2015-06-03 21:00] necrolyte2 opened #1668 "hwloc-1.6.2 issue during BWA-0.7.4-goolf-1.4.10.eb"
I'm testing out the project and pretty much starting from scratch. I wanted to install the
`BWA-0.7.4-goolf-1.4.10.eb` easyconfig.

First error I hit was that that eb file was missing
`tar_config_opts=True` which was related to hpcugent/easybuild-easyblocks#30
I fixed that(and eventually can make a pull request if somebody doesn't fix it before I do), but then ran into an issue with the building s

[2015-06-04 21:48] fgeorgatos commented on #384
Hi,

I'm lobbying for an improved `biodeps/2.0` of the type:

[code]

can you please comment if that would suit you, yes/no and why?

[2015-06-04 21:56] pescobar commented on #384
@fgeorgatos this looks like a too long list of deps IMHO

I would go for this at most (as hidden modules)

[code]

[2015-06-04 21:58] boegel commented on #384
@pescobar: that's more of a generic `common-deps`, not exactly related to bio at all?

For `biodeps`: Python, Perl, Boost should definitely be there, imho...

[2015-06-04 22:04] fgeorgatos commented on #384
@pescobar: I know what you are talking about: the above is the `-extended` variation,
which mostly there as a mockup for development. For real biodeps products, the more lightweight variant should be alike you describe. Back then, I decided to let libpng on the side, because it was "less busy" as a dep and thought that by letting it loose it may help fellows to debug/play around more freely.

[2015-06-04 22:05] fgeorgatos commented on #384
@pescobar: in effect, you described a variation of the 2nd file here:
https://github.com/hpcugent/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/b/biodeps

[2015-06-08 07:36] fgeorgatos commented on #384
@pescobar, @rjeschmi : ncurses/6.0 was pushed out during last couple of days;
you will find elsewhere in this repository that this stands a chance to make things nicer for c++ users.

Now, I propose/lobby towards the following versions, for general development over `goolf/1.7.20`;
can you give feedback/preferences asap? (the top5 common deps, might yield also R/bio* compatibility)

dependencies =

[2015-06-08 07:47] boegel commented on #384
@fgeorgatos: no mention of nucrses 6.0 @ http://www.gnu.org/software/ncurses/ ?

[2015-06-09 06:43] gjbex opened #1684 "LD_LIBRARY_PATH incorrect in R 3.x module files"
Dear all,

The module files generated by Easybuild for R 3.x are not quite correct.  The value '$root/lib64' is prepended to LD_LIBRARY_PATH using:
prepend-path    LD_LIBRARY_PATH         $root/lib64

However, libR.so is located in '$root/lib64/R/lib'.

Best, -gjb-

[2015-06-10 09:05] npklein opened #1686 "Feature request: easyconfig parameter for files that have to be download manually"
Some software can not be downloaded automatically. One example is GATK, where a license agreement has to be accepted before starting the download. In the .eb files for GATK that are currently in EasyBuild there is a comment that says to download GATK manually (and the comment doesn't link to the correct version of GATK, just the main download page).
So when installing GATK for the first time you g

[2015-06-10 12:57] boegel commented on #1664
Relevant post by @berndmohr on the EasyBuild mailing list recently: https://lists.ugent.be/wws/arc/easybuild/2015-05/msg00000.html

[2015-06-11 10:48] omula commented on #1664
We are also having problems with OpenSUSE 13.2. Has discussed with boegel on the IRC it seems that the problem might be solved by unsetting the CONFIG_SITE.

This link might be useful: https://bugzilla.redhat.com/show_bug.cgi?id=962837

[2015-06-11 10:50] hajgato commented on #1664
@omula Thanx!

[2015-06-12 10:49] fgeorgatos opened #1689 "Request for Comments, as regards `common_deps`"
Hellos to all,

I have been bugging fellows for a while yet this should not wait any longer,
we discussed this in yesterday's EB hangout:
- we need to specify (as far as feasible) a *preferred* list of common dependencies
It does not have to be final/perfect/ideal, but there has to be some *guideline* today;
if not we will pay the high price of effort duplication in the next weeks/months.

This is

[2015-06-12 10:52] fgeorgatos commented on #1689
and also, ever important:

`Python/2.7.10` is assumed to be the latest and greatest.
This will inevitably leave behind things like QIIME which require 2.7.3, but we cannot let everybody wait in the name of intricacies of a single package...

[2015-06-12 11:07] rjeschmi commented on #1689
The goal is a reasonable starting point.

Oh you might want to pick a version of cmake, particularly one that would
be compatible with bcl2fastq. It was something I hat tried to get working
in the merge sprint but didn't have luck and redists a bunch of deps that
we would probably build with easybuild

On Fri, Jun 12, 2015, 6:52 AM Fotis Georgatos <notifications@github.com>
wrote:

[2015-06-12 12:10] fgeorgatos commented on #1689
@rjeschmi: I can already smell a dependency hell approaching ;-) but let's do our best...

[2015-06-12 12:45] pescobar commented on #1689
I would not add samtools as dependency for all my bioinformatics tools. Neither perl, python or java. IMHO, I would define as biodeps just the latest versions of

bzip2
zlib
libreadline
ncurses
libpng

I think the version of Perl/Python/Java should not be binded to bionfo tools. That should be a site-specific decision.....my two cents....

[2015-06-12 12:57] fgeorgatos commented on #1689
@pescobar: OK, thanks.

As I see it, we converge as of today (ncurses/6.0 is not released yet).
In the meeting we thought of renaming biodeps to common_deps, to make it more appealing for other fields; ie. it is going to include: bzip2, zlib, libreadline, ncurses, libpng

N.B. Not having a PR for `common_deps` today does not block us from now on to advance:
* as long as people stick on these versi

[2015-06-12 14:10] fgeorgatos commented on #1689
IMHO, cmake is invariably a builddep, and as such there is no need to
specify version (anything goes).
Unless, there is a counter-example, I'd suggest to keep options open here!
F.

On 12 June 2015 at 12:07, Robert Schmidt <notifications@github.com> wrote:

--

echo "sysadmin know better bash than english"|sed s/min/mins/ \
  | sed 's/better bash/bash better/' # signal detected in a CERN forum

[2015-06-15 14:36] boegel opened #1698 "get rid of googlecode.com source_urls"
`GOOGLECODE_SOURCE`:
- [ ] gperftools 2.1 => http://sourceforge.net/projects/gperftools.mirror/files/
- [ ] likwid 3.0.0 => no alternatives??
- [ ] mpi4py 1.3 =? PyPI
- [ ] numexpr 2.0.1, 2.2.2 => PyPI
- [ ] OpenPGM 5.2.122 => no alternatives??
- [ ] protobuf 2.4.0a, 2.5.0 => 2.5.0 @ https://github.com/google/protobuf/releases, no alternatives for 2.4.0a??

`googlecode.com`:
- [x] argparse 1.2.1 a

[2015-06-15 14:49] rjeschmi commented on #1698
netcdf4-python:
https://github.com/Unidata/netcdf4-python
git:
https://www.kernel.org/pub/software/scm/git/

[2015-06-16 18:44] fgeorgatos commented on #1689
@npklein: are you satisfied with the above versions? do they make sense in your context?

[2015-06-16 19:12] npklein commented on #1689
@fgeorgatos looking through our custom .eb files we don't use those dependencies very often, and most dependencies I only see back in the .eb files for the different version of 2 or 3 different programs, so I don't think I can give a meaningful comment about common dependencies.

[2015-06-17 20:39] boegel commented on #1686
This makes a lot of sense, I like the idea.

Clearer error messages are certainly good.

It shouldn't be too hard to support too.

Maybe you're up for this yourself? Let us know.

[2015-06-23 09:25] boegel commented on #1414
@sylmarien: I just noticed this remained unanswered, my apologies...

I have been looking into issues when different toolchains are being used in the same session, see https://github.com/hpcugent/easybuild-framework/pull/1294, maybe that's related.

This bit looks scary:

[code]

This may also be fixed by making `PythonPackage` stricter recently, see https://github.com/hpcugent/easybuild-easyblock

[2015-06-24 09:37] gjbex opened #1740 "No LD_LIBRARY_PATH in Java module files"
Dear all,

LD_LIBRARY_PATH is not modified in the module files generated for Java.  This is an issue when installing software that tries to link in any of the libraries in, e.g., jre/lib/...

Best, -gjb-

[2015-06-24 11:00] boegel commented on #1740
This should be an easy fix via `modextrapaths` in the Java easyconfigs...

@gjbex: do you have a full list of directories that should be included in `LD_LIBRARY_PATH`? Up for tackling this for one Java easyconfig yourself?

[2015-06-24 11:56] boegel commented on #1668
It seems like this was left unanswered, my apologies...

The reason why it works for you when doing the build manually is because you're not setting `$CFLAGS` like EasyBuild does, and hence you're not telling the compiler to generate AVX2 instructions if it can.

Only with AVX2 instructions will you run into problems when linking with an old binutils.

Our solution to this issue is to include binu

[2015-06-24 15:52] pescobar commented on #1689
I have just hit this problem rebuilding my python-2.7.5 installation
https://github.com/yyuu/pyenv/issues/149

by now, I will stay in libreadline version 6.2

[2015-06-25 14:17] boegel opened #1749 "2015b common toolchains"
* [x] marks that the installations work and that the PR should be ready to merge (not that the PR is merged)

(note: this overview will be updated in the coming weeks, check back regularly)

#### `foss/2015b`

* [x] `gompi/2015b` ~~#1694~~ + ~~#1841~~
* [x] `foss/2015b` + HPL 2.1 ~~#1695~~
* [x] Python 2.7.10 (+ deps) ~~#1724~~
* [x] R 3.2.1, bare + extensions (+ deps) ~~#1744~~
* [x] Perl 5.20.2

[2015-07-03 02:49] fgeorgatos commented on #1689
@pescobar: only now I notice your comment on `libreadline/6.2`, thanks! I can't recall such issues on rh6.
I am not changing course yet, but if this bug bugs more people, this should certainly be revised.
Ideally, we should have automation to catch such issues, as early as possible.

[2015-07-03 10:05] boegel opened #1764 "script to check easyconfig style"
We could really use a script that performs some simple checks on easyconfigs w.r.t. style, which can be used by Jenkins to test incoming easyconfig pull requests and provide some meaningful feedback.

Checks should include (but are not limited to):
- order of parameters
- grouping of parameters
- each parameter should be defined only once
- some non-mandatory yet expected parameters (e.g. modulecl

[2015-07-03 10:05] boegel commented on #1764
@Caylo: please take a look at this

[2015-07-14 15:32] boegel opened #1797 "Rmpi 0.6-5 segfaults when built with goolf/1.7.20"
Rmpi 0.6-5 segfaults (both with and without applying the patch available for it), when built with `goolf/1.7.20` on SL6/sandybridge:

[code]

@pescobar is not seeing this problem though...

Rmpi is excluded from the R-3.2.0-goolf-1.7.20.eb easyconfig (see #1573) because of this

[2015-07-15 06:03] boegel commented on #1797
I'm now seeing Rmpi segfault with all `goolf` R easyconfigs...

This must be related to the patch for OpenMPI that was included in #1785.

@besserox: Is it possible that an error like this now suddenly pops up now that your OpenMPI patch is included, while it didn't before?

[2015-07-15 06:05] boegel commented on #1797
@pescobar: can you check if you can reproduce this issue after rebuilding OpenMPI with the patch from #1785 included (on a test system, of course).

[2015-07-15 06:23] besserox commented on #1797
One easy way to test if the OpenMPI patch is causing the bug is to set the environment variable OMPI_MCA_btl="^openib". This disables the Infiniband, and then the codepath related to this patch.

[2015-07-15 06:25] boegel commented on #1797
From the discussion at https://github.com/open-mpi/ompi/issues/638, it seems like these changes are required too (especially the latter): https://github.com/open-mpi/ompi/commit/2f137ff151e68834fd18cc6342d7c081965240f5 and https://github.com/jsquyres/ompi-release/commit/8be602996671dc34337aa6dcd3754c739583a093

[2015-07-15 07:00] boegel commented on #1797
Update: I can reproduce the Rmpi segfault issue after rebuilding OpenMPI with the patch included on another system. Defining `$OMPI_MCA_btl="^openib"` fixes the Rmpi problem, so it seems like it's confirmed that the OpenMPI patch is the cause of this problem.

Because we're so close to the EasyBuild v2.2.0 release, I think my best option is to revert #1785. The patch included in there is incomplet

[2015-07-15 10:07] boegel commented on #1797
Defining `OMPI_MCA_btl_openib_memalign_threshold="0"` when building Rmpi fixes the build on top of a patched OpenMPI (as in #1785).

Defining `OMPI_MCA_btl_openib_memalign_threshold="12288"` when building Rmpi on top of an unpatched OpenMPI reproduces the segfault.

So, changing the runtime option causes the segfault.

#1798 has excluded the (apparently broken) OpenMPI patch for EasyBuild v2.2.0.

[2015-07-15 15:04] boegel commented on #1797
#1799 and #1800 include an alternative patch, but the Rmpi segfault still occurs with that included (at least for OpenMPI 1.6.x)

[2015-07-23 15:03] fgeorgatos opened #1807 "2fix: bbftpPRO-9.3.1-ictce-5.3.0.eb"
this landed in the wrong place (under bbftp/); it would certainly not help the --robot features...

[2015-07-28 14:18] stachon opened #1818 "Octave-3.8.2 does not install manual pages"
It seems that Octave-3.8.2 does not install manual pages. (They should be copied from doc/interpreter/*.1 to %(installdir)s by "make install"). We are still investigating the issue, it can also be some problem with our EasyBuild setup.

[2015-07-29 09:23] stachon commented on #1818
The problem was caused by missing TeX packages on our system.

[2015-07-29 09:23] #1818 closed

[2015-08-04 08:07] riccardomurri opened #1822 "automake 1.15 build fails if PERL's `Thread::Queue` is not available"
When trying to build `automake` (as a dependency to build `R` with the `foss-2015a` toolchain), I ran into an error stating that "help2man cannot run automake-1.15 --help".

It turned out that a previous "make bootstrap" phase had failed, because PERL module `Thread::Queue` was not installed on the system, and autoconf/autom4te depends on it.

[2015-08-04 08:37] riccardomurri commented on #1822
This is the actual log excerpt with the error::

        == 2015-08-04 07:38:57,622 main.ConfigureMake INFO Starting build step
        == 2015-08-04 07:38:57,624 main.ConfigureMake INFO Running method build_step part of step build
        == 2015-08-04 07:38:58,235 main ERROR cmd " make -j 4 " exited with exitcode 2 and output:
          GEN      bin/automake
          GEN      bin/aclocal

[2015-08-08 10:03] boegel commented on #1749
I've changed PRs #1694, #1695 and #1696 to switch to GCC 4.9.3.
This requires both #1836 (GNU 4.9.3-2.25 toolchain) + #1837 (Autotools easyconfig using GNU 4.9.3-2.25).

@backelj, @hajgato, @gjbex: can you look into submitting new test reports for the relevant PRs?

[2015-08-10 15:39] ocaisa opened #1839 "Texinfo not working"
The texinfo easyconfig should be removed since it doesn't actually work. It has a dependency on tex that is not present. I doubt we're going to port tex to eb and without doing so the final step of a proper installation:
[code]
can't be done since this would require write permissions into an OS dir.

[2015-08-10 21:48] boegel commented on #1839
How about adding `tex` as an OS dep, rather than removing the easyconfig?

This easyconfig passes the regtest, so it works for us (tm).

Or are you saying the installation process being performed is incomplete, thus not showing the brokenness?

[2015-08-11 09:16] ocaisa commented on #1839
I think whether it works or not is very dependent on your OS setup.
[code]
For a pretty clean CentOS 7 frontend it does not work correctly since no texinfo.tex file is created (or added to the right place) so the installation is incomplete. For me, this manifested itself when I tried to build the documentation for Octave.

[2015-08-11 10:02] boegel commented on #1689
This involves Python 2.7.5, which is rather ancient.

Maybe we should agree that the list of common deps only applies to the most recent software versions, and that it's OK to diverge from this in case there are technical reasons to do so?

[2015-08-11 10:05] ocaisa commented on #1839
Ok, I made a pull request that should fix this #1840

[2015-08-12 07:37] FokkeDijkstra opened #1842 "OpenFOAM patches introduce environment variables into wmake build system"
I've installed OpenFOAM 2.3.1 using easybuild. I got questions from our users because they were not able to build their own OpenFOAM code using the OpenFOAM wmake build system.

I found out that in the wmake rules the environment variables $(MPICC) $(MPICXX) $(CFLAGS) and $(CXXFLAGS) were introduced. Since these are not set by the goolfc toolchain the build system breaks. And even if MPICC and MPI

[2015-08-12 08:00] boegel commented on #1842
This patch is there to make ``wmake`` honor the build environment (`$MPICC`, `$CFLAGS`, etc.) as it is defined by EasyBuild when building/installing OpenFOAM.

But you're right, we've also had issues with people running into weird problems when trying to compile their own solvers. I just didn't realise it was our patch that was the cause of this problem...

Rather than removing those flags altoget

[2015-08-12 08:56] FokkeDijkstra commented on #1842
Unfortunately this does not work. The lines involved are parsed by make and not by the shell.
It should be possible to check in make if a variable is undefined, and set it if it is. I will check this route.

[2015-08-12 14:19] verdurin opened #1845 "Missing X dependency for R-Bioconductor"
[this is my first ever use of EasyBuild, so please forgive any mistakes...]

I've been trying to install the goolf version of Bioconductor. At first I was missing Java but I installed that manually. Now I've seen a problem with Tk:

[code]

[2015-08-12 14:21] verdurin commented on #1845
This is the command I used:

eb R-bundle-Bioconductor-3.1-goolf-1.7.20-R-3.2.0.eb --robot

on a CentOS 7.1 VM.

eb --version
This is EasyBuild 2.2.0 (framework: 2.2.0, easyblocks: 2.2.0)

[2015-08-12 14:48] boegel commented on #1845
Can you try and figure out whether `--without-x` was being used in the configure command used for Tk?

Hopefully http://easybuild.readthedocs.org/en/latest/Logfiles.html can help you with that.

[2015-08-12 15:00] verdurin commented on #1845
Yes, it was:

== 2015-08-12 14:10:44,066 main.run INFO cmd " ./configure --prefix=/srv/data/sw/eb/software/Tk/8.6.4-goolf-1.7.20-no-X11 --enable-threads --with-tcl=$EBROOTTCL/lib --without-x CFLAGS="-I$EBROOTTCL/include"" exited with exitcode 0 and output:

[2015-08-12 15:01] verdurin commented on #1845
Later on in the configure output it says:

checking for X... disabled
checking for X11 header files... couldn't find any!
checking for X11 libraries... checking for XCreateWindow in -lXwindow... no
could not find any!  Using -lX11.

[2015-08-12 15:57] verdurin opened #1846 "New release of S4Vectors needed for Bioconductor"
After installing the X11 headers, I'm seeing a failure with the S4Vectors component for Bioconductor:

== 2015-08-12 15:50:48,971 main.Bundle INFO Build dir set to /home/operations/.local/easybuild/build/RbundleBioconductor/3.1/goolf-1.7.20-R-3.2.0
== 2015-08-12 15:50:48,971 main.Bundle INFO Install dir set to /srv/data/sw/eb/software/R-bundle-Bioconductor/3.1-goolf-1.7.20-R-3.2.0
== 2015-08-12 15

[2015-08-13 07:09] FokkeDijkstra commented on #1842
I found a way to set variables  in make if they are not defined. Unfortunately this only works for GNU make. The diffs  now look like this:

[code]
and
[code]

I was able to build and run OpenFOAM, using these patches. I also could compile plugins. I will now check with the user involved to see if he still finds issues.

[2015-08-13 08:38] verdurin commented on #1846
Okay, I can see this is fixed in the develop branch. I'll close the issue.

[2015-08-13 08:38] #1846 closed

[2015-08-13 08:41] verdurin opened #1849 "New release of IRanges"
In develop it's 2.2.5 but the latest release is 2.2.7.

[2015-08-13 09:00] verdurin opened #1851 "Bioconductor bundle version updates"
Several components in the Bioconductor bundle require updates:

BioStrings 2.36.1 -> 2.36.3

[2015-08-13 09:04] verdurin commented on #1851
Biocparallel 1.2.9 -> 1.2.20

[2015-08-13 09:17] boegel commented on #1849
fixed in #1850, let's follow-up there

[2015-08-13 09:17] #1849 closed

[2015-08-13 13:38] verdurin commented on #1851
BiocInstaller 1.18.3 -> 1.18.4

[2015-08-13 13:39] verdurin commented on #1851
limma 3.24.13 -> 3.24.15

[2015-08-13 13:48] verdurin commented on #1851
rtracklayer 1.28.6 -> 1.28.7

[2015-08-13 13:52] verdurin commented on #1851
NOISeq 2.12.0 .> 2.14.0

[2015-08-13 13:54] verdurin commented on #1851
BSgenome 1.36.2 -> 1.36.3

[2015-08-13 14:21] verdurin commented on #1851
VariantAnnotation 1.14.6 -> 1.14.10

[2015-08-14 08:38] verdurin opened #1856 "Update some easyconfigs for current dependencies"
For example, I need a version of GATK and Picardtools with the current version of Java 1.7.0 - minor release 80.

[2015-08-14 08:50] boegel commented on #1856
Done in #1857.

@verdurin: you don't need to create an issue for things you will be sending us a pull request for, it only creates duplicates in the issue tracker (every PR is also an issue), and more bookkeeping for us.

Just send us the PR. :-)

[2015-08-14 08:50] #1856 closed

[2015-08-14 13:56] verdurin opened #1863 "tcltk package failure with Bioconductor"
I'm trying to install R-bundle-Bioconductor-3.1-goolf-1.7.20-R-3.2.0.eb on EB 2.2.0.

The build is failing because it is unable to find the 'tcltk' package:

[code]

[2015-08-14 13:58] verdurin commented on #1863
There may have been a problem with the initial R build:

[code]

[2015-08-14 13:59] verdurin commented on #1863
These are the only available build logs for the tcltk package:

[code]

[2015-08-14 14:06] boegel commented on #1863
This is what I have in the log for the same R installation (same version/toolchain).

Seems like you're missing `tcltk.so`, not sure why it's not getting built...

[code]

[2015-08-14 21:08] boegel commented on #1863
@verdurin: let us know whether installing both X11 headers and libs resolved this issue... I'd love to get a good view on this.

[2015-08-14 22:06] boegel commented on #1851
see #1852, let's follow-up there

[2015-08-14 22:06] #1851 closed

[2015-08-17 09:21] verdurin commented on #1863
I've tried a complete rebuild but with the same result. However, I suspect local misconfiguration may be in part to blame, so I've tried to fix that and will now rebuild everything again.

[2015-08-17 11:49] FokkeDijkstra commented on #1842
Our cluster user reported that he now could run OpenFOAM, including compiling his own code. This has been done using a goolfc version of OpenFOAM.

For icc similar modifications should be made.

[2015-08-17 11:53] verdurin commented on #1863
Still the same problem after a complete rebuild, with fixed local configuration. The R build doesn't include the tcltk capability.

[2015-08-17 12:07] boegel commented on #1863
@verdurin: do you have more details about OS, etc.? Can you share the full R debug log with me (bzipped via mail, or uploaded somewhere)?

[2015-08-17 12:08] boegel commented on #1842
@FokkeDijkstra thanks for the feedback!

I'll try and get this fixed across the board

[2015-08-17 13:01] verdurin commented on #1863
This is all on a CentOS 7.1 instance, fully updated. I've just started another instance, on which I'm running the whole pipeline again and I'll put the log online for you.

[2015-08-17 13:07] boegel commented on #1863
OK, I have access to CentOS 7.1 too, I can see if I can reproduce the problem there.

[2015-08-17 13:12] verdurin commented on #1863
I've just mailed you a link to the two log files - R and R-bundle-Bioconductor. Thanks again.

[2015-08-17 14:41] boegel commented on #1863
I can't reproduce this issue on CentOS 7.1:

[code]

[2015-08-17 14:45] verdurin commented on #1863
Hmmph. Can you send me the history of how you installed it, so I can try that? (in case I've done it wrong somehow)

[2015-08-17 15:01] verdurin commented on #1863
All I have in the directory is a single file 'tcltk', with the contents:

.onLoad <- function(libname, pkgname)
    stop("Tcl/Tk support is not available on this system", domain = "R-tcltk")

[2015-08-17 15:04] boegel commented on #1863
I didn't do anything special, just "eb R-bundle-Bioconductor-3.1-goolf-1.7.20-R-3.2.0.eb -dr".

I did use `2.3.0dev`, but that shouldn't matter, nothing has changed that could affect the R installation, afaik (see https://github.com/hpcugent/easybuild-easyconfigs/commits/develop/easybuild/easyconfigs/r/R/R-3.2.0-goolf-1.7.20.eb and https://github.com/hpcugent/easybuild-easyblocks/commits/develop/e

[2015-08-17 15:08] verdurin commented on #1863
Well, difficult to get that wrong. I wonder whether it's to do with system dependencies? What did you install on the system before invoking eb?

[2015-08-17 15:09] boegel commented on #1839
fixed with #1840

[2015-08-17 15:09] #1839 closed

[2015-08-17 15:56] boegel commented on #1863
In yours logs, I find this at the end of the output of the configure command:

[code]

In my logs, I have this (note mention of `tcltk` here):

[code]

So, you have some dependency that is required for `tcltk` missing in the OS. No clue which one though...

[2015-08-17 16:05] boegel commented on #1863
From https://support.bioconductor.org/p/43061/:

[code]

`libpng` and `libjpeg` are covered by EB itself via dependencies, and I don't have `cairo` or `libxss` (which is screensaver related) in the OS. I sure hope texlive is not to blame. ;-)

Do you have `libXt` stuff installed? And which `libX11` packages are installed exactly?

[2015-08-17 16:10] verdurin commented on #1863
I've just installed libXt, libXt-devel and will try rebuilding just R.

libX11 and libX11-devel are installed.

[2015-08-17 16:17] verdurin commented on #1863
Okay, libXt wasn't sufficient on its own.

[2015-08-17 16:26] verdurin commented on #1863
Right, I've installed tk-devel and tcl-devel and it looks as though it might work. The 'Interfaces' line in the configure output looks like yours. I'll let you know once it's finished...

[2015-08-17 16:32] verdurin commented on #1863
Yes, trying that on two different instances, the 'Interfaces' line after ./configure looks better. One has a lot more memory and CPUs so will hopefully finish before I have to leave for the day. I'll check from home tonight, anyway.

[2015-08-17 16:34] verdurin commented on #1863
Can't see a tcltk.so yet but the small 'tcltk' file looks better:
[code]

[2015-08-17 16:52] boegel commented on #1863
OK, that basically means something is wrong or incomplete with the Tcl/Tk that are included as dependencies... Yikes.

[2015-08-17 21:07] verdurin commented on #1863
Can confirm that on both instances Bioconductor built successfully after installation of tk and tcl devel RPMs. It loads without any errors.

[2015-08-18 10:27] verdurin opened #1878 "Perl problem with VCFtools"
I've tried building VCFtools and it fails during the compilation of Perl:

== 2015-08-18 08:41:38,921 main.filetools DEBUG Possible new dir /home/operations/.local/easybuild/build/Perl/5.16.3/goolf-1.4.10/DB_File/DB_File-1.827 found
== 2015-08-18 08:41:38,921 main.run DEBUG run_cmd: running cmd  perl Makefile.PL PREFIX=/srv/data/sw/eb/software/Perl/5.16.3-goolf-1.4.10  (in /home/operations/.local/

[2015-08-18 10:29] boegel commented on #1878
@verdurin: known (yet unresolved) issue, see https://github.com/hpcugent/easybuild-easyconfigs/issues/342

[2015-08-18 10:30] boegel commented on #1878
#913 may help in fixing this (i.e., either add `DB` as a dep to `Perl`, or flesh out `DB_File` form the `Perl` easyconfig)

[2015-08-18 11:23] verdurin commented on #1878
Thanks for the pointers. In the short term, I'm trying out the newer versions at:

http://www.molgenis.org/wiki/ComputeVM

I'll start work on a newer VCFtools .eb for the first GitHub release, too.

[2015-08-19 08:39] boegel commented on #1414
@sylmarien: are you still seeing this?

[2015-08-19 11:19] ocaisa opened #1883 "Build dependencies cannot be hidden"
The following in an easyconfig will not work:
[code]
This results in:
[code]

[2015-08-19 11:31] boegel commented on #1883
Hmm, I guess we should simply relax the requirement and also accept that hidden dependencies are included in `builddependencies`. This does complicate dumping the easyconfig though, since `hiddendependencies` need to be restored in either `dependencies` or `hiddendependencies` then. See #1354.

Maybe we can simply introduce `hiddenbuilddependencies`, but I don't like where this is going...

[2015-08-19 11:36] boegel commented on #1883
This issue should be opened in the easybuild-framework repo btw, since that's where the fix needs to happen...

[2015-08-19 12:51] ocaisa commented on #1883
Transferred to easybuild-framework

[2015-08-19 12:51] #1883 closed

[2015-08-19 12:52] boegel commented on #1883
see https://github.com/hpcugent/easybuild-framework/issues/1368, thanks @ocaisa

[2015-08-20 22:12] verdurin opened #1890 "PennCNV"
Just to note that I intend to create an easyconfig for PennCNV:

http://penncnv.openbioinformatics.org/en/latest/

in case anyone else has started work on it.

[2015-08-20 22:14] verdurin opened #1891 "Problem bootstrapping on Fedora 22?"
I've tried bootstrapping EB on three different Fedora 22 machines and have seen the same problem each time, using the script shown in the documentation:

[code]

[2015-08-20 22:16] verdurin commented on #1891
Running bootstrap_eb.py with debug enabled:

[code]

[2015-08-21 09:37] boegel commented on #1891
Similar issues have been reported before, but we never got to the bottom of this.

Can you take a look at https://github.com/hpcugent/easybuild-framework/issues/1099#issuecomment-64903116 (go down from there)?

[2015-08-21 09:37] boegel commented on #1891
Also, this is the wrong repository for reporting this kind of problem, so consider moving this to https://github.com/hpcugent/easybuild-framework

[2015-08-21 09:57] verdurin commented on #1891
@boegel - apologies.  I'll close this and look at the issue referred to above.

[2015-08-21 09:57] #1891 closed

[2015-08-23 14:55] boegel commented on #541
Also occurs on SL6...

[2015-08-27 14:00] boegel commented on #1842
I'm working on PR https://github.com/hpcugent/easybuild-easyconfigs/pull/1920 that will fix this, let's follow up there.

Thanks for reporting this @FokkeDijkstra and figuring out a fix!

[2015-08-27 14:00] #1842 closed

[2015-09-01 15:41] boegel opened #1935 "rgl R package included as extension requires OpenGL/Mesa as dependency"
from a failed test report on a system where Mesa was not installed system-wide (see https://github.com/hpcugent/easybuild-easyconfigs/pull/1744#issuecomment-135735922):

[code]

[2015-09-01 17:00] boegel commented on #1749
the remainder can be tackled in future PRs whenever needed, the set of easyconfigs using `*/2015b` is already pretty decent

[2015-09-01 17:00] #1749 closed

[2015-09-04 14:55] boegel opened #1947 "installing of GCC 4.9.3 on top of binutils 2.25 fails on CentOS 6"
I ran into this while preparing a VM for an EasyBuild workshop, using EasyBuild 2.3.0 and a 'clean' CentOS 6 (see https://github.com/boegel/eb_lmod).

Not sure (yet) what's going on here...

[code]

This is using `make --version` printing `GNU Make 3.81`...

[2015-09-04 16:02] boegel commented on #1947
Interesting to mention: building and installing `foss/2015a` (which includes `GCC/4.9.2`) worked fine on the same VM.

Trying to pinpoint the issue now...

[2015-09-04 17:41] boegel commented on #1947
Building and installing `GCC/4.9.3` works fine too, so the problem only manifests itself when building GCC 4.9.3 on top of the `binutils/2.25` we've built...

[2015-09-09 13:51] verdurin opened #1957 "Affymetrix Power Tools"
One of our users needs to run this suite, so I'll be creating an easyconfig, unless someone else already has one...

[2015-09-10 13:39] backelj opened #1959 "SAMtools : always built using gcc?"
Hello,

When I was looking at building TopHat-2.1.0-intel-2015b (using an adaption of an earlier EasyConfig file),  I noticed that samtools-0.1.18 is now included with TopHat (starting with version 2.0.13). But since it explicitly mentions CC=gcc and CFLAGS=... in it's Makefile, this samtools-0.1.18 was actually built with gcc instead as with icc.

This got me thinking to have a look at at EasyCon

[2015-09-10 16:18] fgeorgatos commented on #1959
Hi @backelj,

in Makefiles, "hardwired" CC= definitions can be interestingly overriden from outside (try it).

This does not automatically make the process correct though, because someone has to do it; can you check what is the status, by dumping the environment with env or some other similar way?

Generally, I wonder how many bugs of this class we will be about to discover, once we start employin

[2015-09-11 09:08] verdurin opened #1960 "gcc problem with binutils"
I'm trying to build R on a CentOS 7 VM.

It failed when building the binutils dependency:

[code]

and in the config.log it says:

[code]

[2015-09-11 09:11] verdurin commented on #1960
Ah. Looks like it requires zlib 1.2.8, whereas this is what's in CentOS 7.1:

[code]

[2015-09-11 09:15] verdurin commented on #1960
Okay, I think this happened because I had zlib for goolf-1.7.20 installed, but not for foss-2015b, which is the toolchain of the R easyconfig I was building. However, I still think this is a bug, because EB should have picked up the missing build dependency, rather than failing at the compilation stage.

[2015-09-11 10:11] boegel commented on #1960
`zlib/1.2.8` is included as a build dependency for binutils, so you shouldn't be running into this problem

this:

[code]

seems to imply that you have a `zlib/1.2.8` module on your system that doesn't define `$EBROOTZLIB`, is that right?

we ran into this at the (internal) EB workshop @ CSCS too earlier this week

see also https://github.com/hpcugent/easybuild-framework/issues/1385

[2015-09-11 11:02] verdurin commented on #1960
Yes, that zlib module is installed:

[code]

[2015-09-11 11:35] boegel commented on #1960
No, this is `zlib/1.2.8-goolf-1.7.20`... What does `module avail zlib` show?

[2015-09-11 13:58] verdurin commented on #1960
[code]

[2015-09-11 18:42] rjeschmi commented on #1957
I don't think there is. I tried for a bit, but settled for the binary version since it wasn't really that useful to our users.

I'll test it if you make it though.

[2015-09-11 18:45] boegel commented on #1959
I'd guess the SAMtools easyconfigs need something like this:

[code]

[2015-09-11 22:24] boegel commented on #1960
Figured this out together with @verdurin on IRC: the `libxml2` module didn't contain a load for `zlib` because it was installed with `--filter-deps=zlib` in place, causing `$EBROOTZLIB` to be undefined.

Rebuilding `libxml2` such that the `load zlib` is there should fix the problem.

@verdurin: can you confirm that the problem was fixed this way?

[2015-09-12 08:18] verdurin opened #1961 "rgl R package requires Mesa headers"
While rebuilding R to verify that #1960 is fixed, I see this error with rgl:

[code]

If the PNG capability is added to the upstream R easyconfig, libGL-devel and libGLU-devel (plus Debian equivalents) will need to be added to the OS dependencies. I'm happy to add a PR for that, or to include that in the PR for the addition of PNG (as discussed on IRC).

[2015-09-12 08:19] verdurin commented on #1961
Oops - this is a duplicate of #1935 - closing.

[2015-09-12 08:19] #1961 closed

[2015-09-13 06:55] verdurin commented on #1863
Just to confirm that with 2.3.0 I still had to install tk-devel and tcl-devel.

[2015-09-13 07:08] verdurin commented on #1960
@boegel - yes, the build completed with that configuration (`--filter-deps=zlib`) commented out.

[2015-09-13 07:08] #1960 closed

[2015-09-14 23:21] sylmarien commented on #1414
@boegel I am not anymore working at the University of Luxembourg, where I saw this problem, for the moment. I do not know if this problem is still present.

[2015-09-15 15:08] boegel commented on #1959
@backelj: let us know if you've tried the suggestion above; if it works as a fix, a pull request would be great :-)

[2015-09-16 07:38] backelj commented on #1959
Hi Kenneth,

Op 15-sep.-2015, om 17:08 heeft Kenneth Hoste <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@backelj<https://github.com/backelj>: let us know if you've tried the suggestion above; if it works as a fix, a pull request would be great :-)

Yes, the buildopts does the trick!  I will check the available easyconfigs...

This makes me wonder: shouldn’t

[2015-09-16 07:43] boegel commented on #1959
I consider this a bug in the makefile more than anything else.

Always doing this may lead to problems, for example if the Makefile does something like:

[code]

[2015-09-16 07:52] backelj commented on #1959
Op 16-sep.-2015, om 09:43 heeft Kenneth Hoste <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

I consider this a bug in the makefile more than anything else.

Always doing this may lead to problems, for example if the Makefile does something like:

CC += --extra-flag-that-is-required-to-make-the-build-work

Yes you are right.

— Franky

[2015-09-16 11:55] boegel commented on #1842
better workaround for this is implemented via the OpenFOAM easyblock, see https://github.com/hpcugent/easybuild-easyblocks/pull/688

[2015-09-18 06:39] boegel commented on #1842
fixed with https://github.com/hpcugent/easybuild-easyblocks/pull/688, just merged in, thanks again for reporting this @FokkeDijkstra and helping out with figuring out the fix!

[2015-09-18 07:52] fgeorgatos commented on #408
I think this has now been resolved via the following? Closing now (handle past MATLABs separately):
https://github.com/hpcugent/easybuild-framework/pull/1375

[2015-09-18 07:52] #408 closed

[2015-09-22 18:20] boegel commented on #1863
Yeah, we'll need to figure this out at some point...

@verdurin: can you check whether R needs to be told where Tcl/Tk are available, since they're installed in a non-standard prefix with EB?

[2015-09-22 18:21] boegel commented on #1414
Will close until further notice, but I expect that this has been fixed via https://github.com/hpcugent/easybuild-easyblocks/pull/577

[2015-09-22 18:21] #1414 closed

[2015-09-24 16:42] verdurin commented on #1863
@boegel: will do

[2015-09-25 09:37] boegel commented on #643
``XML::LibXML`` test includes version check on `libxml2`, a too recent libxml2 implies requiring `perl Makefile.PL FORCE=1` to be used to run the tests...

[2015-09-26 13:00] boegel opened #2000 "migrate to 'fat' easyconfigs"
We should migrate this repository to host 'fat' easyconfigs, which specify build parameters for different versions/toolchains for one particular software package, maybe in YAML syntax (see also https://github.com/hpcugent/easybuild-framework/issues/1324).

The EasyBuild framework can be enhanced such that running `eb WRF-3.6.1-intel-2015a-dmpar.eb` makes EasyBuild go look for `WRF.eb` first to see

[2015-09-26 13:10] boegel commented on #2000
I hope @Caylo can spend some time on implementing the support required to make this happen...

[2015-09-28 13:43] ac427 opened #2002 "ATLAS-3.10.1-gompi-1.5.12-LAPACK-3.4.2.eb fails"
below is the tail of log file

[code]

[2015-09-29 13:02] boegel commented on #2002
@ac427: can you look for errors higher up in the log file? This isn't provided all required information...

What type of system is this? (OS, processor architecture, etc.)

[2015-09-29 13:17] ac427 commented on #2002
I was trying to test it on virtual box with CentOS 6.6. I have allocated 4 gb memory.
There are bunch of segmentation error in dmesg. I lost the log file, I will try to rerun and will provide the info.

I was able to install fine on bare metal CentOS 6.6 with Intel x86_64

[2015-09-29 13:22] boegel commented on #2002
@ac427: trying to install ATLAS in a VM isn't going to work, because it does compile-time tuning and needs to be able to recognise the processor architecture you're on, which typically fails in a VM

[2015-09-29 14:01] ac427 commented on #2002
thanks @boegel

[2015-09-29 14:01] #2002 closed

[2015-10-01 12:54] hajgato opened #2014 "Qt has X11 dependency."
See this:
http://doc.qt.io/qt-4.8/requirements-x11.html
Apparently switching off Qt/X11 disables graphics. It is still usable in console, but I think that is completely useless.
This worked for me on our system:

[code]

Although it needs more research (for possible further deps)

[2015-10-02 10:20] hajgato opened #2020 "Python version within toolchains"
I would like to open a discussion about different version of Python within a toolchain. I think we should stick to one version of python (and maybe one perl) version for each toolchain, especially for the fast changing ones. Opinions? (see for example the compications PR #1627

[2015-10-02 11:33] verdurin opened #2021 "Overlap between UCSC-tools and BLAT?"
(Raising this here so it can be discussed before submission)

I'm working on an easyconfig for the UCSC tools (sometimes known as the Jim Kent tools). BLAT is one of those tools, and also includes a very small subset of the very large tool collection.

In case that my version is more up to date, is the preferred approach for me to exclude what's in BLAT from UCSC-tools, then submit a separate PR t

[2015-10-02 14:30] verdurin opened #2022 "OS dependency checks should be smarter"
Working on my UCSC-tools easyconfig, I have an OS dependency specified for mysql-devel. On CentOS, this is met by the mariadb-devel package:

[code]

However, EB complains that the dependency is not met.
I think it should have a smarter check that takes account of this kind of thing.

[2015-10-02 14:39] boegel commented on #2022
Right now, `eb` just uses `rpm -q <depname>`, see https://github.com/hpcugent/easybuild-framework/blob/master/easybuild/tools/systemtools.py#L359

What should it be using instead?

We need something the other way around, i.e. an alternative to `rpm -q mysql-devel` (since we don't know which package provides this, i.e. we can't use `mariadb-devel`.

Alternatively, you can list both `mysql-devel` an

[2015-10-02 14:50] verdurin commented on #2022
Yes, I've worked around it for now by adding both alternatives in the easyconfig.

Maybe that's all that's needed here. I suppose installing it via yum protected me from this at first.

[2015-10-02 14:50] boegel commented on #2021
@verdurin: I think it's OK to have an easyconfig for the whole 'suite' of UCSC tools, even if we already have easyconfigs for BLAT separately.

An update for BLAT is also welcome, of course. :)

[2015-10-03 06:49] fgeorgatos commented on #2022
Yet, the tuple operator is mostly a workaround for the majority of current
issues,
however it is not the complete answer to it:
* what about fi. Boost libs which are packaged differently across different
linux bistro families?
(yeah, you could rely on eb provided boost for that, but try to see the
more generic need)

IMHO, this suggests for a needed solution which can interface nicely with
existin

[2015-10-06 20:50] verdurin opened #2036 "Meta-easyconfigs?"
I've had a request for the full SciPy Stack (http://www.scipy.org/stackspec.html). A lot of the components are already in EB, but it might be useful to be able to install them all as a single module, a bit like a meta-RPM.

Does this sound like something that would be useful/accepted?

[2015-10-06 20:52] verdurin commented on #2036
Okay, this is partially covered by #421. Anyway, I would be interested to hear whether this sort of more tailored meta-package would be welcomed.

[2015-10-07 02:30] fgeorgatos commented on #421
fyi.
HPCBIOS_LifeSciences makes for a good test-case for this, since it has worked solidly over several years across multiple clusters (as opposed to HPCBIOS_Bioinfo which has always been ...pain to erect :)

[2015-10-07 02:32] fgeorgatos commented on #2036
+1.
These meta packages reduce entropy across several clusters and basically they form the same role which an EB toolchain fulfills, at a higher level: provide a common substrate of a coherent software stack.

[2015-10-07 02:55] fgeorgatos commented on #2020
IMHO, the choice of version is more often than not successful within a scientific domain's context, given that groups of scientists tend to cluster together around specific versions (yeah, sad but true).

In the past it has been the case that certain versions were more popular than others (fi. python/2.7.3), yet this is merely a coincidence and it is difficult to know in advance which version of a

[2015-10-07 11:06] verdurin opened #2037 "sympy test failure"
I'm working on porting sympy-0.16.1 for goolf 1.7.20.

The build seems to be going well until the test phase, when there is an error:

[code]

The test process then restarts and the remaining tests either succeed or are skipped:

[code]

etc.

[code]
and it ends like this:

[code]

[2015-10-07 11:16] boegel commented on #2037
This is probably caused by a combination of a bug in the particular Python version you're using, and your locale config ($LANG, $LC_ALL), etc.
See also https://bugs.launchpad.net/pyskein/+bug/709247, for example.

I have this in my .bashrc, partially because of this problem:

[code]

Let us know whether this helps.

[2015-10-07 11:44] verdurin commented on #2037
No, that didn't fix it:

[code]

and exactly the same crash happened during the tests. Hmmph.

[2015-10-07 17:50] boegel commented on #2036
I guess the `Bundle` easyblock matches your need? See for example https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/h/HPCBIOS_LifeSciences/HPCBIOS_LifeSciences-20130829-ictce-5.3.0.eb .

It certainly makes sense to put them together under the `SymPy` flag

[2015-10-08 12:36] hajgato commented on #2014
Additionally, It might need Mesa/libGLU dependencies as well.

[2015-10-09 11:55] verdurin commented on #2036
Yes, I've been using `Bundle` and it works well.

I'll close this and any further discussion can happen in the specific PR.

Thanks.

[2015-10-09 11:55] #2036 closed

[2015-10-13 10:59] jmkekala commented on #1845
sama problem here:

checking for X... disabled
checking for X11 header files... couldn't find any!
checking for X11 libraries... checking for XCreateWindow in -lXwindow... no
could not find any!  Using -lX11.
checking for main in -lXbsd... no
checking whether to use xft... no
checking for X11/XKBlib.h... no
checking whether XKeycodeToKeysym is deprecated... yes
checking whether to try to use XScre

[2015-10-20 14:44] kennedydane commented on #1960
I think I'm getting the same problem. I was trying to build `FFTW-3.3.4-gompi-2015b.eb` and it failed on `binutils-2.25.eb`... I'm new to eb though, so I don't understand what the fix is...

[2015-10-27 14:07] boegel commented on #639
fixed with #1241

[2015-10-28 22:04] riccardomurri opened #2095 "build of GMP 6.0.0a fails because of missing M4 dependency"
The `./configure` step of GMP 6.0.0a checks for the `m4` preprocessor
and stops if it's not found::

        checking for suitable m4... configure: error: No usable m4 in $PATH or /usr/5bin (see config.log for reasons).

However, the `GMP-6.0.0a-foss-2015a` easyconfig does not list M4 as a
dependency, and neither does any other GMP easyconfig on my system
(running EasyBuild 2.3.0).

[2015-10-28 23:42] boegel commented on #2095
That's a bug, it's not uncommon that dependencies that are typically available in the OS are not included in easyconfigs...

@riccardomurri: up for issuing a PR to fix this for the most recent GMP easyconfigs (i.e., 6.0.0 and more recent)?

Or maybe @wpoely86?

[2015-10-29 01:03] riccardomurri commented on #2095
@boegel done with PR #2096

[2015-10-29 13:32] jas02 opened #2100 "icc can't compile std::vector with GCC 5.x headers"
Hi,

from Intel icc 2015.3 to current 2016.0.109 there is problem with GCC 5.x headers.

Please see https://software.intel.com/en-us/forums/intel-c-compiler/topic/565143

Problem won't be probably fixed so fast, because is present for some time now, without fix or workaround.

Please do not create new Intel toolchain 2016.00 with GCC 5.2.0 headers, but with 4.9.3 instead.

Easyconfigs are in PR #1

[2015-10-29 14:06] wpoely86 commented on #2100
@jas02 thanks for letting us know. We will keep an eye on this.

[2015-10-30 08:20] boegel commented on #1863
maybe #2102 fixes this problem?

[2015-11-09 20:24] rjeschmi commented on #1822
Same problem. Thanks for the fix (I guess we should add it as an OS dep or soemthing?)

[2015-11-10 03:06] boegel commented on #1822
Making it a OS dep would help in catching this.

The other alternative is to add a Perl version that provides `Thread::Queue` as a dependency for Automake...

[2015-11-11 14:05] ocaisa opened #2131 "Paraview/ParaView"
I guess we're stuck with it now but the actual name is [ParaView](http://www.paraview.org/) not Paraview :(

[2015-11-11 14:33] ocaisa commented on #2131
See #2132

[2015-11-11 22:03] tvandera opened #2134 "Python 2.5 build fails linux 3.x"
Python 2.5 (e.g. 2.5.6-gompi-1.4.12-no-OFED-bare) fails to build on Linux systems with a kernel version >= 3.0. The reason seems to that it fails to generate .py files from system headers:

From the build log:

This step does not happen on Linux 2.x systems. The files have been pre-generated.

[2015-11-11 22:05] tvandera commented on #2134
Attached full log

[easybuild-Python-2.5.6-20151002.154331.dQKOL.log.txt](https://github.com/hpcugent/easybuild-easyconfigs/files/32359/easybuild-Python-2.5.6-20151002.154331.dQKOL.log.txt)

[2015-11-13 12:36] verdurin opened #2137 "R update to 3.2.3"
I'm working on updating the Bioconductor bundle to 3.2, and at least some of the R packages require R 3.2.2.

Could we make that update? I'm happy to do that myself, if others agree.

[2015-11-14 05:27] boegel commented on #2137
@verdurin: I see no reason why you can't look into that. :-)
Ideally, all the R packages included in the R easyconfig should also be updated to their latest version.

There is some scripting available for that somewhere, don't do that by hands unless you're OK with going nuts on this. :P

[2015-11-14 07:46] verdurin commented on #2137
Having been doing it manually so far, I would very much welcome a pointer to any relevant scripts...

[2015-11-26 08:35] lekshmideepu opened #2156 "How to remove the build options?"
I am an entry level user of easy build. I would like to remove one option (-DGC_DEFAULT_PLATFORM=\'openPBS\)  from the below build step method for the software GATE-6.2. I couldn't find this in the eb file as "build opts".
Could someone help me with this?
eg:
[build_step method]
  running command " make -j 48  LD="$CXX -L$EBROOTICC/compiler/lib/intel64"  CC="icc" CFLAGS="-O2 -xHost -ftz -fp-specul

[2015-11-26 10:58] boegel commented on #2156
@lekshmideepu: welcome to the wonderful world of EasyBuild! ;-)

The GATE easyblock (see http://easybuild.readthedocs.org/en/latest/Concepts_and_Terminology.html#easyblocks) is responsible for added the `-DDGC_DEFAULT_PLATFORM` option to the `make` command, see https://github.com/hpcugent/easybuild-easyblocks/blob/master/easybuild/easyblocks/g/gate.py#L88 .

The `default_platform` easyconfig param

[2015-11-26 11:22] boegel commented on #2156
@lekshmideepu: if this answers your questions, please close this issue

[2015-11-26 11:42] lekshmideepu commented on #2156
@boegel : Thanks a lot for the prompt response!

[2015-11-26 11:42] #2156 closed

[2015-11-30 13:35] fgeorgatos commented on #1822
+1 , bitten by it once more today ;-)

IMHO, making failed documentation steps to block the complete build process is not appropriate nor is it to chain underneath a full build of Perl (or that should be a tunable).

Anyway, for the time being the solution on my end -for a Fedora/22 box- has been:
`dnf install perl-Thread-Queue.noarch`

[2015-11-30 14:42] rjeschmi commented on #1822
@fgeorgatos I don't understand what you think is appropriate. Do you disagree with making the OS dep?

[2015-11-30 17:46] fgeorgatos commented on #1822
@rjeschmi :

I have seen again other builds fail due to a missing documentation build step (typically perl), and I put forward the question if we should really consider that a blocker. Ideally, I'd like that to be chosen!
(we need not stop what we do today, with osdeps, just consider if we can do it better)

[2015-12-02 08:49] wpoely86 commented on #1960
@kennedydane Can you give us the debugging output? Run `eb` with the `-d` option.

[2015-12-02 08:54] boegel commented on #1960
@kennedydane: I just noticed your question remained unanswered, very sorry about that... :(
Did you manage to figure out the problem? Do you have a zlib module available on your system that was not installed using EasyBuild (see also https://github.com/hpcugent/easybuild-framework/issues/1385)?

[2015-12-02 12:07] iotaka opened #2176 "QT foss-2015a missing dependencies on CentOS6"
`eb PyQt-4.11.4-foss-2015a-Python-2.7.9.eb --robot`

it fails when compiling QT with the error

`Project ERROR: Package gstreamer-app-0.10 not found`

if is not installed the following package on a CentOS 6:

`yum install gstreamer-plugins-base-devel`

[2015-12-05 00:34] verdurin opened #2188 "Problem building GCC/4.9.3-binutils-2.25"
On a F23 system with EB 2.4.0:

[code]

There are errors like this in the log:

[code]

[2015-12-05 07:51] boegel commented on #2188
@verdurin: do you still have `/home/adam/.local/easybuild/build/GCC/4.9.3/dummy--binutils-2.25/gcc-4.9.3/obj/fixincludes/config.log` around? Can you share it's contents (maybe via a gist)?

[2015-12-05 08:49] verdurin commented on #2188
@boegel - it's here:

https://gist.github.com/verdurin/a467ff65f748a72ec74e

[2015-12-09 14:40] hajgato commented on #1315
Ok, I have a system where
[code]
cause a problem:
[code]
So its not the solution.

According to my opinion we have to investigate the EB installed ncurses when system ncurses/tlib are present.

[2015-12-10 09:48] wpoely86 commented on #2188
Okay, this is weird. It's a Fedora 23 system? I think we're hitting this:
https://gcc.gnu.org/onlinedocs/libstdc++/faq.html#faq.how_to_set_paths
Which is weird. The system `libstdc++` has `GLIBCXX_3.4.21` so not sure what the problem is here. Will try to reproduce.

[2015-12-10 10:00] wpoely86 commented on #1315
Okay, I digged this one a bit. As it's a complete pain in the butt.

`libreadline` needs some terminal info. It can get this from `libtermcap` or `ncurses`, which are (as far as I understand it) API but not ABI compatible. On most (=all the ones I looked at) systems, `libtermcap` just gives a redirect to `libtinfo`. This libraries is created by splitting a part of the main `ncurses` library becaus

[2015-12-10 10:08] boegel commented on #1315
@wpoely86: should we remove the `preconfigopts = " LDFLAGS='-ltinfo' "` the is used in existing `ncurses` easyconfigs in `develop` until we figure this out fully?

It shouldn't have been there since https://github.com/hpcugent/easybuild-easyconfigs/pull/1670 was never merged because of a fear of fallout (which was justified, it seems)?

[2015-12-10 10:15] wpoely86 commented on #1315
Either remove it or add a os dep on `ncurses-devel`. It will be present on all modern systems but @hajgato hit the problem that the `so` is not installed by default.

[2015-12-10 10:19] boegel commented on #1315
The actual fix we're going to put in place is going to be different than using `preconfigopts = " LDFLAGS='-ltinfo' "`, right? So, my vote goes to trashing it for now.

[2015-12-10 10:21] wpoely86 commented on #1315
well, my proposed solution is:
[code]

[2015-12-10 10:23] boegel commented on #1315
@wpoely86: can you look into a PR that trashes the `-ltinfo` trick, and then another with your proposed solution (on one libreadine easyconfig, for now)? so we can test the latter at lenght

[2015-12-10 10:25] hajgato commented on #1315
Why dont we provide `libtermcap` as well? As Debian does just a symlink to `libncurses`?

[2015-12-10 10:25] hajgato commented on #1315
^ as a module or in `ncurses`?

[2015-12-10 10:28] boegel commented on #1315
@hajgato: you mean, symlink `libncurses.a` to `libtermcap.a` in the `ncurses` module?

[2015-12-10 10:28] wpoely86 commented on #1315
no, we don't need to prove `libtermcap` is will be present on the system. We could create a `libtinfo` symlink to `libncurses` in the ncurses module. But that might really interfere with systems tools...

[2015-12-10 10:32] hajgato commented on #1315
maybe.  Anyway, readline has a ncures dep, so `preconfigopts = " LDFLAGS='-lncurses' " ` seem to be safer.

[2015-12-10 10:48] wpoely86 commented on #1315
@hajgato Could you test the `libreadline` you need from #2206 ?

[2015-12-11 23:25] boegel commented on #2131
follow-up in #2132

[2015-12-11 23:25] #2131 closed

[2015-12-12 11:58] verdurin commented on #2188
Yes, Fedora 23.

[code]

[2015-12-12 16:36] boegel commented on #1315
fixed in #2206

[2015-12-12 16:36] #1315 closed

[2015-12-12 20:21] wpoely86 commented on #2188
@verdurin Can you rebuild `binutils` with the following easyconfig: https://gist.github.com/0f247818f344fd688cf3

and then try building `GCC` again?

[2015-12-12 20:26] boegel commented on #2188
@wpoely86: what's the key change there?

[2015-12-12 20:34] wpoely86 commented on #2188
@boegel `rpath` for system `glibc` in the `binutils` used for building `gcc`

[2015-12-13 00:35] verdurin commented on #2188
@wpoely86: Yes, that worked. I was able to build `HPL` for `foss2015b`, including that version of `GCC`, after building the custom `binutils`.

[2015-12-13 09:38] boegel commented on #2188
OK, that's good.

@wpoely86: PR for this? Should we also rpath `/lib` to be sure?

[2015-12-13 14:03] wpoely86 commented on #2188
`/lib` is only for 32 bit on Fedora. In principle, we should add both `/usr/lib64` and `/lib64` but for Fedora, these are the same.

[2015-12-13 16:37] boegel commented on #2188
@wpoely86: I suggest you open a PR that uses rpath for both `lib64` and `/usr/lib64`? Would be nice to get that in for EB v2.5.0...

[2015-12-13 21:09] boegel commented on #2100
seems like it's still a problem, even with icc 16.0.1...

"number one priority", they said...

[2015-12-14 22:28] nathanhaigh commented on #2095
I'm new to easybuild, so forgive my ignorance. On Ubuntu the package is `autotools-dev`. How does that get specified/dealt with in an easyconfig file?

[2015-12-14 22:50] boegel commented on #2095
@nathanhaigh: in EasyBuild, we typically don't make a distinction between devel and non-devel packages

You can include `Autotools` (which is a bundle with `Autoconf`, `Automake` and `libtool`, cfr. https://github.com/hpcugent/easybuild-easyconfigs/tree/master/easybuild/easyconfigs/a/Autotools) as a build dependency, see https://github.com/hpcugent/easybuild-easyconfigs/search?utf8=%E2%9C%93&q=aut

[2015-12-14 23:10] nathanhaigh commented on #2095
@boegel Got ya! Thanks for the clarification! :)

[2015-12-15 01:13] nathanhaigh opened #2224 "hwloc issues"
I'm trying really hard to get started with easybuild but I'm hitting issues with hwloc. It appears that something is amiss with the http://www.open-mpi.org/ website for versions older than 1.9 (what it now classes as "ancient").

The site seems to just hang for those downloads. This means that any tools that I try to install using easybuild, which has a dependency on hwloc < 1.9 won't install as t

[2015-12-15 02:22] nathanhaigh commented on #2224
It appears things have fixed themselves and I can now access the hwloc files. However, I'd still like to get some pointers on the latter question.

[2015-12-15 07:40] boegel commented on #2224
The auto-download mechanism in EasyBuild is best effort, all kinds of things can go wrong upstream, as you've experienced.

You can download the `hwloc` tarball manually, and 'feed' it to EasyBuild in the source path (see http://easybuild.readthedocs.org/en/latest/Configuration.html#sourcepath) to dance around any auto-download issues.

You can also fiddle with the versions in the `.eb` files, sur

[2015-12-15 15:09] nathanhaigh commented on #2224
Thanks, I'll look into maintaining my own set of easyconfig files.

[2015-12-15 15:09] #2224 closed

[2015-12-15 17:57] boegel commented on #2188
@wpoely86: ping on PR for this modified binutils easyconfig?

[2015-12-15 20:17] wpoely86 commented on #2188
Can be found in #2228

[2015-12-15 22:58] boegel commented on #2188
OK, let's close this one then (we have enough open issues as is, I like to avoid having duplicates).

Do mention this issue ID in the description of #2228 though!

[2015-12-16 09:28] #2188 closed

[2015-12-17 11:42] wpoely86 opened #2236 "OpenFoam decompose libraries"
We should check if the decompose libraries of OpenFOAM actually work.
The files:

[code]

There seems to be only a `dummy` version. The build log tells us:

[code]

cc @besserox

[2015-12-18 15:40] JackPerdue opened #2241 "M4-1.4.17.eb needs to be a runtime dep of Bison-3.0.4.eb (not builddep) at least on RHEL5"
Testing the new GCCcore on my systems.  So far so good on RHEL6, both x86 and Power7.  But RHEL5 x86 won't let me build binutils-2.25 using Bison with M4 as a builddep because the build of binutils at one points invokes "m4 --gnu <etc>" and the stock m4 on RHEL5.11 (currently using m4-1.4.5-3.el5.1.x86_64) doesn't support "--gnu".

Changing M4 to a runtime dep for Bison fixes that.

[2015-12-18 18:23] JackPerdue commented on #2241
Note that on RHEL5, I also had to make the following change to M4-1.4.17-GCCcore-4.9.3.eb:
<pre>
18a19

</pre>

else I get a lot of duplicate symbols from stdio.h (and others).  e.g. fgets

Has the new GCCcore been tested on RHEL5? (either via the EB test framework or by an individual)
I'm just curios if these problems are somehow related to our particular setup.

[2015-12-18 18:41] JackPerdue commented on #2241
Note I had the same problem as the first post with Bison-3.0.4-GCCcore-4.9.3.eb/M4-1.4.17-GCCcore-4.9.3.eb.   If M4 is only a builddep then when I try to build binutils-2.25-GCCcore-4.9.3.eb, it falls back to the system M4 which fails with the '--gnu' flag.

[2015-12-19 22:28] besserox commented on #2236
What is the issue here? Did you notice any problem with the decompose libraries?

At first glance, I would say that ptscotchdecomp is the only one supporting mpi. The others (scotchdecomp and metisdecomp) are only sequential, thus they only appear in dummy.

[2015-12-20 14:10] wpoely86 commented on #2236
I'm not sure if there is an issue. We had issues with OpenFOAM-Extend and it's not clear if they also affect OpenFOAM.

Somebody with some knowledge of OpenFOAM should verify that everything works and is as it should be. The two `could not open file` errors are harmless?

[2015-12-22 23:18] JackPerdue commented on #2241
FWIW (for future reference before I forget during the holiday), here's a diff of the changes I had to make for RHEL5.  Still not sure if this is a local problem or not.

[rhel5_6_2.50.diff.txt](https://github.com/hpcugent/easybuild-easyconfigs/files/70312/rhel5_6_2.50.diff.txt)

[2015-12-26 08:24] verdurin opened #2242 "samtools version documentation?"
I'd like to submit a PR for the new samtools 1.3 release, but I'm somewhat confused by all the different version of samtools easyconfigs that are currently available. Is there some documentation of their purpose somewhere?

[2015-12-27 17:43] boegel commented on #2242
@verdurin: I'm only seeing easyconfigs for SAMtools with different toolchains + some that use an external HTSlib (cfr. #1492)?

Other than the easyconfigs themselves, and the PRs through which they were added, there's no documentation.

[2016-01-04 02:26] nathanhaigh opened #2246 "EasyConfig for BioKanga"
**BioKanga** is an integrated toolkit of high performance bioinformatics subprocesses targeting the challenges of next generation sequencing analytics. **Kanga** is an acronym standing for "K-mer Adaptive Next Generation Aligner".

http://sourceforge.net/projects/biokanga

[2016-01-04 08:56] boegel commented on #2246
@nathanhaigh: if you're planning to open a pull request, there's no need to open an issue as well; the pull request itself serves as an issue too, so you're only creating duplicate issues this way

Please close this, let's follow up in #2247

[2016-01-04 10:15] #2246 closed

[2016-01-04 23:44] nathanhaigh opened #2251 "Building a tool using Go"
I've written an easyconfig for the binary version of `hub` (#2249) and am trying to write another easyconfig to build `hub` from source. The build depends on `Go` and I need to run the following build command to generate the executable `hub`:

[code]

I'm using the `CmdCp` easyblock, but I'm confused what to set, if anything, as the toolchain. I had thought to specify `Go`, but that isn't a toolch

[2016-01-05 09:08] boegel commented on #2251
The toolchain indicates using which set of C/C++/Fortran compilers the whole software stack is built, so using `GCC` in this case as toolchain, and then including `Go` as a dependency makes sense.

In theory, we can look into defining a Go-based toolchain, but it's probably not worth the effort. The largest reason for the whole toolchain mechanism is to set up the build environment, which is proba

[2016-01-05 23:48] nathanhaigh opened #2261 "Make failing for Tk-8.6.4-foss-2015b-no-X11.eb"
Trying to install this (a Python dependency) and I get errors from `make` like this:

[code]

I assumed that since this is for `no-X11` then then I should get an error-free build. Am I missing something? For someone who know this stuff better than me, the following link may help: http://wiki.tcl.tk/1843.

Does it require a dependency adding for supplying these headers or should the ones supplied b

[2016-01-06 07:13] boegel commented on #2261
The intention is indeed that this Tk build doesn't require X11 headers, which is why we specify `--without-x` as a configure option, but it apparently still those.

This is a known issue (to me), and I thought there was an open issue for this already, but I couldn't find it... I think @verdurin ran into this too?

[2016-01-08 15:21] claczny opened #2286 "BioPerl installation fails apparently due to missing LWP::UserAgent"
Hi,

I have, after some struggles, succeeded to build and install Perl as an easybuild and wanted to install BioPerl via `eb BioPerl-1.6.923-ictce-5.5.0-Perl-5.18.2.eb --try-toolchain=foss,2015b -r`.

However, it fails and it seems to me related to the following message in the log

[code]

which, to me suggest that the Perl module LWP::UserAgent is missing, but I may be wrong.

Looking forward to

[2016-01-08 18:28] citibeth opened #2290 "Build GCC on a Mac"
EasyBuild doesn't currently successfully build GCC on a Macintosh.

[2016-01-08 18:29] citibeth opened #2291 "Build CMake on a Mac"
EasyBuild doesn't currently build CMake on a Mac.

[2016-01-08 18:29] citibeth opened #2292 "Build Boost on a Mac"
EasyBuild doesn't currently build Boost on a Mac

[2016-01-08 19:41] boegel commented on #2292
@citibeth: care to mention the exact problem you're running into? also, which Boost version & toolchain?

[2016-01-08 19:41] boegel commented on #2291
version? errors? toolchain?

[2016-01-08 19:41] boegel commented on #2290
which GCC version? which errors are you running into?

I believe you also had a workaround?

[2016-01-08 19:43] citibeth commented on #2291
The toolchain here was provided by MacPorts.
Sorry, no errors in the bug report at this time.
[code]

[2016-01-08 19:49] citibeth commented on #2292
The toolchain is provided by MacPorts:

[code]

[2016-01-08 19:49] citibeth commented on #2292
Here is the log file (attached).
[boost_log.txt](https://github.com/hpcugent/easybuild-easyconfigs/files/83193/boost_log.txt)

[2016-01-08 19:53] citibeth commented on #2290
It failed in Stage 2, I believe --- or after Stage 1.

I use MacPorts for anything I can't compile with EasyBuild.   The downside is, everything in MacPorts is enabled/disabled all at once by the module system.  As long as it's toolchain-type of software, that works fine.

Here's the MacPorts configuration I'm using for my toolchain at this point:
    https://github.com/citibeth/usermacports/blob/

[2016-01-09 12:30] claczny commented on #2286
Update - 20160109:
After finding out that the Perl easyconfig includes a list of Perl modules that are installed right away, I tried to include those that appeared to me to be necessary for the LWP module and thus for BioPerl via http://deps.cpantesters.org/?module=LWP;perl=latest

This lead me to include the following after
[code]
into the easyconfig:
[code]

and
[code]

at the very end of `ext_l

[2016-01-09 12:36] boegel commented on #2286
For which of the extensions is the `make test` failing here?

Not that you can avoid having to rebuild Perl + all extensions using `--skip --force`, cfr. http://easybuild.readthedocs.org/en/latest/Partial_installations.html#partial-installation-skip

[2016-01-09 12:44] claczny commented on #2286
It seems to me (no expert) to be failing for libwww-perl (a.k.a. LWP), i.e., the last extension in the list, see also:

[code]

[2016-01-09 13:11] boegel commented on #2286
@claczny: try running with debugging enabled, it'll give you a little bit of more information

Maybe this helps: https://mail-archives.apache.org/mod_mbox/spamassassin-users/201108.mbox/%3Calpine.LNX.2.00.1108120607060.4574@athena.impsec.org%3E

[2016-01-09 13:14] boegel commented on #2292
This seems be give a hint:

[code]

It's a weird error message though...

[2016-01-09 13:29] claczny commented on #2286
@boegel Thanks! Will try with debugging enabled.

Your link refers to LWP/Protocol/**http**.pm, but the problem here seems to be LWP/Protocol/*ftp**.pm.
Nevertheless, they may be related.

How about specifying the extension only for BioPerl, rather than for Perl? Or is this more difficult?

[2016-01-09 13:32] boegel commented on #2286
You could do something like: https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/r/R-bundle-pbd/R-bundle-pbd-20150605-intel-2015a-R-3.1.3.eb

[2016-01-09 15:05] citibeth commented on #2292
I've had good luck looking at MacPorts recipes to figure out what's going
on.  If the recipe is full of a dozen patches and workarounds, then we know
it's not an easy build.  Someone would have to translate all those patches
to EasyBuild.

I suppose that could be automated.  Maybe an EasyBuild that can apply
relevant portions of MacPorts recipes.  Or read MacPorts recipes and
translate them to Eas

[2016-01-09 16:26] sjtbham commented on #2137
I had a go at doing a 3.2.3 package (yes I manually went down and sorted the versions of extensions as well as re-ordering and new deps). I've managed to build it with the boss 2015b toolchain, however I can't get it to build with iomkl 2015.03 (I don't have intel MPI, so can't try a straight intel 2015b one).

When building with iomkl, I get:
installing to /gpfs/apps/EL7-haswell/software/R/3.2.3-

[2016-01-09 16:34] boegel commented on #2137
@sjtbham: great, thanks for going through the effort and sharing it!

Maybe trying to statically link libstdc++ in Rcpp can help, cfr. http://stackoverflow.com/a/25482925/1467322

[2016-01-09 16:49] boegel commented on #2137
@verdurin: I never answered your question... There was some talk on this on the ML, but it seems like the script that Pieter was working on never surfaced.

Maybe revive that thread?

[2016-01-09 21:42] boegel commented on #2261
@nathanhaigh: it looks like including `libX11` as a *build* dependency for `Tk` may work, it's basically the same as option 2 suggested at http://wiki.tcl.tk/1843. That sounds easier than it is though, because the recent `libX11` easyconfigs include Python as a dependency.. :-)

I'm puzzled why the X11 headers are required at all, when Tk is being configured using `--without-x`...

One option ther

[2016-01-09 23:07] boegel commented on #2241
inline patch provided y @JackPerdue below

@JackPerdue: any updates on this?

[code]

[2016-01-09 23:15] boegel commented on #2134
@tvandera: thanks for logging this, I think @geimer ran into a similar issue a while ago

Not sure if this is easily fixed tough... Why do you need an old Python on a recent system? You're bound to run into problems in that case...

[2016-01-10 14:22] claczny commented on #2286
OK, it turned out that it IS due to LWP::UserAgent missing.
After discovering and correctly providing what the LWP module needs, I could get an extended version of the Perl easyconfig working which you can find at https://gist.github.com/claczny/e31374e3446b9ce88833 .
However, I am now facing a different problem that the BioPerl easybuild does not correctly load the extended Perl version as I am g

[2016-01-11 07:02] claczny commented on #2286
Found out that the problem was that `DB_File` was depending on the UNextended `Perl`.
Changed it accordingly and it is now running through all the steps, however failing at `sanity checking` with:
[code]

The `/share/easybuild/software/BioPerl/1.6.923-foss-2015b` directory is indeed empty.

Inspecting the `PerlModule` easyblock, I found https://github.com/hpcugent/easybuild-easyblocks/blob/master/

[2016-01-11 23:15] nathanhaigh commented on #2261
@boegel I was in touch with some Tk folks on irc. No one really seemed to know what `--without-x` was supposed to do other than potentially mess things up! I'll get in touch with CL via the page you linked to.

I tried a couple of things:

  1. point `./configure` to `%(builddir)s/%(namelower)s%(version)s/xlib`.
    * This picked up the X11/Xlib.h but then other header files were required and not

[2016-01-11 23:40] nathanhaigh commented on #2261
Just done some investigation of builds using `--without-x` and `--with-x` on my system which has `libx11-dev` package installed.

There is no difference (via `md5` checksums) in the files residing under EB's `software` directory. So it doesn't appear to have any effect anyway.

[2016-01-12 00:27] nathanhaigh opened #2313 "Missing dependency for GObject-Introspection"
`flex` is a dependency of `GObject-Introspection` and is missing from the 3 easybuild configs.

[2016-01-15 08:07] DirkdeDraak commented on #2241
To confirm to @boegel , yes this is what I also found. M4 should be a dependency, rather than a builddependency.

[2016-01-16 09:29] boegel commented on #2241
Is requiring M4 next to Bison specific to binutils, or have you also seen this occur with other builds?

It looks like the binutils build procedure requires `m4`, rather than Bison calling `m4` at runtime?

If that's indeed the case, then the right solution is the add M4 as a build dep to binutils, rather than making M4 a runtime dep of Bison?

@JackPerdue: I don't think a lot of testing on RHEL5-

[2016-01-16 14:13] JackPerdue commented on #2241
I guess its more a builddep of binutils than a rundep of Bison.  I'll have to see what happens if I make that change.

[2016-01-17 13:57] boegel commented on #2095
Let's follow-up in #2096, thanks for looking into this @riccardomurri!

[2016-01-17 13:57] #2095 closed

[2016-01-18 16:16] damianam opened #2334 "xFLAGS in MPICH2, MVAPICH2 and potentially other MPICH2 derivatives"
MPICH2 and its derivatives have an obscure "feature" that can potentially affect all the sites that use EB. As can be checked in the README file, popular environment variables like CFLAGS (among others) are used to compile the runtime, but they are added in the configure step to mpixxx wrappers (mpicc, mpicxx, etc). That means that compiling the MPI runtime with -O2 -g results in users compiling t

[2016-01-18 20:48] boegel commented on #2334
Waw, this is... interesting.

Here's what I have:

[code]

and

[code]

I think in general, the optimisation flags you specify will 'win' over the ones embedded in the MPI compiler wrappers, but still, this is a mess.

So, basically, we need to use `$MPICH2LIB_CFLAGS` rather than `$CFLAGS` when building MPICH v2.x and v3.x, and whatever the equivalent is for MVAPICH2.

This is a very good reason t

[2016-01-19 10:38] jgphpc opened #2338 "CrayPGI support"
Trying new easyconfig for PGI support => easyconfigs/c/CrayPGI/CrayPGI-5.2.82.eb

This is related to:
* https://github.com/hpcugent/easybuild-framework/issues/1536
* ~~https://github.com/hpcugent/easybuild-framework/pull/1342~~

This is my very first time doing this, apologies in advance if i am mistaking.

[2016-01-19 11:04] damianam commented on #2334
I think it makes sense to have an easyblock to handle MPICH2 and all its derivatives compiled from source (which excludes Intel MPI, among others), and simply account for the differences between them. Alternatively, having an easyblock to handle MPICH2, and make the MVAPICH2 easyblock inhering from the new easyblock also looks appropriate.

The MVAPICH2 developers acknowledge the issue in their di

[2016-01-21 12:50] boegel commented on #2241
@JackPerdue: did you get a chance to play with this?

[2016-01-21 16:49] verdurin commented on #2137
Just tried that easyconfig and I see the following dependency errors:

[code]

[2016-01-22 01:09] JackPerdue commented on #2241
@boegel: I managed to get this far
<pre>
[jack@login006 eos]$ ls -alR | grep 'Jan 21'
-rw-r--r-- 1 jack staff  1557 Jan 21 17:00 binutils-2.25.eb
-rw-r--r-- 1 jack staff   594 Jan 21 17:00 Bison-3.0.4.eb
-rw-r--r-- 1 jack staff   729 Jan 21 17:00 Bison-3.0.4-GCC-4.9.3-binutils-2.25.eb
-rw-r--r-- 1 jack staff  1473 Jan 21 17:00 GCC-4.9.3-binutils-2.25.eb
-rw-r--r-- 1 jack staff   859 Jan 21 17:00 M

[2016-01-22 01:17] JackPerdue commented on #2241
In short... this probably needs to wait until after 2.6.0. I think you're right in what I changed but I haven't been able (had time) to rebuild to verify (new semester here started Tuesday). Same for any IBM XL .eb's I come up with based on this new approach to bootstrapping... probably won't make 2.6. If someone has problems on RHEL5 we can always point them here (or something).

[2016-01-22 09:46] boegel commented on #2241
@JackPerdue: build dependencies are now marked in the output of `--dep-graph` thanks to https://github.com/hpcugent/easybuild-framework/pull/1548; I guess we can extend on this to also mark the toolchain part, and maybe even to indicate which easyblock would be used
The closest thing to text output we support now is making `--dep-graph` spit out a `.dot` file, which is more-or-less human readable.

[2016-01-23 14:34] boegel commented on #2137
@verdurin: can this be closed and followed up in #2364?

[2016-01-23 20:05] boegel commented on #2334
@damianam: let's discuss this next week, @ocaisa mentioned that a single generic easyblock to cover all MPICH2-based MPI libraries may not work out well due to too many subtle differences between the different MPI libraries

[2016-01-23 21:46] verdurin commented on #2137
Yes, makes sense.

[2016-01-23 21:46] #2137 closed

[2016-01-25 09:57] ocaisa opened #2371 "Building GCC on to top of GCCCore"
There is a subtle issue with GCC on top of GCCCore, if you list GCCCore as a dep of GCC then the libs of GCCCore take precedence when you use GCC as a toolchain because of how `LD_LIBRARY_PATH` and the linker flags are set up. The solution is to set GCCCore as a build dep but this leads to a problem in a hierarchical scheme as you will not get the modulepath extension to access the binutils built

[2016-01-25 10:05] verdurin commented on #2037
A minor update in that I've tried this again with foss-2015b and the same thing happens, even with the locale change.

[2016-01-28 11:18] sguera opened #2384 "error installing flex 2.5.39 on a clean system"
Hello,

trying to install a GCC-4.9.3-2.25.eb on a clean system, we ended up installing flex-2.5.39. At configuration phase, flex checks for M4. We listed M4 as dependency, but at the time flex looks for it (configure time) it has still not been loaded thus resulting in an error.

We bypassed the problem adding the following lines to flex-2.5.39.eb:

preconfigopts = "ml M4/1.4.17 && "
builddepende

[2016-01-29 14:01] damianam commented on #2334
@boegel the result of the discussion was that basically all derivatives compiled from source are still `./configure && make` packages. Pulling the configure options into the "base" MPICH easyblock is not a smart idea because of the differences. For instance ParaStationMPI has a multistaged configure step, where the options passed to initial configure are completely different than for MPICH or MVAP

[2016-02-05 01:34] JackPerdue commented on #2241
Ken, no, I don't think you are missing anything.  I just want to rebuild from the start to make sure I'm not missing anything.  But there is a lot going on here (new boss with the new year and we will be moving offices next week far across campus, while trying to keep everything running and everyone happy... plus I've been distracted by trying to figure out a papiex[*] build for EB... and filing e

[2016-02-09 12:40] nathanhaigh commented on #1935
I've just come across this on my Ubuntu systems.

One solution is to add `libGLU` as a dependency. However for my toolchain (foss-2015b), this would mean a load of new easyconfigs. If this is the way to go I can start a PR?

[2016-02-10 04:13] nathanhaigh opened #2465 "Bioconductor 3.2 exts_list Packages"
I'm looking at creating a new easyconfig for `R-bundle-Bioconductor` and was wondering how best to populate/update the packages and versions specified in `exts_list`. Should this be installing all packages for bioconductor?

[2016-02-12 14:38] damianam opened #2477 "Ferret easyconfigs leave an unfinished installation"
@boegel , @wpoely86 you are the listed contributors to these easyconfigs, so you are probably interested.

In Ferret (and PyFerret), there is an installation step that is missing in current easyconfigs/easyblocks (see http://ferret.pmel.noaa.gov/Ferret/downloads/ferret-installation-and-update-guide#Installing_Executables). The installation can't be considered completed until this step is executed.

[2016-02-12 17:15] fgeorgatos opened #2479 "deap-0.9.1: detected (once more) an upstream change without version update; whatever"
However, a fraction of the changes are not typos and seem as strong indications of potential trouble;
N.B. **deap is an extension used across several popular Python builds**.

Feel free to close this issue as soon as you see it, I just raise it here for documenting one such case;
(this is not really an EasyBuild problem per se; such issues should be handled via Binary Repos)

somewhere in the midd

[2016-02-12 17:18] fgeorgatos commented on #2479
btw. this would not be so important, if it wasn't part of Python-2.7.3-goolf-1.4.10.eb and so many other things; it makes me wish to ban such packages from default Python builds...

[2016-02-12 17:59] boegel commented on #2479
Wait, are you saying they're changing the source tarball for an *old* version?!

[2016-02-12 18:00] boegel commented on #2479
https://pypi.python.org/pypi/deap/0.9.1 says the tarball was uploaded Feb'14 (and PyPI doesn't easily let you replace a tarball 'in place' without bumping the version)

[2016-02-13 09:20] boegel commented on #2465
@nathanhaigh: we typically bump the versions of all extensions that were listed in the most recent previous version

The list of extensions typically grows as the need arises (since reinstalling only missing extensions is easy, cfr. http://easybuild.readthedocs.org/en/latest/Partial_installations.html#partial-installation-skip).

How large is the list of all Bioconductor extensions? If it's doable

[2016-02-13 10:56] boegel commented on #1935
I don't think including Mesa as a dependency in the R easyconfigs just because of a single extension is a good idea...

So, we should flesh out `rgl` (and any extensions that depend on it) in a separate bundle, which includes `Mesa` as a dependency?

[2016-02-15 13:00] nathanhaigh commented on #2465
Could be over 1000 in it's entirety (https://www.bioconductor.org/packages/3.2/BiocViews.html#___Software). The core packages would be significantly less but I'm not sure how many at this stage.

The following should return all the package names for bioconductor:

[code]

[2016-02-15 14:52] boegel commented on #2465
Well, are you up for maintaining an easyconfig file that lists ~1000 extensions? ;)

[2016-02-17 13:54] fgeorgatos commented on #2479
@boegel: that's exactly why I report it, and it would be nice to hear your opinions if you confirm the same experience.

Note that this is not the first time we see such change by upstream, it IS hard to keep track of this:
https://github.com/dzerbino/velvet/commit/d7996318a613d6431190f67d5357faba900c96ac#commitcomment-4622066

[2016-02-17 22:35] jprorama opened #2507 "BFAST-0.7.0a-goolf-1.4.10 depends on GCC 4.7.2 which produces @itemx errors during compile"
The goolf-1.4.10 toolchain uses GCC 4.7.2 which causes @itemx error during the build of documentation for GCC when building on CentOS 7x.

`./../gcc/doc/cppopts.texi:806: @itemx must follow @item`

This error was fixed in GCC 4.7.3:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=52903

The goolf toolchain for BFAST needs to be updated.

[2016-02-18 15:23] sguera commented on #2241
I jump into this, since we had a similar issue while trying to install GCCCore on a new machine with Ubuntu 14.04. I already opened an issue here:
[https://github.com/hpcugent/easybuild-easyconfigs/issues/2384](url)

So far we are not able to go through it, at least not completely since there is always a new issue popping out with this installation.

[2016-02-18 18:36] boegel commented on #2384
@sguera: try this:

use

[code]

rather than

[code]

With the latter, any listed dependencies will indeed not be loaded...

That's a weird quirk in the framework that we need to get rid of, preferably by getting rid of the `dummy` toolchain entirely (cfr. https://github.com/hpcugent/easybuild-framework/pull/1233)

[2016-02-18 19:26] boegel commented on #2100
It seems like this problem is fixed in the new 2016.2.181 release, cfr. https://software.intel.com/en-us/articles/intel-parallel-studio-xe-2016-composer-edition-compilers-fixes-list (look for DPD200365668).

So, do we use GCC 5.3.0 in `intel/2016.02` (cfr. #2523)?

[2016-02-18 19:28] boegel commented on #2507
fixed with #2522, so good to close @jprorama?

[2016-02-18 19:37] jprorama commented on #2507
Yes.

[2016-02-19 11:54] sguera commented on #2384
Hello @boegel,

we solved using

`toolchain = {'name': 'dummy', 'version': ''}`

and adding

`builddependencies = [('M4','1.4.17')]`

to flex-2.5.39.eb and flex-2.5.39-GCC-4.9.3-2.25.eb, since we were trying to install GCC-4.9.3-2.25.eb (on a clean system without M4 available). We also realized that M4 is needed as a builddep of binutils (not present so far in the easyconfigs)

[2016-02-22 22:32] npklein commented on #1205
In case someone else ends up here after searching this problem, remove ```sanity_check_commands = [('python', '-c "import PIL"')]``` and instead add ```options = {'modulename': 'PIL'}``` (from Jack Perdue on e-mail list)

[2016-02-23 08:16] boegel commented on #1205
Oh waw, this one clearly went under the radar somehow...

Sorry for never answering this @GiannisA. :(

[2016-02-23 08:16] #1205 closed

[2016-02-23 08:16] boegel commented on #1205
And thanks @npklein for mentioning the correct thing to do in case someone bumps into this!

[2016-02-25 03:42] rjeschmi commented on #2261
It does feel like we need to fix the base python to remove Tk support and somehow remove this circular unresolvable dep.

For the libX11 PR it still depends on Python which sends us into this hole.

[2016-02-25 05:12] rjeschmi commented on #2261
I resolved this by removing the Tk dep from Python. I don't think it is useful without X11 anyway and we can probably build it as a separate extension if it is needed

[2016-02-25 06:26] hajgato commented on #2261
@rjeschmi I am working on a Pythonless libX11.... See #2549

[2016-02-25 06:27] hajgato commented on #2261
@rjeschmi ignore my comment ;) its too morning for me...

[2016-02-25 10:13] boegel commented on #2261
@rjeschmi: Python without Tk dep is crippled, see https://github.com/hpcugent/easybuild-easyconfigs/pull/2102

[2016-02-27 13:14] #2507 closed

[2016-02-28 13:46] boegel opened #2584 "tcsh build w/ CrayGNU on Sisu segfaults"
The issue with WRF in #2434 on Sisu is because the `tcsh` we build is broken; it segfaults:

[code]

may be related to a bug in `tcsh`, cfr. http://mx.gw.com/pipermail/tcsh/2010-August/004177.html

I also tried the most recent tcsh version (6.19.00), same issue.

[2016-02-28 19:14] boegel commented on #2584
a workaround for this is to use the `tcsh` provided by the OS:

[code]

[2016-03-01 23:25] nathanhaigh commented on #2465
OK, so BioC have a file listing all their software packages in a [Debian Control File](https://bioconductor.org/packages/3.2/bioc/src/contrib/PACKAGES).

I notice in the `R-bundle-Bioconductor` easyconfig files that it states `order of packages is important`. Is this because of package dependencies?

I really don't want to have to manually maintain the order of a list containing 1104 software pack

[2016-03-02 00:05] nathanhaigh commented on #2465
DCF's for the AnnotationData and ExperimentData packages are available here:
https://bioconductor.org/packages/3.2/data/annotation/src/contrib/PACKAGES
https://bioconductor.org/packages/3.2/data/experiment/src/contrib/PACKAGES

[2016-03-04 20:09] nathanhaigh opened #2636 "Glib easyconfigs missing libxml2 dependency"
#2265 highlihted that recent versions of Glib easyconfigs might be missing a libxml2 dependency. Without it, the system installed libxml2 is used. Just waiting on build testing of that PR to confirm.

[2016-03-07 09:11] boegel commented on #2636
Let's follow this up in #2638; I prefer avoiding duplicate 'issues', but opening an issue first so this doesn't get forgotten is a good idea.

Thanks for tackling this yourself @nathanhaigh

[2016-03-07 09:11] #2636 closed

[2016-03-07 12:53] nathanhaigh commented on #2636
Ugh, forgot I already opened an issue! Serve me right for working at 5am while feeding the baby!

[2016-03-07 19:48] nathanhaigh opened #2652 "gettext missing dependencies"
According to the `DEPENDENCIES` file shipped with the latest `gettext`, we have missing dependencies in `gettext`:
- `ncurses` (available as easyconfigs)
- `libxml2` (available as easyconfigs)
- `libiconv` or `glibc >= 2.2` (**NOT** available as easyconfigs)

[code]

[2016-03-08 06:18] nathanhaigh opened #2655 "HDF5 missing fortran dependency"
While trying to install `kallisto` I found that HDF5 wasn't compiling. It was due to f90 not being available on my system. The HDF5 easyblock is looking for an `F90` environmental varaiable being set.

Is there a `fortran` easyconfig or should this be an OS dependency?

[2016-03-08 08:01] boegel commented on #2655
The EasyBuild toolchain mechanism defines `$F90`...

Which toolchain were you using here? Can you share a (debug) log?

[2016-03-08 09:53] gppezzi opened #2659 "matplotlib fails to detect Tk if path is different from Tcl on Cray"
Problem is that setupext.py from matplotlib is guessing Tk path based on Tcl location:
[code]
If, for example, the Tk easyconfig file adds versionsuffix = '-no-X11', the replace is not working and matplotlib fails to detect Tk.

I removed no-X11 versionsuffix as workaround, but it would be nice to understand if Tk is working correctly and how the detection is working in other builds.

More info he

[2016-03-08 15:24] verdurin opened #2670 "--new-pr problem on Fedora 23?"
Just trying `--new-pr` on my Fedora 23 test build machine, and there seems to be a problem...:

[code]

GitPython is installed:

[code]

[2016-03-08 16:42] boegel commented on #2670
@verdurin: do you get the same `ImportError` when running `python -c "import git"`?

[2016-03-08 16:57] verdurin commented on #2670
No, it's fine:

[code]

[2016-03-08 17:48] boegel commented on #2670
That's... weird.

Are you running that when you have `eb` available?

Can you try this?

[code]

and also this:

[code]

[2016-03-08 17:59] verdurin commented on #2670
@boegel - I think you forgot to paste the second thing to try...

[2016-03-08 18:01] verdurin commented on #2670
Actually, this looks like a false alarm. I had a Python module loaded.

With that removed, `eb --new-pr` works as expected.

Might be nice for it to cope better with this situation, but am happy to close if you agree.

[2016-03-08 18:16] boegel commented on #2670
@verdurin: I meant to scratch the 2nd thing to try... ;-)

Well, it kind of works as expected, since `git` is not available for the Python that was active.

I do get that the traceback you were getting was scary.

Rather than raising an `ImportError`, we could raise an `EasyBuildError`, which would have resulted in an error like:

[code]

[2016-03-09 00:11] nathanhaigh commented on #2655
I'm using `foss-2015b`. Here's the `eb-HDF5-1.8.16-foss-2015b-gc3pie-job-*.log` file contents:

[code]

[2016-03-09 07:59] boegel commented on #2655
@nathanhaigh This is not showing us what's actually going wrong...

We need to the contents of the `/tmp/eb-D3bhLL/eb-X9GQPv/easybuild-jlvlIv.log` (well, the equivalent of it), and possibly also the contents of the `config.log` in the build directory.

It's really weird that HDF5 is failing like this, we build it all the time...

I'm unable to reproduce this problem with EasyBuild v2.6.0, or the l

[2016-03-09 17:27] boegel commented on #2670
suggested change is made in https://github.com/hpcugent/easybuild-framework/pull/1662

[2016-03-09 17:27] #2670 closed

[2016-03-10 12:28] boegel commented on #2465
I think installing *all* Bioconductor pkgs is... nuts. :)

I had a need for updating to 3.2, so I did a quick-and-dirty bump of all packages that are included already with:

[code]

I'm likely going to have to deal with missing dependencies that were added in the updated versions, but at least this is a good start.

cfr. https://github.com/hpcugent/easybuild-easyconfigs/pull/2697

[2016-03-10 19:28] nathanhaigh commented on #2465
Can I ask a simple (stupid?) question: why can't `biocLite()` be used within R to do the install of BioC packages?

[2016-03-11 13:33] boegel commented on #2465
@nathanhaigh As far as I know, `biocLite` doesn't allow you to control versions (of either the packages themselves, or its dependencies), which goes against the spirit of EB where we (try to) version-fix everything (at least today).

[2016-03-11 15:50] boegel commented on #2313
@nathanhaigh up for tackling this yourself?

[2016-03-11 15:50] boegel commented on #2134
@tvandera ping? How important is it to really fix this?

[2016-03-11 15:52] boegel commented on #2242
@verdurin Should this still be open?

[2016-03-11 15:54] boegel commented on #2251
@nathanhaigh ok to close?

[2016-03-11 15:56] boegel commented on #1959
ping?

[2016-03-11 16:04] boegel commented on #1863
@verdurin ping? Is this still an issue with #2102 in place?

[2016-03-11 17:24] boegel commented on #2334
This can be closed thanks to https://github.com/hpcugent/easybuild-easyblocks/pull/844?

[2016-03-11 18:32] boegel commented on #1435
@pescobar is this the problem you mentioned during this week's conf call? Any idea on how to fix it?

[2016-03-11 18:41] boegel commented on #2037
@verdurin any updates on this?

[2016-03-11 18:41] boegel commented on #2371
@ocaisa ping?

[2016-03-11 18:47] boegel commented on #2241
@JackPerdue, @sguera: fixed with #2681 ?

[2016-03-11 20:06] boegel opened #2711 "drop -XC suffix for Cray toolchains"
testing @ NCSA has shown that the existing CrayGNU toolchains work just fine on XE/XK systems too, so we should drop the `-XC` suffix in the Cray toolchain definitions...

@gppezzi is looking into this

[2016-03-12 07:28] verdurin commented on #2242
It's fine to close this particular one, but I think we should agree on an approach of documenting variations like this. Otherwise it's a bit impenetrable for new users.

[2016-03-12 07:28] #2242 closed

[2016-03-12 10:23] verdurin commented on #1863
Running a test build now, @boegel

[2016-03-12 11:12] verdurin commented on #1863
Hmm, running the test in a Fedora 23 vagrant box, and saw this error with binutils:

[code]

[2016-03-12 11:13] verdurin commented on #1863
This is with `R-bundle-Bioconductor-3.2-foss-2016a-R-3.2.3.eb`

[2016-03-12 12:02] boegel commented on #2711
fixed with #2714, thanks @gppezzi!

[2016-03-12 12:02] #2711 closed

[2016-03-12 12:22] boegel commented on #1863
@verdurin: this is when installing GCC?

@wpoely86: any idea?

[2016-03-12 12:28] verdurin commented on #1863
It's a brand new Vagrant box so there's nothing on there. This is with binutils, specifically:

[code]

[2016-03-12 12:51] boegel commented on #1863
fixed with https://github.com/hpcugent/easybuild-easyconfigs/pull/2681?

[2016-03-12 22:13] verdurin commented on #1863
No, that's already in the tree I'm using, which is a brand new `develop` as of this morning.

[2016-03-12 23:46] verdurin commented on #2037
Tests still fail with `2.6.0`.

I will update the EB to the recent `1.0.0` release and try that.

[2016-03-13 11:12] verdurin commented on #2037
This fails with an updated easyconfig for `sympy-1.0`.

Will try with the locale hack.

[2016-03-13 14:14] damianam commented on #2334
I think it can :-)

[2016-03-13 14:14] #2334 closed

[2016-03-13 19:42] verdurin commented on #2037
Okay, that attempt failed too (with `$LANG` and `$LC_ALL` set to `en_US.utf8`.

[2016-03-14 10:21] ocaisa commented on #2371
Not sure where to go with this. I can probably do it in the naming scheme reasonably easily and make it work with the shipped HMNS but any other hierarchical scheme that people use would also need a patch. I don't think it's worth the effort and the potential headache. In the next release we are likely to move to GCCcore with GCC5 so by the time it would be in the release it would be obsolete (my

[2016-03-14 10:21] #2371 closed

[2016-03-14 17:37] boegel commented on #1863
@verdurin Then I'll need more details, can you share a full debug log on the binutils install issue?

[2016-03-14 18:19] gppezzi commented on #2659
I did some further testing with Python/2.7.11-foss-2016a, which has Tk/8.6.4-foss-2016a-no-X11 as dependency.

When building matplotlib (`python setup.py  build`) I get this:
[code]

Then I've installed Tk/8.6.4-foss-2016a (dropping the version suffix), I re-ran the same command as above (without loading any new module) and I get this:
[code]

This test was done on a RH6.7, so this is not cray rel

[2016-03-14 18:22] boegel commented on #2659
WIth `matplotlib/1.5.1-intel-2016a-Python-2.7.11` on SL6, which depends on `Tk/8.6.4-intel-2016a-no-X11`, I'm not seeing this problem:

[code]

[2016-03-14 18:25] gppezzi commented on #2659
Could be related to the pkg-config settings? anyway, it is most probably system dependent.

How do you know it is finding the tk you have loaded or if it is using the system one?

[2016-03-14 21:37] verdurin commented on #1863
@boegel - trying to reproduce now. I suspect it's a change in the Fedora RPM groups.

[2016-03-14 23:08] verdurin commented on #1863
Okay, the ISL error has gone, but the X11 error is still there:

[code]

[2016-03-14 23:09] verdurin commented on #1863
I haven't installed anything in this VM other than what was requested by EB.

[2016-03-15 08:02] boegel commented on #1863
Now a duplicate of #1845?

Also, how did you resolve the ISL issue? How is it related to RPM groups, since ISL is provided by EB itself when building GCC?

[2016-03-15 08:04] boegel commented on #1863
Also duplicate of #2261, which has more info.

[2016-03-15 08:04] boegel commented on #1845
This is a duplicate of #2261, where more information is available on fixing this issue.

[2016-03-15 08:05] boegel commented on #2261
We now have libX11 easyconfigs that do not include a Python dependency anymore, so we can potentially solve this by adding libX11 as a (build) dep for Tk.

I'm not sure that's an ideal situation though, it should still be possible to build Tk without X11 support?

Any idea if that makes sense at all @nathanhaigh?

cc @verdurin

[2016-03-15 08:55] verdurin commented on #1863
On the latter point, I had installed the `development-tools` group, but now it appears you need `c-development` too. After doing that, the ISL error disappeared.

[2016-03-15 08:58] verdurin commented on #1863
Happy to close this and #1845 in favour of #2261 if you prefer.

[2016-03-16 07:55] boegel commented on #342
This issue only occurs with the Perl 5.16.3 easyconfigs we have; for the more recent Perl 5.20.x and 5.22.x easyconfigs, `DB_File` has been fleshed out in a separate easyconfig, that includes `DB`

[2016-03-16 17:19] boegel commented on #973
@besserox has been trying to convince the MVAPICH2 team not to remove source tarballs for previous versions...

[2016-03-16 17:44] besserox commented on #973
I will contact them right after the release of EasyBuild 2.7.0 and keep you updated.

[2016-03-19 09:31] pescobar opened #2737 "some typos in dowload urls for latest Perl easyconfigs extensions"
https://github.com/hpcugent/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/p/Perl/Perl-5.22.1-foss-2016a.eb#L156

https://github.com/hpcugent/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/p/Perl/Perl-5.22.1-foss-2016a.eb#L408

https://github.com/hpcugent/easybuild-easyconfigs/blob/develop/easybuild/easyconfigs/p/Perl/Perl-5.22.1-foss-2016a.eb#L549

[2016-03-19 10:53] pescobar commented on #2737
fixed in PR https://github.com/hpcugent/easybuild-easyconfigs/pull/2738

[2016-03-19 10:56] boegel commented on #2737
Let's follow up in the PR

[2016-03-19 10:56] #2737 closed

[2016-03-20 23:17] verdurin commented on #2261
Just a note that this still happens with `2.7.0`.

[2016-03-21 06:35] verdurin commented on #1935
Just come across this one on a CentOS 7 system, with `2.7.0`.

[2016-03-21 07:19] verdurin opened #2742 "Plotting for R"
At the moment, I have to use a local fork of the `R` EB to include `Cairo` during build, in order for plotting tools to work. I think some sites use `libpng` instead.

I don't really mind which is used - could we agree on one method and include that in the default EB?

This came up on IRC but I can't remember what the conclusion was.

[2016-03-21 08:30] verdurin opened #2747 "R Cairo extension requires Cairo"
As the title says, the `Cairo` dep for the `R` extension of the same name should be met either via the OS or via an EB:

[code]

[2016-03-21 12:38] verdurin commented on #2747
Another error with this extension:

[code]

[2016-03-21 13:53] verdurin opened #2749 "tcl tk failure with R extension tkrplot"
This is with `R-3.2.3-foss-2015b.eb` from `2.7.0`:

[code]

[2016-03-22 11:19] hajgato opened #2767 "Octave - no syntax highligting"
`Octave` needs `QScintilla2` to have syntax highlighting. `QScintilla2` depends on `Qt` (can be used with both `Qt4` and `Qt5`, and it installs itself into the original `Qt` directory. I did not investigate how could I install the necessary files to another directory, and if it is installed in another directory, how could be used. Its the fascinating world of `qmake`

[2016-03-22 14:06] sjtbham commented on #2749
I noticed this on one of our builds, looking at previous issues, I added the tk-devel and tcl-devel packages and this then built. However, as there is a dev on Tcl and Tk, I'd expect those to provide the correct files?

[2016-03-22 21:52] verdurin commented on #2749
Yes, there is a deeper problem here with the `Tcl` and `Tk` easyconfigs.

[2016-03-24 16:17] boegel commented on #529
This can be fixed with http://stackoverflow.com/questions/15285776/multiple-definitions-when-linking-collect2-error-ld-returned-1-exit-status

cc @SimonPinches

[2016-03-24 22:55] SimonPinches opened #2776 "Trouble installing Python-2.7.11-foss-2016a"
I have trouble to install `Python-2.7.11-foss-2016a` due to what I think is a `zlib` problem in `Tk/8.6.4-foss-2016a-no-X11`.

See this [log file](https://github.com/hpcugent/easybuild-easyconfigs/files/188815/easybuild-Tk-8.6.4-20160324.234408.iqUYd.log.txt) for more details.

[2016-03-24 23:10] boegel commented on #2776
Does including `zlib` in the list of dependencies for `Tk` (like it is for `Tcl` on which `Tk` depends already) help?

[2016-03-25 05:28] jgphpc opened #2777 "qt/4.8.6 dummy toolchain support"
Hi,
I (really) need to build qt/4.8 (for Cube, see [#941](https://github.com/hpcugent/easybuild-easyconfigs/issues/941)) with the dummy toolchain on Cray SLES/11.3 (=gcc/4.3).
Building it without easybuild:
[code]
is ok but i have a conflict with easyblocks/q/qt.py if i try with eb/270:

[qt.py](https://github.com/hpcugent/easybuild-easyblocks/blob/master/easybuild/easyblocks/q/qt.py#L55)

Can you

[2016-03-25 06:44] SimonPinches commented on #2776
Yes, this is fixed by #2778

[2016-03-25 07:15] boegel commented on #2777
What problems are you running into exactly with the Qt easyblock?

Also, why do you need to build Qt with the `dummy` toolchain? Just asking because it complicates things, e.g. EasyBuild does *not* prepare the build environment (like defining `$CC`, `$CFLAGS`, etc.) for `dummy`...

[2016-03-25 07:18] boegel commented on #2776
OK, great, thanks for issuing the PR, please close this issue.

[2016-03-25 07:22] jgphpc commented on #2777
Here is the output:
[code]

* The message "Don't know which platform to set ..." is coming from [qt.py](https://github.com/hpcugent/easybuild-easyblocks/blob/master/easybuild/easyblocks/q/qt.py#L55)

We can discuss about the dummy toolchain.

[2016-03-25 07:34] boegel commented on #2777
OK, thanks for clarifying that; the Qt easyblock is indeed not compatible with the `dummy` toolchain right now.

What we should do is allow that you can do this in a Qt easyconfig file:

[code]

If the Qt easyblock sees that this is defined, it would use it without question rather than derive it based on the compiler toolchain.

So, the relevant block in the Qt easyblock should become something li

[2016-03-25 08:36] boegel commented on #2338
hpcugent/easybuild-framework#

[2016-03-25 14:58] SimonPinches opened #2783 "Query as to whether CPATH is set correctly in the libxml2 modules"
At present `CPATH=$EBROOTLIBXML2/include` in the `libxml2` modules but maybe it should be `CPATH=$EBROOTLIBXML2/include/libxml2`?

@boegel just helped me to create a fix for this problem in the easyconfig file for a library I needed to build (see #2787): `preconfigopts = 'export CFLAGS="$CFLAGS -I$EBROOTLIBXML2/include/libxml2 " && '` but maybe the fix should be to the `libxml2` modules?

(I admit

[2016-03-25 22:24] boegel commented on #2777
@jgphpc Thanks for looking into this in https://github.com/hpcugent/easybuild-easyblocks/pull/875 (which needs to be reopened since it's targeting `master` than `develop`, but fine).

I suggest we close this, and follow this up in your easyblocks PR?

[2016-03-26 11:26] jgphpc commented on #2777
yes please close it.

[2016-03-26 16:51] #2777 closed

[2016-03-27 11:03] SimonPinches commented on #2776
Fixed and closed :-)

[2016-03-27 11:03] #2776 closed

[2016-03-31 21:06] boegel commented on #529
fixed in #2774, #2779, #2816

[2016-03-31 21:06] #529 closed

[2016-04-01 07:51] boegel opened #2817 "motif 2.2.4 w/ goolf/1.4.10 fails"
[code]

problem seems to be missing dependencies (libX11, libxcb, ...)

[2016-04-01 10:33] jgphpc opened #2818 "tmux configopts"
Hi,

To build tmux using the dummy toolchain (Suse11),
i have to:
```module load libutempter/1.1.6-3```
because i need $EBROOTLIBUTEMPTER for:
```configopts =  " LDFLAGS=-L$EBROOTLIBUTEMPTER/lib"```
although i would expect:
 ```builddependencies = [ ('libutempter', '1.1.6-3'), ]```
to set $EBROOTLIBUTEMPTER for me (without having to do the module load).

Thanks for any advice.

[2016-04-01 11:30] pforai commented on #2818
When you run eb with debug and logging do you see the libutemper module not being loaded? Can you post a gist of the log and link it here?

 `builddependencies[]` are loaded as modules at build time - the same as for normal dependencies. The only difference is that normal dependencies are for things that are need at run time of the application you're trying to build (say shared libraries and relat

[2016-04-01 11:51] boegel commented on #2818
@jgphpc for easyconfig that use the `dummy` toolchain and have (build) dependencies listed, you must use a non-`dummy` version in the toolchain specification, for example:

[code]

as opposed to

[code]

Using `dummy` as toolchain version has the side effect of not loading modules for (build) dependencies during the installation. There used to be a (somewhat) good reason for this, but today it's j

[2016-04-01 12:05] jgphpc commented on #2818
Hi,

Thank you both for looking. I can confirm that ```version:''``` fixes the problem.
Thank you also for the system toolchain, i will try to use it from now on.

jg.

[2016-04-01 12:05] #2818 closed

[2016-04-07 01:06] boegel opened #2833 "missing FFTW dependency in CP2K 2.6.0 easyconfig with CrayGNU"
The 3.0 easyconfig do have `fftw` listed as a dependency to be resolved via an external module.

cc @gppezzi, @lucamar

[2016-04-08 11:11] verdurin opened #2841 "Better new-pr diagnostics"
I'm trying out `--new-pr` and I'm finding the error messages less than fully helpful.

E.g.

[code]

For example, if I'm missing some of the mandatory options, EB should say so.

[2016-04-08 14:58] ehiggs opened #2845 "worker depends on -bare Perl but it needs packages in the full fat Perl."
[This line](https://github.com/hpcugent/easybuild-easyconfigs/blob/master/easybuild/easyconfigs/w/worker/worker-1.5.1-intel-2015a.eb#L18) should not have the `-bare`

The current install yields:

[code]

Swapping for the full fat version fixes it:

[code]

[2016-04-08 22:44] boegel commented on #2845
@ehiggs: how about a PR to fix it?

[2016-04-10 20:47] verdurin commented on #2841
Okay, after actually reading the error message properly, I tried again and now it says it's missing a path, but it's not clear to which path it's referring?

[2016-04-14 08:25] boegel commented on #2845
fix in #2884

[2016-04-14 08:25] #2845 closed

[2016-04-14 11:30] ehiggs commented on #2845
:+1:

[2016-04-14 15:14] boegel commented on #2100
Other potential issues with GCC 5.x are being uncovered (not related to Intel, but I figured I should mention it here too), cfr. https://github.com/openhpc/ohpc/issues/207#issuecomment-209976993

[2016-04-17 07:30] verdurin commented on #2465
Just a note that one of our groups insists that they need *all* the BioC packages, primarily because they occasionally receive requests for some of the obscure ones and they'd prefer not to have to install those on the fly.

[2016-04-17 09:42] fgeorgatos commented on #2465
That group should take ownership of their problem, to appreciate what they
are asking for ;)

On Sunday, 17 April 2016, Adam Huffman <notifications@github.com> wrote:

--
echo "sysadmin know better bash than english"|sed s/min/mins/ \
  | sed 's/better bash/bash better/' # signal detected in a CERN forum

[2016-04-17 11:03] verdurin commented on #2465
I would agree, but in fact they maintain it themselves now in their own private area, and we're trying to move people towards central infrastructure (three institutes are merging into one).

[2016-04-19 13:22] boegel commented on #2655
@nathanhaigh ping?

[2016-04-25 21:56] verdurin commented on #2261
Just bumped into this one again, on a cloud-based cluster.

Would be nice to fix it for `2.8.0`.

[2016-04-26 06:18] verdurin opened #2951 "Python 2.7.11 missing `unzip`?"
I'm trying to build `Python 2.7.11` for `foss-2016a`, based on the `intel-2016a` easyconfig.

It's complaining that `unzip` isn't available.

[easybuild-Python-2.7.11-20160425.230755.POoHd.txt](https://github.com/hpcugent/easybuild-easyconfigs/files/236003/easybuild-Python-2.7.11-20160425.230755.POoHd.txt)

[2016-04-26 06:21] verdurin commented on #2951
This is with an Ubuntu `14.04` VM, based on the official cloud image.

[2016-04-26 09:50] verdurin commented on #1935
Another confirmation that this occurs on an Ubuntu 14.04 VM, with 2.7.0, as @nathanhaigh mentioned above.

[2016-04-26 09:53] verdurin commented on #1935
@boegel - your separate bundle idea sounds the least painful to me.

[2016-04-26 11:56] verdurin commented on #2747
Just bumped into this one again. I'd actually already built a Cairo module, so it clearly wasn't detected by R.

[2016-04-26 18:52] boegel commented on #2951
@verdurin that probably occurs more often, since `unzip` is commonly available on the OS...

Just includes a (build) dep may not work here though, see also https://github.com/hpcugent/easybuild-framework/issues/1376...

[2016-04-26 18:55] boegel commented on #2261
@verdurin The only proper way to fix this, without relying on the OS, is to include libX11 as a dependency for Tk, which only works for the more recent toolchains where we got rid of the Python (build) dependency...

[2016-04-26 19:19] dominikborkowski commented on #2659
Same problem here, foss-2016a on SLES11 SP3. Trying to compile matplotlib 1.4.3 and 1.5.1 results in the same error:

/apps/easybuild/software/shadowfax-westmere/binutils/2.25-GCCcore-4.9.3/bin/ld.gold: error: cannot find -ltcl
/apps/easybuild/software/shadowfax-westmere/binutils/2.25-GCCcore-4.9.3/bin/ld.gold: error: cannot find -ltk

After compiling a new Tk without the version suffix (Tk/8.6.4-

[2016-04-27 14:03] verdurin commented on #2037
Upstream bug report at:

https://github.com/sympy/sympy/issues/10818

[2016-04-27 15:00] dominikborkowski commented on #2037
Just to add more data points, this error also occurs on foss-2016a with Python 2.7.11 and sympy 0.7.6:

sympy/external/tests/test_autowrap.py[0] Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "sympy/utilities/runtests.py", line 516, in _test
    slow=slow, enhance_asserts=enhance_asserts))
  File "sympy/utilities/runtests.py", line 981, in test
    self.test_file(

[2016-04-29 07:39] verdurin opened #2970 "kallisto MPI problem with foss-2016a"
I'm trying to build `kallisto` for `foss-2016a`.

There's an error at the linking stage relating to MPI, which is odd because `kallisto` doesn't use MPI...

[easybuild-kallisto-0.42.4-20160429.082510.iBfIV.log.txt](https://github.com/hpcugent/easybuild-easyconfigs/files/241931/easybuild-kallisto-0.42.4-20160429.082510.iBfIV.log.txt)

[2016-04-29 10:19] ocaisa commented on #2767
I got around this by adding Qscintilla to the initial Qt install. The relevant bits are:
[code]
and
[code]

[2016-04-29 13:46] boegel commented on #2659
fixed in #2971

I'm pretty sure the fix works, so I'll close this, but please confirm @gppezzi and/or @dominikborkowski

[2016-04-29 13:46] #2659 closed

[2016-04-29 14:02] boegel commented on #2970
As mentioned by @rjeschmi on IRC, this is probably by using the parallel version of HDF5 as a dependency.

@verdurin can you try changing the HDF5 dep to the 'serial' variant?

[2016-04-30 07:41] verdurin commented on #2970
Thanks @rjeschmi and @boegel.

Fixed in https://github.com/hpcugent/easybuild-easyconfigs/pull/2979

[2016-04-30 07:41] #2970 closed

[2016-04-30 17:33] andreas-h opened #2983 "WRF-3.6.1-foss-2015a-dmpar.eb build failure"
Actually, the _build_ stage seems to pass fine, but in _test_, there's a problem:

[code]

Full log is here: https://gist.github.com/andreas-h/54eef7eef971c6a7c37c58f38c2f8ab1

[2016-04-30 17:52] boegel commented on #2983
@andreas-h Two things to try:

* limit the number of cores being used in the test run, by specifying `parallel = 4` in the easyconfig file, for example; EasyBuild will use the formula `n = self.cfg['parallel'] / 2 + 1` to pick the number of processes to use in the test, but this may be too high... We may need to limit that to a max of 4 or 8 or so.

* you can try bypassing the test using `runtest

[2016-05-02 10:15] hajgato commented on #2767
@ocaisa Where does it install `QScintilla`? To the origininal `Qt` directory, or somewhere else? I am not so happy if it installs to the original `Qt` directory.

[2016-05-02 11:43] ocaisa commented on #2767
Yeah, its a hack, it installs at the same time as Qt so adds the libs to the same directory

[2016-05-02 14:12] boegel commented on #2767
@ocaisa any reason why you're not including `QScintilla` as a dependency?

[2016-05-02 16:08] boegel opened #2999 "PyPI URL format changed"
the download URL for (new versions of) Python packages has changed to include a hash, making it pretty much impossible to 'guess'...

see https://bitbucket.org/pypa/pypi/issues/438

thanks @pescobar for the pointer

[2016-05-02 18:39] ocaisa commented on #2767
Because I don't know how to install Qt extensions without them ending up in the initial Qt install path.

On 2 May 2016 5:12 p.m., "Kenneth Hoste" <notifications@github.com<mailto:notifications@github.com>> wrote:

@ocaisa<https://github.com/ocaisa> any reason why you're not including QScintilla as a dependency?

—
You are receiving this because you were mentioned.
Reply to this email directly or

[2016-05-03 05:46] hajgato commented on #2767
@boegel @ocaisa
I tried to look into this issue at the beginning, and I found that it is not possible to install `Qt` extensions to a separate directory without patching `Qt`. At least I was not able to figure out, although I did not spend too much time with this issue, as it was not crucial for me.

[2016-05-08 07:59] verdurin opened #3011 "Possible linker problem with foss-2016a"
I'm working on an easyconfig for fastq-tools (http://homes.cs.washington.edu/~dcjones/fastq-tools/).

It compiles fine on my build system on Fedora 23, but fails on the same system using `foss-2016a`.

I've reported this upstream at https://github.com/dcjones/fastq-tools/issues/17 because I'm not sure yet whether it's a problem there or with EB.

The actual problem is that during the configure ste

[2016-05-08 20:33] boegel commented on #3011
@verdurin so, with the broken build you're seeing `-lpthread-lm` in `$LIBS`?

Using `eb -x`, you can figure how EasyBuild defines `$LIBS` in the build environment, which may help.

This looks a lot like a missing space somewhere though; should be `-lpthread -lm`?

[2016-05-08 21:10] verdurin commented on #3011
@boegel - thanks for looking.

It does look like a missing space, or perhaps a failure to check for an empty value somewhere.

What was puzzling me was why `-lpthread` was being added at all.

Anyway, `$LIBS` is set to `-lm -lpthread` in the dry run, so it doesn't look like the problem is at the EasyBuild end.